@charset "UTF-8";

@import url(related-content.css);

#vrtx-content {
  width: 100%;
  float: left;
}

#vrtx-main-content {
  float: left;
  width: 63%;
  position: relative;
  margin-right: 3%;
}

#vrtx-main-content.vrtx-hide-additional-content-true {
  width: 100%;
}

#vrtx-additional-content {
  float: left;
  width: 33%;
}

#vrtx-related-content {
  float: left;
  width: 100%;	
}

.vrtx-social-components {
  clear: left;
  float: left;
  width: 100%;
  padding: 10px 0;
  font-size: 0.9em;
  text-align: right;
  position: relative;
}

#vrtx-share-component {
  position: absolute;
  bottom:-15px;
  right:0;
  text-align: left;
}