#content,
#vrtx-content {
  width: 100%;
  float: left;
}

#main-content,
#vrtx-main-content-false,
#vrtx-main-content-,
#vrtx-main-content {
   float: left;
   width: 555px; /* for now */
   position: relative;
}

#additional-content,
#vrtx-related-content {
  float: right;
  width: 260px /* for now */
}

#vrtx-main-content-true{
   float: left;
   width: 100%; /* for now */
}

.vrtx-social-components {
  clear: left;
  float: left;
  width: 100%;
  padding: 10px 0;
  font-size: 0.9em;
  text-align: right;
  position: relative;
}

#vrtx-share-component {
  position: absolute;
  bottom:-15px;
  right:0;
  text-align: left;
}