#vrtx-content {
  width: 100%;
  float: left;
}

#vrtx-main-content-false,
#vrtx-main-content-,
#vrtx-main-content {
   float: left;
   width: 63%; /* for now */
   position: relative;
   margin-right: 3%;
}

#vrtx-related-content {
  float: left;
  width: 33% /* for now */
}

#vrtx-main-content-true {
   float: left;
   width: 100%; /* for now */
}

.vrtx-social-components {
  clear: left;
  float: left;
  width: 100%;
  padding: 10px 0;
  font-size: 0.9em;
  text-align: right;
  position: relative;
}

#vrtx-share-component {
  position: absolute;
  bottom:-15px;
  right:0;
  text-align: left;
}