
.vrtx-grouped-vertical, .vrtx-media-ref, .vrtx-simple-html, .vrtx-media-ref, .vrtx-simple-html-small, 
.vrtx-html,.vrtx-string,.vrtx-date,.vrtx-image-ref,.vrtx-checkbox,.vrtx-dropdownlist,.vrtx-radio {
  padding: 5px 10px;
  clear: left;
  float: left;
}

.vrtx-string .date{
    margin-right: 1em;
}

.vrtx-string .hours{
    margin-right: .2em;
}

.vrtx-string .minutes{
    margin-left: .2em;
}

.vrtx-grouped-horizontal .vrtx-media-ref, .vrtx-grouped-horizontal .vrtx-simple-html-small,
.vrtx-grouped-horizontal .vrtx-simple-html, .vrtx-grouped-horizontal .vrtx-html, .vrtx-grouped-horizontal .vrtx-string,
.vrtx-grouped-horizontal .vrtx-date, .vrtx-grouped-horizontal .vrtx-image-ref, .vrtx-grouped-horizontal .vrtx-checkbox,
.vrtx-grouped-horizontal .vrtx-dropdownlist, .vrtx-grouped-horizontal .vrtx-radio {
    clear: none; 
    float: left;
    padding-right: 1em;
}

.vrtx-grouped-vertical .vrtx-media-ref, .vrtx-grouped-vertical .vrtx-simple-html-small,
.vrtx-grouped-vertical .vrtx-simple-html, .vrtx-grouped-vertical .vrtx-html,.vrtx-grouped-vertical .vrtx-string,
.vrtx-grouped-vertical .vrtx-date, .vrtx-grouped-vertical .vrtx-image-ref, .vrtx-grouped-vertical .vrtx-checkbox,
.vrtx-grouped-vertical .vrtx-dropdownlist, .vrtx-grouped-vertical .vrtx-radio {
    clear: left; 
    float: left;
}

.vrtx-simple-html textarea{
    height: 22.5ex;
    width: 500px;
}

.vrtx-simple-html {
    width: 500px;
}

.vrtx-simple-html iframe{
    height: 300px;
}

.introduction iframe{
    height: 150px;
}

.additional-content iframe {
    height: 210px;	
}

.vrtx-simple-html-small textarea{
    height: 12.5ex;
    width: 350px;
}

.vrtx-simple-html-small {
  width: 350px;
}

.vrtx-simple-html-small iframe{
  height: 95px;
}

.vrtx-html {
  width: 98% !important;
}

.vrtx-grouped {
  /*XXX Temp border to indicate grouped props*/
  /* border: 1px solid #a9a9a9; */
}

.vrtx-grouped-horizontal {
  /*XXX Temp border to indicate grouped props*/
  /*border: 1px solid #a9a9a9; */
  clear: left;
  float: left;
  width:auto;
}

.vrtx-grouped-vertical {
  /*XXX Temp border to indicate grouped props*/
  /*border: 1px solid #a9a9a9;*/
  float:left;
  width: auto;
  clear: none;  
  padding: 0;
  position:relative;
}

#contents {
  overflow: auto;
  background-color: #efefef;
}

.submit {
  padding: 10px;
  clear: left;
  display: block;
}

div.vrtx-multipleinputfield{
  padding-bottom:5px;
}

.vrtx-image-ref img{
  max-height:150px;
  padding:5px;
}

/* START Introduction image edit like the old one */

.vrtx-grouped-vertical .image-caption {
  position:absolute;
  top:55px;
  left: 0px;
}

.vrtx-grouped-vertical .vrtx-image-ref.introduction-img div.vrtx-image-ref-browse {
  float: left;
}

.vrtx-grouped-vertical .vrtx-image-ref.introduction-img div.vrtx-image-ref-browse input#introduction-img {
  width: 200px;
}

.vrtx-grouped-vertical .vrtx-image-ref.introduction-img div#introduction-img\.preview {
  margin:0 0 0 367px;
  height:150px; /* same height as (label, input + image-caption) to avoid the absolute positioned image-caption to overflow into below fields */
}

.vrtx-grouped-vertical .vrtx-image-ref.introduction-img div#introduction-img\.preview img {
  padding: 0;
}

/* STOP Introduction image edit like the old one */
	
#media-ref {
  width: 370px;	
}

.contactInfo iframe {
  height: 200px;	
}

.vrtx-string.title {
  width: 496px;
}

.vrtx-string.title #title {
  width: 496px;	
}

h2.vrtx-title{
	clear:left;
	float:left;
	overflow:hidden;
}

input.vrtx-add-button {
	 clear:left;
	 display:block;
	 float:left;
	 margin:10px;
}

input.vrtx-remove-button {
	float:right;
	margin:10px;
}

fieldset {
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	border:1px solid #DDDDDD;
	clear:left;
	width:900px;
    float:left;
    margin:5px 0;
}

div.vrtx-json-element {
	background-color:#EEEEFF;
	border:1px solid #CCCCCC;
	margin:0.2em;
	width:890px;
	overflow:hidden;
    clear: left;
    float: left;
}

.tooltip {
	display: inline;
	font-size:0.8em;	
}
	
