/* START comments */

div.vrtx-comments {
  margin-top: 0.5em;
  background-color: #fff;  
  padding: 1em 0 0 0;
  height: 1%;
  clear: both;
  border-radius: .75em;  /* CSS3 */
  -moz-border-radius: .75em;
  -webkit-border-radius: .75em; 
}

div.vrtx-comments  div.comments-header {
  margin: 0 1em 1em 0;
}

div.vrtx-comments  div.comments-header a.header-href {
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

div.vrtx-comments div#comments-header-left {
  float: left;  
  position: relative;   
  margin-bottom: 1em;
}

div.vrtx-comments div#comments-header-left form.vrtx-comments-delete-all {
  display: inline;
}

div.vrtx-comments form.vrtx-comments-delete { 
  display: inline;
}

div.vrtx-comments div#comments-header-feedHref {
  background: url(icons/rss-icon-no-shadow.png) left no-repeat;
  float: right; 
  position: relative;   
}

div.vrtx-comments div#comments-header-feedHref a {
  padding-left: 1.5em;  
}

div.vrtx-comments div.vrtx-comment {
  margin:0;
  padding: 0;
  width: 100% ;
  float: left;
  /* border-bottom:1px dotted #aaa; Uniforum dotted line */
}

div.vrtx-comments div.comment- {
  font-size: .9em;
  width: 13em;
  float: right;
}

div.vrtx-comments div.comment-body {
  background-color: #fff;
  float: right;
  width: 76%;
  height: 100%;
}

* html div.vrtx-comments div.comment-body {
  padding: 1em;
} 

div.vrtx-comments div.even {
  clear: left;
}

div.vrtx-comments div.odd {
  clear: left;
}

div.vrtx-comments div.comment-info {
  font-size: .9em;
  float: left !important;
  width: 20% !important;
  padding: 1em 2% 1em 0;
}

.comment-syntax-desc {
  display: none;
}

div.vrtx-comments div.add-comment div.submit {
  margin-top: -2px;
  padding: 0;
}

/* IE hack: */
* html div.vrtx-comments div.add-comment div.submit{
  clear:both;
  margin-top: -21px; 
}

div.vrtx-comments div.comments-text {
  padding: 0 0 1em 0;
  border-radius: .75em;  /* CSS3 */
  -moz-border-radius: .75em;
  -webkit-border-radius: .75em;
  background-color: #fff;
  height: 1%; 
}

div.vrtx-comments #comments-text {
  border: 1px solid #aaa;
}

div.vrtx-comments div.comments-text textarea {
  width: 100%; 
}

#comments-text___Frame { /* FCK input area */
  border: 1px solid #999;
}

/* IE6 hacks */

* html div.vrtx-comments div.comments-text {
  float: left;
}

* html div.vrtx-comments div.comments-text textarea {
  width:99%; 
  font-size: 1em;
}

div.vrtx-comments div.comment-info .comment-author{
  float: left;
}
div.vrtx-comments div.comment-info .comment-date {
  clear: left;
  float: left;
}

.comment-delete-button {
  clear: left;
  float: left;
}

/* Add comments */

div.vrtx-comments  div.add-comment {
  background-color: #fff;
  padding: 1em 1em 1em 0;
  height: 1%; 
  margin: 0;
  clear: left;
  border-radius: .75em;  /* CSS3 */
  -moz-border-radius: .75em;
  -webkit-border-radius: .75em; 
}

div.vrtx-comments div.comment-body p {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.vrtx-comments div.add-comment-header {
  margin-bottom: .9em;
  font-size: 1.1em;
  font-weight: bold;
}

div.vrtx-comments div.comment- a.javascript-editor {
  white-space: nowrap;
}

div.vrtx-comments .error {
  color: red;
}

div.vrtx-comments div.comments-text div.error {
  margin-top: 1em;
}

form.vrtx-comments-post,
form.vrtx-comments-delete,
form#vrtx-comments-delete-all {
  float: none !important;
}