@import url(default-layout.css);
@import url(boxes.css);

.box.contactinfo h4 {
  margin-bottom: 5px;
  clear: left;
  float: left;
}

/* Person bilde */
.box-image {
  max-width: 40%;
  float: left;
}

div.vrtx-person-image {
  float: left;
  width: 100%;
  margin: 0 0 15px 0;
}

div.vrtx-person-image img {
  margin: 0; /* margin to pressPhoto link */
  max-width: 100%;
}

ul.list {
  margin: 0;
  padding: 0;	
  list-style: none;
  float: left;
  clear: left;
}

ul.list li {
  margin: 0 0 5px 0;
  padding: 0;
}
