@charset "UTF-8";

/* @import url(default-layout.css); */

h1 {
  margin-bottom: 10px;	
}

#vrtx-person-position {
  padding: 0 0 10px 0;
  font-size:1.3em;
  font-weight:900;
}

/* Person contactinfo og bilde wrapper */
#vrtx-person-contact-info-wrapper {
  clear: left;
  padding: 15px 15px 10px;
  margin:0 0 15px;
  border: 1px solid #ccc;
  background-color:#fff;
}

.vrtx-person-contactinfo {
  float: left;
  width: 65%; 
}

#vrtx-person-contact-info-extras {
  clear: left;
  border-top: 1px dotted #ccc;
  margin: 0 -5px 0;
  padding: 10px 5px 0;
}

.vrtx-person-visiting-address,
.vrtx-person-postal-address {
  float: left;
  width: 48%;
  margin-right: 2%;
  padding: 15px 0;
}

.vrtx-person-visiting-address .vrtx-label,
.vrtx-person-postal-address .vrtx-label {
  padding-bottom: 5px;
  display:block;
}

.vrtx-person-contact-info-line {
  padding-bottom: 5px;
  font-size: 1.1em;
}

.vrtx-person-contact-info-line:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.vrtx-person-contact-info-line .vrtx-label {
  display:block;
  float:left;
  clear:left;
  width:110px;
}

.vrtx-person-contact-info-line .vrtx-value {
  display:block;
  float:left;
  width:50%;
}

.vrtx-address-line {
  float: left;
  clear: left;
  width: 100%;	
}

.vrtx-label {
  font-weight: bold;
}

.vrtx-person-image {
  float: left;
  max-width:150px;
  margin:0 15px 0 0;
  padding-bottom: 15px;
}

.vrtx-person-image img {
  margin: 0; /* margin to pressPhoto link */
  max-width: 100%;
}

.vrtx-projects ul.vrtx-projects-list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
}

.vrtx-projects  ul.vrtx-projects-list li.vrtx-project {
  margin:0 0 10px;
}

ul.vrtx-frida-publications {
  list-style: none;
  margin: 0;
  padding: 0 0 0 2em;
}

ul.vrtx-frida-publications li.vrtx-frida-publication {
  margin: 0;
  padding: 0 0 5px 0;
  text-indent:-2em;
} 