@import url(default-layout.css);
@import url(boxes.css);

h1 {
  margin-bottom: 10px;	
}

#position {
  padding: 0 0 10px 0;
  font-size:1.3em;
  font-weight:900;
}

.box.contactinfo {
  float: left;
  width: 57%;
  margin-right: 3%;	
}

.box.contactinfo h4 {
  margin: 5px 0;
  clear: left;
  float: left;
}

ul.list h4 {
  float: none !important;
  clear: none !important;
  display: inline;	
}

#contact-image {
  float: left;
  clear: left;
  width: 100%;	
}

/* Person bilde */
.box-image {
  max-width: 40%;
  float: right;
}

div.vrtx-person-image {
  float: left;
  width: 100%;
  margin: 0 0 15px 0;
}

div.vrtx-person-image img {
  margin: 0; /* margin to pressPhoto link */
  max-width: 100%;
}

ul.list {
  margin: 0;
  padding: 0 0 10px 0;
  list-style: none;
  float: left;
  clear: left;
}

ul.list li {
  margin: 0 0 5px 0;
  padding: 0;
}
