@import url(default-layout.css);
@import url(boxes.css);

/* Bilde uten bildetekst */
/* Bilde med bildetekst */
img.vrtx-introduction-image,
div.vrtx-introduction-image {
    float: left;
    margin: 0em 1em 1em 0em;
    max-width:100%;
    overflow:hidden;
}

div.vrtx-introduction-image div.vrtx-imagetext div.vrtx-imagedescription {
   margin: 1em 0;
   padding: 0;  
}

/* IE6 / IE7 margin tweak */
div.vrtx-introduction-image div.vrtx-imagetext div.vrtx-imagedescription p {
   margin: 0;
}

div.vrtx-introduction-image div.vrtx-imagetext span.vrtx-photo {
   display: block; /* Make it same as vrtx-imagedescription */
   margin: 1em 0;
   padding: 0;
   /* font-style: italic; */
}

div.vrtx-introduction-image div.vrtx-imagetext span.vrtx-photo span.vrtx-photo-prefix {
   margin: 0;
   padding: 0;  
}

div.vrtx-introduction-image div.vrtx-imagetext span.vrtx-imagetitle {
    font-weight: bold;
}

ul#vrtx-project-participants {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul#vrtx-project-participants li {
  margin:0 0 10px;
}

.vrtx-press-image-link {
	
}