/* Override default styling of classes for autocomplete */

.ac_results {
  background-color: #fff;
  border-color: -moz-use-text-color #a0a0a0 #a0a0a0;
  border-right: 1px solid #a0a0a0;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  margin-left: -10px;
  margin-top: -2px;
  overflow: hidden;
  padding: 0;
  z-index: 999 !important;
}

.ac_results ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ac_results ul li {
  background-image: none;
  cursor: default;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  overflow: hidden;
  padding: 10px 11px;
  text-align: left;
}

.ac_odd, .ac_even {
  border-bottom: 1px solid #d0d0d0;
}

.ac_loading {
  background: url("/vrtx/__vrtx/static-resources/themes/default/icons/tabmenu-spinner.gif") no-repeat scroll right center transparent;
}

.ac_odd {
  background-color: #fff;
}

.ac_even {
  background-color: #fff;
}

.ac_over {
  background-color: #0b5a9d; /* uio-links */ /* vrtx-links: #005AAB */
  color: #fff;
}

.ac_last {
  border: medium none;
}

.ac_results .vrtx-autocomplete-search-img,
.ac_results .vrtx-person-search-img {
  float: left;
  overflow: hidden;
  padding-right: 11px;
  width: auto;
}

.ac_results .vrtx-autocomplete-search-img img,
.ac_results .vrtx-person-search-img img {
  width: 40px;
}

.ac_results .vrtx-autocomplete-search-info .vrtx-autocomplete-search-title,
.ac_results .vrtx-person-search-info .vrtx-person-search-name {
  font-size: 16px;
}

.ac_results .vrtx-autocomplete-search-info .vrtx-autocomplete-search-subtitle,
.ac_results .vrtx-person-search-info .vrtx-person-search-position {
  font-size: 13px;
}

.ac_results .vrtx-autocomplete-search-info .vrtx-autocomplete-search-title,
.ac_results .vrtx-autocomplete-search-info .vrtx-autocomplete-search-subtitle,
.ac_results .vrtx-person-search-info .vrtx-person-search-name, 
.ac_results .vrtx-person-search-info .vrtx-person-search-position,
.ac_results .vrtx-person-search-info .vrtx-person-search-tags {
  display: block;
}