body#vrtx-trash-can #contents form {
  border: 1px solid #B0E0E6;
}

#vrtx-trash-can-table #vrtx-trash-can-header th {
  /* font-weight: bold; */
}

#vrtx-trash-can-table td.checkbox {
  text-align: center;
}

ul.tabMenu2 li.recoverResourceService a,
ul.tabMenu2 li.deleteResourcePermanentService a {
  padding-left: 10px;
}
