/* Global rules */
html {
	min-width: 600px;
}

p {
	margin-top: 1em;
}

/* redundant rules for bad browsers  */
body,div,td,th,h1,h2,h3,h4 {
	font-family: Arial, Helvetica, sans-serif;
	voice-family: "\"}\"";
	voice-family: inherit;
	color: black;
}

/* Clears Box Model Hack in IE5 */
.clearhack {
	display: inline;
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

body {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}

form {
	margin: 0;
	padding: 0;
}

pre {
	margin-top: 0px;
	padding-top: 0px;
}

div.body {
	padding: 15px 20px 0 20px;
}

div#main {
	clear: both;
	border: solid #999 1px;
}

#contents {
	height: 1%;
	/* Prevent preview iframe from breaking in IE (width: 100%) )*/
	padding: 0.75em;
	min-height: 50px;
}

ul.listMenu {
	list-style-type: none;
	white-space: nowrap;
}

ul.listMenu li {
	display: inline;
}

/* Error messages */
div.error {
	padding: 1em 1.0em;
	min-height: 100px;
}

div.error h1.errorHeader {
	font-size: 100%;
	background: #efefef url(alert.png) no-repeat 5px 5px;
	padding-top: 10px;
	padding-left: 35px;
	height: 40px;
}

div.error p.errorMessage {
	font-size: 90%;
}

div.error div.exception h2 {
	font-size: 90%;
}

div.error div.exception {
	font-size: 90%;
}

div.error div.exception ul.stacktrace {
	font-size: 80%;
	font-family: monospace;
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
}

p.errormessage {
	font-size: 100%;
	background: url(alert.png) no-repeat 0px 0px;
	font-weight: bold;
	color: red;
	padding-top: 5px;
	padding-left: 32px;
}

div.infomessage {
	font-size: 110%;
	font-weight: bold;
	padding: 5px;
	border: 1px solid #CCCCCC;
	color: #333;
	text-align: center;
	margin-bottom: 5px;
}

div.webdavmessage {
	font-size: 110%;
	padding: 10px;
	text-align: left;
	margin-bottom: 5px;
}

ul.errors {
	padding: 0 0 7px 0;
	margin: 0;
	list-style-type: none;
	color: red;
}

/* Banner section: */
div.banner {
	width: 100%;
	height: 3.4em;
	vertical-align: middle;
	border-bottom: solid 2px;
	border-color: #9C9A9C;
}

* html div.banner div.text {
	margin: 7px 10px;
}

* html div.banner div.menu {
	margin: 20px 10px;
}

div.banner div.text {
	margin: 7px 20px;
	float: left;
	color: #9C9A9C;
	font-size: 90%;
}

div.banner div.text span.hostname {
	font-size: 140%;
	display: block;
	color: #696769;
}

div.banner div.menu {
	margin: 20px;
	float: right;
	font-size: 80%;
}

div.banner div.menu span.principal {
	margin-left: 15px;
	padding-right: 15px;
	background: transparent url(person.gif) no-repeat 1% 50%;
}

div.banner div.menu span.principal span.name {
	padding-left: 20px;
}

/* Breadcrumb rules: */
div.breadcrumb {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 80%;
	background: whitesmoke;
	padding: 3.5px 3px 3.5px 7px;
}

div.breadcrumb ul {
	padding-left: 0px;
	display: inline;
}

div.breadcrumb li {
	display: inline;
}

/* Start resource title section: */
div#titleContainer {
	padding-bottom: 1.4em;
}

div.resource-title {
	background: transparent url(file.png) no-repeat 0px 5px;
	height: 30px;
	padding-top: 8px;
}

/* IE7 Hack */
html>body div.resource-title { *
	height: 1%;
}

div.resource-title h1 {
	max-width: 50%;
	/* To prevent box from extending all the way and cause wrapping */
	padding-right: 5px;
	float: left;
	display: inline;
	font-size: 135%;
	font-weight: bold;
	margin: 0 0 0 30px;
}

div.collection,div.article-listing,div.event-listing {
	background: transparent url(dir.png) no-repeat 0px 5px;
}

div.collection h1,div.article-listing h1,div.event-listing h1 {
	margin: 0 0 0 38px;
}

div.audio {
	background: transparent url(audio.png) no-repeat 0px 5px;
}

div.audio h1 {
	margin: 0 0 0 33px;
}

div.video {
	background: transparent url(video.png) no-repeat 0px 5px;
}

div.video h1 {
	margin: 0 0 0 37px;
}

div.image {
	background: transparent url(image.png) no-repeat 0px 5px;
}

div#titleContainer form {
	background: #ccccff;
	width: 95%;
	margin-top: 7px;
	padding: 15px;
	clear: both;
	float: left;
}

div#titleContainer h3 {
	font-size: 100%;
	padding-bottom: 10px;
}

ul.globalMenu {
	float: left;
	display: inline;
	list-style-type: none;
	margin: 4px 0 0 0;
	padding-left: 0px;
}

ul.globalMenu li {
	display: inline;
	padding-right: 5px;
}

ul.lock {
	padding-top: 5px;
	margin: 0;
	padding-left: 0;
	float: right;
	display: inline;
	list-style-type: none;
}

ul.lock li {
	display: inline;
	font-size: 80%;
	padding-left: 20px;
	background: transparent url(lock.gif) no-repeat 0px 25%;
}

/* End resource title section: */ /*  Start of 'TabMenuLine' section: */
div.activeTab {
	padding: 5px 10px 4px 15px;
}

/* IE6 overflow fix */
* html div.activeTab {
	height: 1% !important;
	overflow: hidden !important;
}

/* TabMenu1 */
ul.tabMenu1 {
	float: left;
}

ul.tabMenu1 li.navigateToParentService {
	background: url(up.gif) no-repeat 1% 50%;
}

ul.tabMenu1 li.navigateToParentService a {
	padding-left: 22px;
}

/* TabMenu2 */
ul.tabMenu2 {
	float: right;
	padding: 2px 0 2px 0px;
}

ul.tabMenu2 li {
	margin-left: 10px;
}

/* Items in tabMenu2 with icons (icons are optional) */
ul.tabMenu2 li.fileUploadService {
	background: transparent url(upload.gif) no-repeat;
}

ul.tabMenu2 li.createDocumentService {
	background: transparent url(nyfil.gif) no-repeat;
	padding-top: 4px; /* Taller icon*/
}

ul.tabMenu2 li.moveResourcesService {
	background: transparent url(move.png) no-repeat 0px 2px;
	padding-top: 4px; /* Taller icon*/
	padding-bottom: 1px;
}

ul.tabMenu2 li.copyResourcesService {
	background: transparent url(copy.png) no-repeat 0px 2px;
	padding-top: 4px; /* Taller icon*/
	padding-bottom: 1px;
}

ul.tabMenu2 li.createCollectionService {
	background: transparent url(nymappe.gif) no-repeat 0px -2px;
}

ul.tabMenu2 li.fileUploadService a,ul.tabMenu2 li.createDocumentService a
	{ /* Move link text 22px right (away from the icon) */
	padding-left: 22px;
}

ul.tabMenu2 li.createCollectionService a {
	/* Move link text 25px right (away from the icon) */
	padding-left: 25px;
}

ul.tabMenu2 li.moveResourcesService a,ul.tabMenu2 li.copyResourcesService a
	{
	padding-left: 27px;
}

/* Form items in tabMenu2 */
div.activeTab form {
	background: #ccccff;
	width: 95%;
	margin-top: 5px;
	margin-bottom: 7px;
	padding: 15px;
	clear: left;
	float: left;
}

* html div.activeTab form {
	margin-top: -9px;
	width: 95% !important;
	height: 1% !important;
	overflow: hidden !important;
}

form div#submitButtons {
	padding-top: 10px;
}

div.activeTab form ul {
	list-style-type: none;
	margin: 0px 0 10px 0;
	padding: 2px;
}

div.activeTab form h3 {
	font-size: 100%;
	padding-bottom: 10px;
}

/* Used to display messages like "This folder contains an index-file etc." */
div.tabMessage {
	font-size: 75%;
	padding: 5px 0 5px 0;
	font-weight: bold;
	float: left;
}

a.tabHelpURL {
	font-size: 75%;
	padding: 5px 0 5px 0;
	float: right;
}

/*  End of 'TabMenuLine' section: */ /* Properties section */
div.resourceInfo {
	padding: 0 0.5em 0.5em 0.5em;
	font-size: 100%;
}

.resourceInfo h2,.resourceInfo h3,.resourceInfo h4 {
	padding-bottom: 0.2em;
	border-bottom: 1px solid #aaa;
}

.resourceInfo h2 {
	font-size: 115%;
}

.resourceInfo h3 {
	font-size: 95%;
	margin-top: 1em;
}

.resourceInfo p {
	font-size: 90%;
	margin-top: 0.4em;
	margin-bottom: 0;
}

.resourceInfo div {
	padding: 0.4em 0 0.3em 0;
	font-size: 90%;
}

.smaller {
	font-size: 80%;
}

.resourceInfo table {
	margin-top: 0.5em;
	font-size: 80%;
	border-collapse: collapse;
	width: 100%;
}

.resourceInfo tr {
	background: #eeeeee;
	border-bottom: solid 1px #ccc;
}

.read {
	padding-top: 1em;
}

.read,.privelegeList {
	padding-top: 0.5em;
}

/* Check if this can be deleted when visual profile editing is in place */
.noMetadata {
	margin-top: 0.35em;
	padding: 0.15em;
	padding-bottom: 0.15em;
	padding-left: 0.5em;
	background: #eeeeee;
	font-size: 80%;
}

/* No support for border-bottom in IE */
* html .resourceInfo tr {
	border-bottom: none;
	padding: 1px;
	background: #eeeeee url(grey.png) repeat-x bottom;
}

.resourceInfo td {
	margin: 1em;
	padding: 0.15em;
	padding-bottom: 0.15em;
	padding-left: 0.5em;
}

.resourceInfo td.key {
	font-weight: bold;
	width: 10%;
	white-space: nowrap;
}

.resourceInfo td.value {
	padding-left: 10px;
	width: 90%;
}

.resourceInfo tr.grey td,.resourceInfo tr.grey td a {
	color: #aaa;
}

.resourceInfo tr.grey td.expandedForm {
	color: #000;
}

/* Editing of properties and permissions */
.expandedForm {
	background: #ccccff;
	width: 100%;
}

div.expandedForm { /* Permissions */
	padding-top: 0px;
}

/* Expanded properties/permissions form */
.expandedForm form {
	padding: 1em;
	padding-bottom: 1em;
}

.expandedForm h3 {
	font-size: 100%;
	border-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
}

.expandedForm h3.nonul,.expandedForm div.nonul {
	padding-bottom: 10px;
}

.expandedForm ul.property {
	padding: 0.75em 0;
	list-style-type: none;
}

.expandedForm div.submitButtons {
	clear: both;
	padding-top: 10px;
	margin: 0;
}

td.expandedForm div.submitButtons {
	margin-bottom: -10px;
}

/* Permissions section: */
.permissions h3 {
	margin-top: 0.6em
}

/* See resourceInfo h3 */
.expandedForm fieldset {
	display: inline;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #aaaaaa;
	padding: 0 10px 10px 15px;
}

.expandedForm legend {
	margin: 0;
	padding: 0 2px 0 2px;
	font-weight: normal;
}

.expandedForm ul.everyoneOrSelectedUsers {
	float: left;
	clear: both;
	list-style-type: none;
	padding: 7px 0px 7px 0px;
	margin: 0;
}

.expandedForm ul.everyoneOrSelectedUsers li {
	padding: 4px 0px 4px 0px;
	margin: 0;
}

.expandedForm ul.principalList {
	float: left;
	clear: both;
	list-style-type: none;
	padding: 0 0 0 25px;
	margin: 0px;
}

.expandedForm ul.principalList li.users {
	float: left;
	margin-right: 20px;
}

.expandedForm ul.principalList li.groups {
	float: left;
	clear: right;
}

.expandedForm ul.principalList ul.users {
	list-style-type: disc;
	padding: 7px 5px 10px 25px;
}

.expandedForm ul.principalList ul.groups {
	list-style-type: disc;
	padding: 7px 5px 10px 25px;
}

.expandedForm ul.principalList ul.users li,.expandedForm ul.principalList ul.groups li
	{
	padding: 1px 0 1px 0;
}

.expandedForm ul.inheritance {
	padding: 10px;
	list-style-type: none;
}

.expandedForm ul.inheritance li {
	padding: 3px;
}

.expandedForm span.addGroup,.expandedForm span.addUser {
	white-space: nowrap;
}

/* Directory listing section: */
table.directoryListing {
	clear: both;
	margin-top: 0;
	font-weight: normal;
	font-size: 100%;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #b0e0e6;
}

table.directoryListing th {
	padding: 3px;
	text-align: left;
	font-weight: normal;
	font-size: 80%;
	background: #eeeeee;
}

table.directoryListing th.sortColumn {
	font-weight: bold;
}

table.directoryListing th.invertedSortColumn {
	font-weight: bold;
}

table tr.odd {
	background: transparent;
}

table tr.even {
	background: #eeeeee;
}

table.directoryListing td {
	padding: 3px;
	padding-right: 15px;
}

table.directoryListing td.activeLock {
	background-position: center;
	background-image: url(lock.gif);
	background-repeat: no-repeat;
}

table.directoryListing th.locked {
	text-align: center;
}

table.directoryListing tr:hover {
    background-color: #d5d5f5;
}

table.directoryListing td.activeLock span.lockOwner {
	
}

table.directoryListing td.name a {
	padding-left: 22px;
}

table.directoryListing td.duplicate,table.directoryListing td.last-modified,table.directoryListing td.content-length
	{
	white-space: nowrap;
}

table.directoryListing td span.unauthorizedListedResource {
	padding-left: 22px;
}

/* Icons for directory listing */
table.directoryListing td.name {
	background-position: 4px 4px;
	background-image: url(file2.gif);
	background-repeat: no-repeat;
}

table.directoryListing tr.collection td.name,table.directoryListing tr.article-listing td.name,table.directoryListing tr.event-listing td.name
	{
	background-position: 4px 4px;
	background-image: url(dir2.gif);
	background-repeat: no-repeat;
}

table.directoryListing tr.image td.name {
	background-position: 4px 4px;
	background-image: url(image2.png);
	background-repeat: no-repeat;
}

table.directoryListing tr.audio td.name {
	background-position: 4px 4px;
	background-image: url(audio2.png);
	background-repeat: no-repeat;
}

table.directoryListing tr.video td.name {
	background-position: 3px 8px;
	background-image: url(video2.png);
	background-repeat: no-repeat;
}

table.directoryListing td.locked {
	text-align: center;
}

div.footer {
	padding: 5px 5px 10px 5px;
}

div.versionInfo { /* display: none; */
	clear: both;
	margin-top: 0.5em;
	/* float: left; */
	text-align: center;
	font-size: 70%;
	color: #555;
}

/* Locale selection section */
div.localeSelection {
	margin: 0.5em 0.5em 0 0.5em;
	/* float: right; */
	text-align: center;
	font-size: 70%;
	color: #555;
}

div.localeSelection h3 {
	padding: 0;
	margin: 0;
	color: #555;
	font-size: 100%;
	font-weight: normal;
	display: inline;
}

div.localeSelection ul {
	padding: 0;
	margin: 0;
	display: inline;
}

div.localeSelection ul li {
	display: inline;
}

/* "Manage" link on bottom of collectionlisting: */
a.vrtx-manage-url {
	display: block;
	float: right;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-right: 20px;
	font-size: 80%;
}

* / /* Start preview section */ 
iframe.preview {
	min-height: 350px;
}

* html iframe.preview {
	scroll: no;
}

img.preview {
	max-width: 100%;
}

pre.preview {
	color: black;
	overflow: auto;
}

p.previewUnavailable {
	margin-top: 5px;
}

p.xmlEditUnavailable {
	color: red;
	display: inline;
}

/* help in plain-text edit */
div.contextual-help {
	text-align: right;
	margin-top: -1em;
}

div.contextual-help a {
	font-size: 80%;
}

/* delete msg box in admin */
#TB_ajaxContent{
	/*background:transparent url(alert.png) no-repeat scroll 210px 8px;*/
}

#TB_closeAjaxWindow{
	display:none;
}

div.vrtx-confirm-delete-name{
	display:inline;
	font-weight: bold;
}

div.vrtx-confirm-delete-msg{
	/*width:200px;*/
}

#TB_ajaxContent form{
	padding-top:1em;
	padding-left:5em;
}

#TB_ajaxWindowTitle {
	ext-transform:capitalize;
}

#TB_title {
	background-image:url(/vrtx/__vrtx/static-resources/thickbox-modified/header_bg.gif);
	border-color:#999999 #CCCCCC #AAAAAA;
	border-style:solid;
	border-width:1px 0px;
}

#TB_window{
	border:1px solid #525252 !important;
}