/*
 *
 *  Vortex IE 7
 *
 */

div.tabs {
  clear: left;
}

/* Fix dropdown */
#app-head-wrapper,
#app-head,
#global-menu-top,
.localeSelection,
#titleContainer,
.resource-title,
.dropdown-shortcut-menu-container {
  z-index: 1;
}

ul.list-menu.resourceMenuRight,
ul.list-menu.resourceMenuLeft {
  margin-bottom: 0px !important;
  padding-bottom: 20px !important;
}

ul.manage-create {
  float: left;
}

body#vrtx-permissions .removePermission {
  width: 14px;
  height: 19px;
  line-height: 0;
  font-size: 0;
}

.resource-title,
#main .activeTab,
#main #contents,
.expandedForm {
  max-height: 99999px; /* instead of invalid zoom: 1 */
}

#vrtx-report-info-paging-top .vrtx-report-paging {
  display: block;
  margin-top: -15px;
}

.vrtx-textfield,
.vrtx-textfield-big,
.vrtx-button,
.vrtx-focus-button,
.vrtx-button-small {
  display: inline;
}

.vrtx-textfield input {
  padding-top: 4px;
  margin-top: -2px;
}

.vrtx-textfield-big input {
  padding-top: 8px;
  margin-top: -2px;
}

/* ^ Vortex IE 7 */