/*
 *
 *  Vortex IE 7
 *
 */

div.tabs {
  clear: left;
}

#main,
#global-menu-bottom,
#system-message-wrapper,
.system-message {
  z-index: -2; /* Fix dropdowns */
}

ul.list-menu.resourceMenuLeft {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.resource-title,
#main .activeTab,
#main #contents,
.expandedForm {
  max-height: 9999px; /* instead of invalid zoom: 1 */
}

.vrtx-textfield,
.vrtx-textfield-big,
.vrtx-button,
.vrtx-focus-button,
.vrtx-button-small {
  display: inline;
}

.vrtx-textfield input,
.vrtx-textfield-big input {
  margin-top: -2px;
}

/* ^ Vortex IE 7 */