/*
 *
 *  UiO design - Apps - Vortex
 *
 */

/* 
 * ToC:
 *
 * 1. General
 * 2. Head and footer
 *   2.1 Head and footer grid
 *   2.2 Top (UiO-logo) and bottom line (breadcrumb)
 *   2.3 Head menu
 *   2.4 App name
 *   2.5 Footer
 * 3. App content
 *   3.1 App content grid
 *   3.2 Resource title
 *   3.3 Tabs
 *   3.4 Tab Menus
 *   3.5 Directorylisting
 *   3.6 Permissions / About / Publishing / View / Plaintext-edit / Visual profile
 *   3.7 Messages
 * 4. Fluid design
 * 5. Clearing
 * 6. Forms
 *
 * TODO: less expensive selectors (speed vs. readability in this file)
 *
 */

/*-----------------------------------------*\
	1. General
\*-----------------------------------------*/

html {
  background-color: #F8F8F8;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #363534;
  font: normal 81.25%/1.3 Arial, sans-serif;
  text-align: center;
  min-width: 1014px;
}
 
h1 {
  font-size: 1.84em;
  line-height: 1.2em;
  margin: 0 0 15px 0;
  font-weight: bold;
}

h2 {
  font-size: 1.76em;
  font-weight: normal;
  margin: 15px 0 8px 0;
}

h3 {
  font-size: 1.538em;
  font-weight: normal;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

h3,
h4 { 
  margin: 10px 0 8px 0; 
}

p {
  margin: 3px 0 8px 0;
}

pre {
  font-family: courier;
  line-height: 1.9;
}

#contents pre {
  color: #2b2b2b;
  margin: 0;
}

ul,
ol {
  margin: 8px 0 15px 10px;
}

img,
iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0 0;
}

a {
  color: #005aab; /* color: #0b5a9d; */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



/*-----------------------------------------*\
	2. Head and footer
\*-----------------------------------------*/

/* 2.1 Head and footer grid */

#app-head,
#app-footer {
  background-color: #fff;
  clear: both;
  position: relative;
}

#app-head-wrapper {
  background: #fff;
  margin-bottom: 20px;
  border-bottom: 1px solid #dad9d9;
}

#app-head {
  margin: 0 auto;
  height: 128px;
  background-color: transparent;
  width: 970px;
  text-align: left;
}

#app-footer-wrapper {
  text-align: center;
  padding: 0;
  position: relative;
  background-color: transparent;
}

#app-footer {
  margin-bottom: 0;
  width: 940px;
  margin: 0 auto;
  text-align: left;
  border: none;
  font: normal 0.85em/1.25em Verdana, sans-serif;
  padding: 0 15px 44px 15px;
  background-color: transparent;
}

/* ^ 2.1 Head and footer grid */

/* 2.2 Top (UiO-logo) and bottom line (breadcrumb) */

#app-head-wrapper #line-top {
  background-color: #000;
  height: 34px;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper {
  height: 32px;
  background: url(images/app-head-breadcrumb-bg.png) repeat-x left bottom;
  margin-bottom: -1px;
}

#app-head-wrapper #line-top #uiologo,
#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb,
#app-head-wrapper #system-message-wrapper .system-message {
  width: 970px;
  margin: 0 auto;
  position: relative;
  height: 34px;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb {
  text-align: left;
  height: 32px;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span {
  display: block;
  float: left;
  font-size: 1.15em;
  margin: 1px 0 0 0;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span a,
#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span.vrtx-breadcrumb-active,
#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span span.vrtx-breadcrumb-delimiter {
  float: left;
  display: block;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span a,
#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span.vrtx-breadcrumb-active {
  height: 25px;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span a {
  color: #363534;
  text-decoration: none;
  padding: 5px 11px 0 11px;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span.vrtx-breadcrumb-active {
  padding: 5px 21px 0 11px;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span span.vrtx-breadcrumb-delimiter {
  background: url(images/app-head-breadcrumb-delimiter.png) no-repeat right bottom;
  height: 30px;
  width: 10px;
  margin: 0 0 0 0;
  overflow: hidden;
  text-indent: -9999px;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span.vrtx-breadcrumb-level-1 {
  margin-left: -11px;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span.vrtx-breadcrumb-before-active span.vrtx-breadcrumb-delimiter {
  background-image: url(images/app-head-breadcrumb-delimiter-active.png);
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span.vrtx-breadcrumb-active  {
  background: #d9d9d9 url(images/app-head-breadcrumb-active-bg.png) no-repeat right bottom;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb .breadcrumb-prefix {
  display: none;
}

/* Hover */

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span:hover {
  background: #4a9ce2 url(images/app-head-breadcrumb-delimiter-rollover-left.png) no-repeat left bottom;
  margin: 0 0 0 -10px;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span:hover a {
  color: #fff;
  height: 26px;
  padding: 6px 11px 0 21px;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span:hover span.vrtx-breadcrumb-delimiter {
  background: url(images/app-head-breadcrumb-delimiter-rollover-right.png) no-repeat right bottom;
  height: 32px;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span.vrtx-breadcrumb-before-active:hover span.vrtx-breadcrumb-delimiter {
  background-image: url(images/app-head-breadcrumb-delimiter-rollover-right-active.png);
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span.vrtx-breadcrumb-level-1:hover {
  background: #4a9ce2;
  margin: 0 0 0 -11px;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span.vrtx-breadcrumb-level-1:hover a {
  padding-left: 11px;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb span.vrtx-breadcrumb-active:hover {
  background: #d9d9d9 url(images/app-head-breadcrumb-active-bg.png) no-repeat right bottom;
  margin: 1px 0 0 0;
}

/* ^ Hover */

/* "The Phark Method" - image replacement
 * Don't want that extra empty span from Levin Alexander method
 * (although it is used elsewhere in Ny UiO design and have an extra advantage).
 */

#app-head-wrapper #line-top #uiologo a {
  background: url(images/uio-app-uio-small-black.png) no-repeat 0 0;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 10px;
  left: 15px;
  height: 15px;
  width: 195px;
  text-indent: -9999px;
}

#app-head-wrapper #line-top #uiologo.english-uiologo a {
  background-image: url(images/uio-app-uio-small-black-eng.png);
  height: 18px;
}

#app-head-wrapper #line-top #uiologo a:hover {
  background: url(images/uio-app-uio-small-black.png) no-repeat 0 -17px;
}

#app-head-wrapper #line-top #uiologo.english-uiologo a:hover {
  background-image: url(images/uio-app-uio-small-black-eng.png);
}

/* ^ 2.2 Top (UiO-logo) and bottom line (breadcrumb) */

/* 2.3 Head menu */

#app-head #global-menu-top,
#app-head #global-menu-bottom {
  top: 16px;
  right: 15px;
  position: absolute;
}

#app-head #global-menu-bottom {
  top: 64px;
}

#app-head .global-menu {
  background: url(images/seperator-grey-gradient.png) no-repeat top right;
  padding: 13px 18px 0 0;
  margin: 0 18px 0 0;
  height: 30px;
  float: left;
  position: relative;
}

#app-head .global-menu-small {
  background: url(images/seperator-grey-gradient-small.png) no-repeat top right;
  padding: 4px 18px 0 0;
  margin: 0 18px 0 0;
  height: 21px;
  float: left;
}

#app-head .global-menu.last,
#app-head .global-menu-small.last {
  background: none;
  padding-right: 0;
  margin-right: 0;
}

#app-head .global-menu#global-menu-create {
  padding-top: 9px;
}

#global-menu-create {
  z-index: 99;
}

#app-head .principal #logoutForm {
  display: inline;
}

#app-head .principal {
  background: url(images/person.png) no-repeat 0 0;
  padding-left: 28px; 
  display: inline-block;
}


/* ^ 2.3 Head menu */

/* 2.4 App name */

#app-head #app-name {
  position: absolute;
  top: 38px;
  left: 15px;
  font-size: 2.77em;
  font-weight: bold;
  color: #96948e;
  line-height: 1.05em;
  white-space: nowrap;
}

#app-head #app-name a {
  color: #96948e;
}

#app-head #app-name span#tagline {
  color: #363534;
  font-size: 0.47em;
  margin-top: 10px;
  line-height: 1em;
  display: block;
  font-weight: normal;
}

#app-head #app-name a:hover {
  text-decoration: none;
  color: #0b5a9d;
}

/* ^ 2.4 App name */

/* 2.5 Footer */

#app-footer {
  color: #5e5e5e;
  text-align: right;
}

/* ^ 2.5 Footer */

/* ^ 2. Head and footer */



/*-----------------------------------------*\
	3. App content
\*-----------------------------------------*/

/* 3.1 App content grid */

#app-content {
  width: 940px;
  margin: 0 auto;
  text-align: left;
  padding: 10px 0 0 0;
  margin-bottom: 12px;
  position: relative;
  clear: left;
}

#app-content h2 {
  margin-top: 0; /* implies that h2 is always at the top */
}

#app-content #main,
#app-content #main #contents {
  background-color: #fff;
}

#app-content #main {
  padding: 19px;
  border: 1px solid #d9d9d9;
}

/* ^ 3.1 App content grid */

/* 3.2 Resource title */

#titleContainer {
  position: relative;
}

/* Icons */

#resource-title {
  background: transparent url(images/file.gif) no-repeat 0px 3px;
  padding-top: 8px;
  position: relative;
}
#resource-title h1 {
  margin:  0 0 15px 36px;
  float: left;
  min-width: 85px; /* at least as wide as 'Endre navn' in dropdown + 15px */
}

#resource-title h1 .title-split {
  display: block;
} 

#resource-title.true {
  background: transparent url(images/folder.gif) no-repeat 0px 5px;
}
#resource-title.true h1 {
  margin-left: 42px;
}

#resource-title.binary {
  background: transparent url(images/file-binary.gif) no-repeat 0px 3px;
}

#resource-title.doc {
  background: transparent url(images/file-word.gif) no-repeat 0px 2px;
}

#resource-title.pdf {
  background: transparent url(images/file-pdf.gif) no-repeat 0px 2px;
}

#resource-title.xls {
  background: transparent url(images/file-xls.gif) no-repeat 0px 2px;
}

#resource-title.text {
  background: transparent url(images/file-txt.gif) no-repeat 0px 2px;
}

#resource-title.ppt {
  background: transparent url(images/file-ppt.gif) no-repeat 0px 2px;
}

#resource-title.image {
  background: transparent url(images/file-image.gif) no-repeat 0px 10px;
}
#resource-title.image h1 {
  margin-left: 39px;
}

#resource-title.audio {
  background: transparent url(images/file-audio.gif) no-repeat 0px 12px;
}
#resource-title.audio h1 {
  margin-left: 26px;
}

#resource-title.video {
  background: transparent url(images/file-video.gif) no-repeat 0px 5px;
}
#resource-title.video h1 {
  margin-left: 40px;
}

/* ^ Icons */

ul.list-menu.resourceMenuLeft,
ul.list-menu.resourceMenuLeft li,
ul.list-menu.resourceMenuRight,
ul.list-menu.resourceMenuRight li,
ul.list-menu.tabMenu1,
ul.list-menu.tabMenu1 li,
ul.list-menu.tabMenu2,
ul.list-menu.tabMenu2 li,
.global-menu ul,
.global-menu ul li,
ul.manage-create,
ul.manage-create li,
div.localeSelection ul,
div.localeSelection ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Language menu */

div.localeSelection {
  background: url(images/globe.png) no-repeat 0px 1px;
  padding: 0 0 1px 23px;
  z-index: 100;
}

div.localeSelection ul,
div.localeSelection ul li {
  display: inline;
}

/* Dropdown */

div.localeSelection.js-on {
  position: relative;
}

div.localeSelection.js-on ul.dropdown-shortcut-menu-container {
  display: none;
  top: 24px;
  left: auto;
  right: 0;
  /* right: -72px; */
}

div.localeSelection.js-on ul.dropdown-shortcut-menu-container li {
  display: block;
}

div.localeSelection.js-on ul.dropdown-shortcut-menu-container li a,
div.localeSelection.js-on ul.dropdown-shortcut-menu-container li span {
  padding-left: 28px !important;
}

div.localeSelection.js-on ul.dropdown-shortcut-menu-container li.active span {
  background: url(images/list-active.gif) no-repeat 10px 10px;
}

div.localeSelection.js-on .localeSelectionHeader {
  background: url(images/arrow-down.png) no-repeat 100% 8px;
  padding-right: 12px;
  display: inline-block;
}

/* ^ Dropdown */

/* ^ Language menu */

/* Resource menus */

.iframe-fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
}

ul.list-menu.resourceMenuLeft {
  margin: -50px 0 20px 0;
  clear: left;
  float: left;
}

ul.list-menu.resourceMenuLeft li {
  background: url(images/dropdown-left.gif) no-repeat -5px 0;
  display: inline-block;
  height: 27px;
  white-space: nowrap;
  overflow: visible;
  margin: 0 0 0 1px;
}

ul.dropdown-shortcut-menu li.first,
ul.list-menu.resourceMenuLeft li.first {
  background-position: 0 0;
  margin: 0 0 0 0;
}

ul.dropdown-shortcut-menu li a,
ul.list-menu.resourceMenuLeft li a {
  color: #363534;
  background: url(images/button-open-right.png) no-repeat top right;
  display: inline-block;
  height: 23px;
  padding: 4px 15px 0 14px;
  margin: 0 -5px 0 0;
}

ul.list-menu.resourceMenuLeft li.last a {
  background: url(images/button-closed-right.gif) no-repeat top right;
}

ul.list-menu.resourceMenuLeft li:hover {
  background-image: url(images/dropdown-left-rollover.gif);
  margin-right: -5px;
}

ul.list-menu.resourceMenuLeft li:hover a {
  background: none;
  color: #fff;
  text-decoration: none;
  margin: 0px;
}

ul.list-menu.resourceMenuLeft li.last:hover a {
  background: url(images/button-closed-right-rollover.gif) no-repeat top right;
  margin: 0 -5px 0 0;
}

/* Dropdown */

ul.dropdown-shortcut-menu li a {
  background: none !important;
}

ul.dropdown-shortcut-menu li.first {
  display: inline-block !important;
  border: none;
  background: url(images/dropdown-left.gif) no-repeat top left !important;
}

ul.dropdown-shortcut-menu li.first a {
  background: url(images/dropdown-right.gif) no-repeat top right !important;
  padding-right: 44px !important;
}

ul.dropdown-shortcut-menu li.first:hover {
  background-image: url(images/dropdown-left-rollover.gif) !important;
}

ul.dropdown-shortcut-menu li.first.unhover {
  background: url(images/dropdown-left.gif) no-repeat top left !important;
}

ul.dropdown-shortcut-menu li.first:hover a {
  margin: 0 -5px 0 0 !important;
  color: #fff;
  text-decoration: none;
}

ul.dropdown-shortcut-menu li.first a.hover {
  background-image: url(images/dropdown-right-rollover.gif) !important;
  color: #363534 !important;
  margin: 0 -5px 0 0 !important;
}

div.dropdown-shortcut-menu-container,
ul.dropdown-shortcut-menu-container {
  display: none;
  border: 1px solid #cbcbcb;
  border-bottom: none;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 99;
  background-color: #fff;
}

.global-menu div.dropdown-shortcut-menu-container {
  top: 37px;
  left: auto !important;
  right: -5px;
}

ul.dropdown-shortcut-menu li.first {
  position: relative;
}

ul.dropdown-shortcut-menu li.first #dropdown-shortcut-menu-click-area {
  display: block;
  width: 26px;
  height: 28px;
  position: absolute;
  right: -4px;
  top: 0;
  cursor: pointer
}

div.dropdown-shortcut-menu-container ul,
div.dropdown-shortcut-menu-container ul li,
ul.dropdown-shortcut-menu-container,
ul.dropdown-shortcut-menu-container li {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.dropdown-shortcut-menu-container ul li a,
ul.dropdown-shortcut-menu-container li a,
div.dropdown-shortcut-menu-container ul li span,
ul.dropdown-shortcut-menu-container li span,
div.dropdown-shortcut-menu-container ul li form,
ul.dropdown-shortcut-menu-container li form {
  border-bottom: 1px solid #cbcbcb; 
  padding: 8px 14px 7px 14px !important;
  background-color: #fff;
  display: block;
  white-space: nowrap;
}

div.dropdown-shortcut-menu-container ul li a:hover,
ul.dropdown-shortcut-menu-container li a:hover,
div.dropdown-shortcut-menu-container ul li form:hover,
ul.dropdown-shortcut-menu-container li form:hover {
  background-color: #ecf3f9;
  cursor: pointer;
}

div.dropdown-shortcut-menu-container ul li a:hover,
ul.dropdown-shortcut-menu-container li a:hover {
  text-decoration: none;
}

/* Button in dropdown menu  */

div.dropdown-shortcut-menu-container form .vrtx-button {
  height: auto;
  background: none;
}

div.dropdown-shortcut-menu-container form .vrtx-button button {
  color: #005aab;
}

div.dropdown-shortcut-menu-container form .vrtx-button:hover {
  background: none;
}

div.dropdown-shortcut-menu-container form .vrtx-button button:hover {
  background: none;
  color: #005aab;
}

div.dropdown-shortcut-menu-container form .vrtx-button button {
  background: none;
  height: auto;
  padding: 0;
  margin: 0;
}

/* Button in dropdown menu */

ul.list-menu.resourceMenuRight {
  float: left;
  min-height: 86px;
  margin: -12px 0 20px 0;
}

ul.list-menu.resourceMenuRight li {
  background: url(images/seperator-grey-gradient-big.png) no-repeat top left;
  float: left;
  margin: 0 0 0 25px;
  padding: 0 0 0 25px;
  min-height: 86px;
}

ul.list-menu.resourceMenuRight.smaller-seperator {
  min-height: 65px;
  margin-bottom: 0px;
}

ul.list-menu.resourceMenuRight.smaller-seperator li {
  background-image: url(images/seperator-grey-gradient.png);
  background-repeat: no-repeat;
  background-position: 0 5px;
  min-height: 65px;
}

ul.list-menu.resourceMenuRight li h3 {
  font-size: 1.15em;
  font-weight: bold;
  margin: 9px 0 5px 0;
}

ul.list-menu.resourceMenuRight .manage\.unlockFormService h3 {
  background: url(images/lock.png) no-repeat 100% 1px;
  padding-right: 18px;
  /* display: inline-block; */
}


ul.list-menu.resourceMenuRight span.published,
#publishing-status span.published {
  background: url(images/menu-active-green.gif) no-repeat 100% 1px;
  padding-right: 18px;
}

ul.list-menu.resourceMenuRight p span,
#publishing-status span.published,
#publishing-status span.unpublished {
  font-weight: bold;
}

/* ^ Resource menus */

/* Tooltip */

.tip {
  border: 1px solid #cbcbcb;
  padding: 14px;
  background-color: #fff;
}

.tip h4 {
  margin-top: 0px;
}

.tip #title-wrapper {
  display: block;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cbcbcb;
}

#titleContainer abbr {
  color: #797979;
  cursor: pointer;
  border-bottom: 1px dotted #a9a9a9;
}

#titleContainer .tip ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
}

/* Create dialog */

/* Thickbox mod */

#TB_window {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 2px solid #646464 !important;
}

#TB_overlay,
#TB_window {
  z-index: 9999 !important;
}

#TB_ajaxContent,
.vrtx-create-tree {
  position: relative;
  max-height: 99999px;
}

#TB_title {
  height: auto !important;
  background-color: transparent !important;
  margin: 0;
  font-size: 1.667em; /* 20px <- 12px <- 13px */
}

#TB_ajaxWindowTitle {
  float: none !important;
  margin: 30px 30px 0 30px !important;
  padding: 0px !important;
}

#TB_closeAjaxWindow {
  display: none;
  overflow: hidden;
  text-indent: -9999px;
  width: 31px;
  height: 32px;
  padding: 0 !important;
  margin: -32px 30px 0 0 !important;
  text-align: left !important;
}

#TB_closeAjaxWindow a {
  background: url(images/thickbox-close.png) no-repeat center center;
  overflow: hidden;
  width: 31px;
  height: 32px;
  display: block;
  text-indent: -9999px;
}

#TB_ajaxContent {
  padding: 2px 0 30px 30px !important;
}

/* ^ Thickbox mod */

#TB_closeAjaxWindow.create-tree-close-window {
  display: block;
}

.vrtx-create-tree .tree-create {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 15px !important;
}

.vrtx-create-tree a.tree-link {
  color: #2b2b2b !important;
  font-size: 1.231em;
}

.vrtx-create-tree .treeview li {
  background: none !important;
}

.vrtx-create-tree .filetree span.folder {
  background: url(images/folder-small.gif) no-repeat left center !important;
  padding-left: 30px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.vrtx-create-tree .filetree .expandable-hitarea {
  background: url(images/tree-expand.gif) no-repeat 0 0 !important;
  margin-top: 8px;
}

.vrtx-create-tree .filetree .collapsable-hitarea {
  background: url(images/tree-collapse.gif) no-repeat 0 0 !important;
  margin-top: 9px;
}

.tip.vrtx-create-tree {
  /*
  background-color: #ecf3f9;
  border: 1px solid #c7dadf;
  padding: 4px 9px !important;
  */
  padding: 4px 0px !important;
  border: none !important;
}

.tip.vrtx-create-tree .no-create-permission {
  white-space: nowrap;
  padding-top: 4px;
  display: block;
}

/* ^ Create dialog */

/* ^ Tooltip */

/* ^ 3.2 Resource title */

/* 3.3 Tabs */

div.tabs {
  margin: 1px 0 0 0;
  padding: 0;
  position: relative;
  top: 1px;
  left: 0px;
  width: 73em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
  height: 34px;
}

div.tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 73em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
  /* Width is also required for IE 6.0. Can be reduced when we shorten some of the text on the tabs */
  border-left: 1px solid #d8d8d8;
}

div.tabs ul li {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  float: left;
}

div.tabs ul li a,
div.tabs ul li.current a {
  line-height: 1.25em;
  display: block;
  float: left;
  padding: 6px 22px 5px 19px; 
  margin: 0;
  background: url(images/app-content-tabs-bg.png) repeat-x bottom left;
  text-align: center;
  font-size: 1.15em;
  text-decoration: none;
  color: #363534;    
}

div.tabs ul li a {
  border: 1px solid #d8d8d8;
  border-left: none;
}

/* Override this class to get different colors and size on a specific tab */

div.tabs ul li a:hover {
  background: #4a9ce2;
  color: #fff;
  border-color: #4a9ce2; 
  border-bottom: 1px solid #4a9ce2;
  margin-left: -1px;
  padding-left: 20px;
}

div.tabs ul li.activeTab a:hover {
  border-color: #d8d8d8;
  margin-left: 0px;
  padding-left: 19px;
}

div.tabs ul li.activeTab a,
div.tabs ul li.activeTab a:hover {
  background: #fff;
  color: #363534;
  border-bottom: 1px solid #fff;
}

/* ^ 3.3 Tabs */


/* 3.4 Tab Menus */

#active-tab {
  margin: 0 0 15px 0;
}

#active-tab  ul.list-menu a {
  font-weight: bold;
}

/* Tab Menu 1 (left) */

ul.list-menu.tabMenu1,
ul.list-menu.tabMenu1 li {
  float: left;
}

ul.list-menu.tabMenu1 li.navigateToParentService a {
  display: block;
  background: url(images/tab-menu-navigate-up.png) no-repeat center left;
  padding: 5px 0 5px 28px;
}

/* Tab Menu 2 (right) */

ul.list-menu.tabMenu2 {
  float: right;
}

ul.list-menu.tabMenu2 li {
  float: left;
}

ul.list-menu.tabMenu2 li a {
  display: block;
  margin: 0 0 0 30px;
  padding: 5px 0 5px 30px;
}

ul.list-menu.tabMenu2 li.deleteResourcesService a {
  background: url(images/tab-menu-delete.png) no-repeat center left;
  padding-left: 25px;
}

ul.list-menu.tabMenu2 li.moveResourcesService a {
  background: url(images/tab-menu-move.png) no-repeat center left;
  padding-left: 41px;
}

ul.list-menu.tabMenu2 li.copyResourcesService a {
  background: url(images/tab-menu-copy.png) no-repeat center left;
  padding-left: 38px;
}

ul.list-menu.tabMenu2 li.fileUploadService a {
  background: url(images/tab-menu-upload.png) no-repeat center left; 
}

ul.list-menu.tabMenu2 li.createDocumentService a {
  background: url(images/tab-menu-new-file.png) no-repeat center left; 
}

ul.list-menu.tabMenu2 li.createCollectionService a {
  background: url(images/tab-menu-new-folder.png) no-repeat center left;
}

/* Tab forms */

ul.radio-buttons label {
 font-size: 1.154em;
}

p#vrtx-file-upload-info-text {
  margin-top: 10px;
}

/* ^ Tab forms */

/* Trash can */

ul.list-menu.tabMenu2 li.recoverResourceService a,
ul.list-menu.tabMenu2 li.deleteResourcePermanentService a {
  background: none; /* TODO: need to design icon */
  padding-left: 0;
}

/* ^ Trash can */

/* ^ 3.4 Tab Menus */

/* 3.5 Directorylisting */

#vrtx-manage-collectionlisting #contents,
#vrtx-trash-can #contents,
#vrtx-report-documents #contents .vrtx-report {
  padding: 5px 0 0 0;
  border: 1px solid #d9d9d9;
}

#vrtx-report-documents #contents .vrtx-report {
  margin-top: 15px;
}

#vrtx-report #contents {
  position: relative;
}

#directory-listing {
  width: 100%;
}

#directory-listing tr td {
  font-size: 1.15em;
  border-top: 1px solid #f0f0f0;
  padding: 5px 15px 4px 0;
}

#directory-listing tr.first td {
  border-top: none;
  padding-top: 8px;
}

#directory-listing tr th {
  background: url(images/line-dotted.gif) repeat-x bottom left;
  padding: 0 15px 8px 0;
  text-align: left;
  white-space: nowrap;  
}

#directory-listing .checkbox {
  padding-right: 30px;
}

#directory-listing th.permissions,
#directory-listing th.resource-type,
#directory-listing th#vrtx-trash-can\.deletedBy {
  width: 10%;
}

#directory-listing th.last-modified,
#directory-listing th#vrtx-trash-can\.deletedTime,
#directory-listing th#vrtx-report-last-modified,
#directory-listing th#vrtx-report-modified-by,
#directory-listing th#vrtx-report-permission-set,
#directory-listing th#vrtx-report-permissions,
#directory-listing th#vrtx-report-published {
  width: 1%;
}

#directory-listing td.permissions,
#directory-listing td.resource-type,
#directory-listing td.last-modified,
#directory-listing td.vrtx-trash-can-deleted-by,
#directory-listing td.vrtx-trash-can-deleted-time,
#directory-listing td.vrtx-report-last-modified,
#directory-listing td.vrtx-report-last-modified-by,
#directory-listing td.vrtx-report-permission-set,
#directory-listing td.vrtx-report-permissions,
#directory-listing td.vrtx-report-published {
  white-space: nowrap;
}

#directory-listing th.name,
#directory-listing td.name,
#directory-listing th#vrtx-trash-can\.name,
#directory-listing td.vrtx-trash-can-name,
body#vrtx-report-documents #directory-listing th#vrtx-report-name,
body#vrtx-report-documents #directory-listing td.vrtx-report-name {
  padding-left: 15px;
  width: 40%;
}

#directory-listing td.name span.name-split,
#directory-listing td.vrtx-trash-can-name span.name-split,
body#vrtx-report-documents #directory-listing td.vrtx-report-name span.name-split {
  display: block;
}

#directory-listing th.last-modified,
#directory-listing td.last-modified,
#directory-listing th#vrtx-trash-can\.deletedTime,
#directory-listing td.vrtx-trash-can\.deletedTime,
#directory-listing th#vrtx-report-published,
#directory-listing td.vrtx-report-published {
  padding-right: 15px;
}

#directory-listing tr.even td {
  background-color: #f9f9f9;
}

#directory-listing tr:hover td,
#directory-listing tr.hover td {
  background-color: #ecf3f9;
  border-top: 1px solid #c7dadf;
  border-bottom: 1px solid #c7dadf;
}

#directory-listing tr#trash-can-empty:hover td,
#directory-listing tr#trash-can-empty.hover td,
#directory-listing tr#collectionlisting-empty:hover td,
#directory-listing tr#collectionlisting-empty.hover td {
  background: none;
}

#directory-listing tr.first:hover td,
#directory-listing tr.first.hover td {
  border-top: none;
}

#directory-listing tr.last:hover td,
#directory-listing tr.last.hover td {
  border-bottom: none;
}

#directory-listing tr.checked {
  background-color: #eaeaea;
}

#directory-listing tr.checked td {
  background-color: #eaeaea;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

#directory-listing tr.checked.first td {
  border-top: none;
}

#directory-listing tr.checked.last td {
  border-bottom: none;
}

#directory-listing td span.allowed-for-all,
.resourceMenuRight span.allowed-for-all,
.resourceMenuRight span.published,
#publishing-status span.published {
  color: #549401;
}

#directory-listing td span.restricted,
.resourceMenuRight span.restricted,
.resourceMenuRight span.unpublished,
#publishing-status span.unpublished {
  color: #ed1c24;
}

#collectionListing\.checkUncheckAll {
  padding-top: 11px;
  margin-bottom: -27px;
  font-weight: bold;
}

/* Icons */

#directory-listing tr td.name a,
#directory-listing tr td.name span.vrtx-trash-can-name-text,
#directory-listing tr td.vrtx-report-name a {
  padding: 2px 0 2px 31px;
  display: block;
  background: url(images/file-small.gif) no-repeat center left;
}

#directory-listing tr.true td.name a,
#directory-listing tr.true td.name span.vrtx-trash-can-name-text,
#directory-listing tr.true td.vrtx-report-name a {
  background: url(images/folder-small.gif) no-repeat center left;
}

#directory-listing tr.binary td.name a,
#directory-listing tr.binary td.name span.vrtx-trash-can-name-text,
#directory-listing tr.binary td.vrtx-report-name a {
  background: url(images/file-binary-small.gif) no-repeat center left;
}

#directory-listing tr.doc td.name a,
#directory-listing tr.doc td.name span.vrtx-trash-can-name-text,
#directory-listing tr.doc td.vrtx-report-name a {
  background: url(images/file-word-small.gif) no-repeat center left;
}

#directory-listing tr.pdf td.name a,
#directory-listing tr.pdf td.name span.vrtx-trash-can-name-text,
#directory-listing tr.pdf td.vrtx-report-name a {
  background: url(images/file-pdf-small.gif) no-repeat center left;
}

#directory-listing tr.xls td.name a,
#directory-listing tr.xls td.name span.vrtx-trash-can-name-text,
#directory-listing tr.xls td.vrtx-report-name a {
  background: url(images/file-xls-small.gif) no-repeat center left;
}

#directory-listing tr.text td.name a,
#directory-listing tr.text td.name span.vrtx-trash-can-name-text,
#directory-listing tr.text td.vrtx-report-name a {
  background: url(images/file-txt-small.gif) no-repeat center left;
}

#directory-listing tr.ppt td.name a,
#directory-listing tr.ppt td.name span.vrtx-trash-can-name-text,
#directory-listing tr.ppt td.vrtx-report-name a {
  background: url(images/file-ppt-small.gif) no-repeat center left;
}

#directory-listing tr.image td.name a,
#directory-listing tr.image td.name span.vrtx-trash-can-name-text,
#directory-listing tr.image td.vrtx-report-name a {
  background: url(images/file-image-small.gif) no-repeat center left;
}

#directory-listing tr.audio td.name a,
#directory-listing tr.audio td.name span.vrtx-trash-can-name-text,
#directory-listing tr.audio td.vrtx-report-name a {
  background: url(images/file-audio-small.gif) no-repeat center left;
}

#directory-listing tr.video td.name a,
#directory-listing tr.video td.name span.vrtx-trash-can-name-text,
#directory-listing tr.video td.vrtx-report-name a {
  background: url(images/file-video-small.gif) no-repeat center left;
}

/* ^ Icons */

/* ^ 3.5 Directorylisting */

/* 3.6 Permissions / About / Publishing / View / Plaintext-edit / Visual profile  */

body#vrtx-preview #app-content #contents {
  border: 1px solid #d9d9d9;
}

body#vrtx-preview #app-content #contents .previewUnavailable {
  margin: 10px 14px;
}

body#vrtx-trash-can #trash-can-empty,
body#vrtx-manage-collectionlisting #collectionlisting-empty {
  text-align: center;
}

body#vrtx-trash-can #contents #trash-can-empty td,
body#vrtx-manage-collectionlisting#contents #collectionlisting-empty td {
  padding: 25px 0 30px 0;
}

body#vrtx-permissions #permissions-read-write-admin {
  padding-bottom: 15px;
  padding-top: 5px;
  margin: 15px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

body#vrtx-permissions #permissions-read-write-admin .permissions-read-wrapper,
body#vrtx-permissions #permissions-read-write-admin .permissions-read-write-wrapper {
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9; 
}

/* Remove borders around expanded forms */

.permissions-read-wrapper .permissions-read-wrapper,
.permissions-read-wrapper.expandedForm {
  margin-top: -6px !important;
}

.permissions-read-write-wrapper .permissions-read-write-wrapper,
.permissions-read-write-wrapper.expandedForm {
  margin-top: -1px !important;
}

.permissions-all-wrapper .permissions-all-wrapper,
.permissions-all-wrapper.expandedForm {
  margin-top: -1px !important;
  margin-bottom: -16px !important;
}

/* ^ Remove borders around expanded forms */

body#vrtx-permissions ul.shortcuts {
  margin-top: 0;
  margin-bottom: 15px;
}

body#vrtx-permissions #permissions-inheritance,
body#vrtx-permissions #permissions-read-write-admin div.read,
body#vrtx-permissions #permissions-read-write-admin div.read-write,
body#vrtx-permissions #permissions-read-write-admin div.all,
body#vrtx-permissions ul.shortcuts li {
  font-size: 1.154em;
}

body#vrtx-permissions #permissions-inheritance .vrtx-button-small,
body#vrtx-permissions #permissions-read-write-admin div.read a.vrtx-button-small,
body#vrtx-permissions #permissions-read-write-admin div.read-write a.vrtx-button-small,
body#vrtx-permissions #permissions-read-write-admin div.all a.vrtx-button-small {
  font-size: 0.867em;
}

body#vrtx-permissions ul.shortcuts li {
  margin: 0 0 5px 0;
}

body#vrtx-permissions li.groups,
body#vrtx-permissions li.users {
  float: left;
  border: 1px solid #bebebe;
  padding: 7px 19px 19px 19px;
}

body#vrtx-permissions li.groups {
  margin-right: 20px;
}

body#vrtx-permissions li.groups .vrtx-button,
body#vrtx-permissions li.users .vrtx-button {
  margin-left: 15px;
}

body#vrtx-permissions li.groups legend,
body#vrtx-permissions li.users legend {
  font-size: 1.23em;
  padding: 0 0 8px 0;
}

body#vrtx-permissions li.groups ul,
body#vrtx-permissions li.users ul {
  margin: 0;
  padding: 0 0 10px 0;
}

ul.vrtx-reporters li,
body#vrtx-permissions li.groups ul li,
body#vrtx-permissions li.users ul li {
  background: url(images/list-bullet-dark-grey.png) no-repeat center left;
  margin: 0 0 5px 5px;
  padding: 0 0 0 10px;
}

body#vrtx-permissions li.groups div.errorContainer ul li,
body#vrtx-permissions li.users div.errorContainer ul li {
  background: none;
  margin: 0;
  padding: 0;
}

body#vrtx-permissions .removePermission {
  background: url(images/list-remove-red.png) no-repeat 0px 4px;
  color: #e8e8e8;
  width: 12px;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  border: none !important;
}

body#vrtx-permissions .addGroup,
body#vrtx-permissions .addUser {
  display: block;
}

ul.errors li {
  color: #ed1c24;
}

table.resourceInfo,
table.privilegeTable {
  border: 1px solid #d9d9d9;
  width: 100%;
}

table.resourceInfo td,
table.privilegeTable td {
  padding: 3px 5px;
  border-top: 1px solid #F0F0F0
}

table.resourceInfo tr.first td,
table.privilegeTable tr.first td {
  border-top: none;
}

table.resourceInfo tr.even td,
table.privilegeTable tr.even td {
  background-color: #F9F9F9;
}

table.resourceInfo tr:nth-child(even) td {
  background-color: #F9F9F9;
}

table.resourceInfo tr.first td {
  border-top: none;
}

table.resourceInfo tr:first-child td {
  border-top: none;
}

table.resourceInfo .key,
table.privilegeTable .key {
  font-weight: bold;
  width: 1%;
  white-space: nowrap;
}

table.resourceInfo form#propertyForm ul.property .vrtx-textfield {
  margin-right: 10px;
}

ul.property {
  margin: 0px;
}

.resourceInfo .vrtx-button-small {
  margin-left: 2px;
}

#vrtx-admin-ownership-form {
  display: inline;
}

body#vrtx-edit-plaintext textarea {
  width: 100%;
}

body#vrtx-edit-plaintext .contextual-help {
  float: right;
}

.vrtx-visual-profile-rows {
  margin: 0 0 10px 0;
}

#publishing-status,
#publishing-publish-date,
.vrtx-visual-profile-rows {
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}

.vrtx-visual-profile-rows.last {
  padding-bottom: 0px;
  border-bottom: none;
}

.vrtx-visual-profile-rows .radio-buttons {
  margin-bottom: 0px;
}

#publishing-publish-date.expandedForm,
#publishing-unpublish-date.expandedForm {
  margin-top: -1px !important;
}

/* ^ 3.6 Permissions / About / Publishing / View / Plaintext-edit / Visual profile  */

/* 3.7 Messages */

div.message,
div.infomessage {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 12px 14px 11px 14px;
  margin: 0 0 25px 0;
}

div.infomessage,
div.errormessage {
  padding-left: 46px;
}

div.infomessage {
  background: #fff url(images/info.png) no-repeat 14px 8px;
}
 
div.errormessage {
  background: #fff url(images/error.gif) no-repeat 14px 8px;
}

div#system-message-wrapper {
  background-color: #4a9ce2;
}

div#system-message-wrapper div.system-message {
  background: #4a9ce2 url(images/info-very-big.png) no-repeat 50px center;
  padding-top: 16px;
  padding-bottom: 16px;
  height: auto !important;
}

div#system-message-wrapper div.system-message div.system-message-text {
  font-size: 1.231em;
  color: #fff;
  text-align: left;
  margin: 0 0 0 45px;
}

div#system-message-wrapper div.system-message div.system-message-text a {
  color: #88dfed;
  text-decoration:underline;
}

div.tabMessage {
  background: url(images/info-small.gif) no-repeat 0 0;
  padding: 0 0 5px 25px;
}

/* ^ 3.7 Messages */



/*-----------------------------------------*\
	4. Fluid design
\*-----------------------------------------*/

.app-fluid {
  min-width: 1014px;
}

.app-fluid #app-head-wrapper,
.app-fluid #app-footer-wrapper {
  min-width: 1014px;
  width: 100%;
}

.app-fluid #app-head,
.app-fluid #app-head-wrapper #line-top #uiologo,
.app-fluid #app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb,
.app-fluid #app-head-wrapper #system-message-wrapper .system-message,
.app-fluid #app-footer {
  width: auto;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
}

.app-fluid #app-content {
  width: auto;
  min-width: 914px;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;

  /* TODO: remove scrollbars when not needed */
  overflow: hidden;
}

.app-fluid #app-footer {
  background-position: 50px 24px;
}

.app-fluid #app-head-wrapper #line-top #uiologo a,
.app-fluid #app-head #app-name {
  left: 50px;
}

.app-fluid #app-head #global-menu-top,
.app-fluid #app-head #global-menu-bottom {
  right: 50px;
}

* html .app-fluid #app-footer {
  float: left;
}



/*-----------------------------------------*\
	5. Clearing
\*-----------------------------------------*/

#app-head:after,
#app-footer:after,
#app-content:after,
#main:after,
#titleContainer:after,
#resource-title:after,
ul.resourceMenuLeft:after,
ul.resourceMenuRight:after,
div.globalmenu:after,
#active-tab:after,
#contents:after,
#app-content .principalList:after,
#app-content form:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}



/*-----------------------------------------*\
	6. Forms
\*-----------------------------------------*/

form, fieldset, input, button {
  margin: 0;
  padding: 0;
}

fieldset {
  background: transparent;
  border: none;
}

textarea {
  border: 1px solid #919191;
  outline: none;
}

input[type=button],
input[type=file],
input[type=image],
input[type=password],
input[type=reset],
input[type=submit],
input[type=text],
button {
  border: 1px solid transparent;
  background: transparent;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit; 
  font-weight: inherit;
}

form input[type=button]:focus,
form input[type=file]:focus ,
form input[type=image]:focus ,
form input[type=password]:focus ,
form input[type=reset]:focus ,
form input[type=submit]:focus ,
form input[type=text]:focus {
  outline: 0;
}

ul.radio-buttons,
ul.radio-buttons li,
.expandedForm form ul,
.expandedForm form ul li,
form.vrtx-admin-form ul,
form.vrtx-admin-form ul li {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}

div.globalmenu h3,
form.vrtx-admin-form h3,
.expandedForm h3 {
  margin-top: 0;
}

div.expandedForm,
tr.expandedForm td {
  margin: 10px -20px 4px -20px !important;
  padding: 14px 19px !important;
  background-color: #e8e8e8 !important;
  border: 1px solid #d9d9d9 !important;
}

div.globalmenu {
  margin: 0 0 20px 0 !important;
  padding: 13px 15px !important;
  background-color: #e8e8e8;
  border: 1px solid #d9d9d9;
  clear: left;
}

div.vrtx-admin-form {
  clear: left;
  float: left;
  width: 100%;
}

.ac_results ul {
  text-align: left;
}

/* Buttons */

.vrtx-button,
.vrtx-focus-button,
.vrtx-button-small {
  background: url(images/dropdown-left.gif) no-repeat 0 0;
  display: inline-block;
  height: 27px;
  white-space: nowrap;
  overflow: visible;
  margin: 0;
  cursor: pointer;
  text-decoration: none !important;
}

.vrtx-focus-button {
  background: url(images/focus-button-left.gif) no-repeat 0 0;
}

.vrtx-button-small {
  height: 22px;
  background: url(images/button-small-left.gif) no-repeat 0 0;
}

.vrtx-button span,
.vrtx-button input,
.vrtx-button button,
.vrtx-focus-button span,
.vrtx-focus-button input,
.vrtx-focus-button button,
.vrtx-button-small span,
.vrtx-button-small input,
.vrtx-button-small button {
  color: #363534;
  background: url(images/button-closed-right.gif) no-repeat top right;
  display: inline-block;
  height: 23px;
  padding: 4px 15px 0 14px;
  border: none;
  cursor: pointer;
  margin: 0 -5px 0 0;
}

.vrtx-button input,
.vrtx-button button,
.vrtx-focus-button input,
.vrtx-focus-button button {
  height: 27px;
  padding: 0 15px 0 14px;
}

.vrtx-focus-button span,
.vrtx-focus-button input,
.vrtx-focus-button button {
  color: #fff;
  background: url(images/focus-button-right.gif) no-repeat top right;
}

.vrtx-button-small span,
.vrtx-button-small input,
.vrtx-button-small button {
  height: 20px;
  padding: 2px 11px 0 10px;
  background: url(images/button-small-right.gif) no-repeat top right;
} 

.vrtx-button-small input,
.vrtx-button-small button {
  height: 22px;
  padding: 0 11px 0 10px;
}

/* Smaller font-size in resource-info tables */

.resourceInfo table .vrtx-button-small input,
.resourceInfo table .vrtx-button-small button,
.resourceInfo table .vrtx-button-small span {
  font-size: 0.846em;
}

.resourceInfo table .vrtx-button-small span {
  height: 20px;
  padding: 4px 11px 0 10px;
}

/* ^ Smaller font-size in resource-info tables */

.vrtx-button:hover,
.vrtx-button.hover {
  background-image: url(images/dropdown-left-rollover.gif);
}

.vrtx-focus-button:hover,
.vrtx-focus-button.hover {
  background-image: url(images/focus-button-left-rollover.gif);
}

.vrtx-button-small:hover,
.vrtx-button-small.hover {
  background-image: url(images/button-small-left-rollover.gif);
}

.vrtx-button:hover span,
.vrtx-button:hover input,
.vrtx-button:hover button,
.vrtx-focus-button:hover span,
.vrtx-focus-button:hover input,
.vrtx-focus-button:hover button,
.vrtx-button-small:hover span,
.vrtx-button-small:hover input,
.vrtx-button-small:hover button,
.vrtx-button.hover span,
.vrtx-button.hover input,
.vrtx-button.hover button,
.vrtx-focus-button.hover span,
.vrtx-focus-button.hover input,
.vrtx-focus-button.hover button,
.vrtx-button-small.hover span,
.vrtx-button-small.hover input,
.vrtx-button-small.hover button {
  color: #fff;
  background: url(images/button-closed-right-rollover.gif) no-repeat top right;
}

.vrtx-focus-button:hover span,
.vrtx-focus-button:hover input,
.vrtx-focus-button:hover button,
.vrtx-focus-button.hover span,
.vrtx-focus-button.hover input,
.vrtx-focus-button.hover button {
  background: url(images/focus-button-right-rollover.gif) no-repeat top right;
}

.vrtx-button-small:hover span,
.vrtx-button-small:hover input,
.vrtx-button-small:hover button,
.vrtx-button-small.hover span,
.vrtx-button-small.hover input,
.vrtx-button-small.hover button {
  background: url(images/button-small-right-rollover.gif) no-repeat top right;
}

.submitButtons,
#submitButtons {
  padding: 15px 0 0 0;
  clear: left;
}

.submitButtons .vrtx-button,
#submitButtons .vrtx-button,
.submitButtons .vrtx-focus-button,
#submitButtons .vrtx-focus-button {
  margin: 0 10px 0 0;
}

/* ^ Buttons */

/* Textfields */

.vrtx-textfield {
  background: url(images/textfield-left.gif) no-repeat 0 0;
  height: 27px;
  padding: 0 0 0 8px;
  display: inline-block;
}

.vrtx-textfield input {
  background: url(images/textfield-right.gif) no-repeat top right;
  height: 23px;
  margin: -1px -5px 0 0;
  padding: 4px 8px 0 0;
  display: block;
  display: inline-block;
}

.vrtx-textfield-big {
  background: url(images/textfield-big-left.gif) no-repeat 0 0;
  height: 33px;
  padding: 0 0 0 12px;
  display: inline-block;
}

.vrtx-textfield-big input {
  background: url(images/textfield-big-right.gif) no-repeat top right;
  height: 23px;
  margin: -1px -6px 0 0;
  padding: 10px 14px 0 0;
  display: block;
  display: inline-block;
}

/* Date */
.vrtx-date {
  margin-right: 20px;
}

.vrtx-hours {
  margin-right: 10px;
}

.vrtx-minutes {
  margin-left: 7px;
}

/* Datepicker */
.ui-widget {
  font-size: 0.9em !important;
}

/* File upload (JS progressive enhancement)
 *
 * Credits technique: http://www.quirksmode.org/dom/inputfile.html
 */

#file-upload-container {
  position: relative;
  z-index: 999;
}

#file-upload-container input.js-on {
  z-index: 999;
  position: relative;
  left: 328px;
  background: none;
  width: 83px;
  height: 25px;
  cursor: pointer;

  /* Transparent */
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity: 0);
}

#file-upload-container .vrtx-textfield {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  z-index: 1;
}

#file-upload-container .vrtx-textfield input#fake-file {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 295px;
  z-index: 1;
}

#file-upload-container a.vrtx-file-upload {
  margin-left: 10px;
  margin-bottom: -2px;
  position: absolute;
  top: 0px;
  right: -100px;
  z-index: 1;
}

/* ^ Textfields */

/* Tooltips */

.tooltip,
.input-description {
  display: inline;
  padding-left: 8px;
}

/* ^ Tooltips */

/* Mozilla hacks */

form::-moz-focus-inner,
form button::-moz-focus-inner {
  border: none;
  padding: 0;
}

/* Vertical aligning text in textfields: targets Firefox 1.5 and newer */
/* Credits: http://perishablepress.com/press/2009/06/28/css-hacks-for-different-versions-of-firefox/ */

.vrtx-button input,
.vrtx-button button,
.vrtx-focus-button input,
.vrtx-focus-button button, x:-moz-any-link, x:only-child {
  padding-bottom: 1px;
}

.vrtx-textfield input, x:-moz-any-link, x:only-child {
  padding-top: 2px;
  height: 25px;
}

.vrtx-textfield-big input, x:-moz-any-link, x:only-child {
  padding-top: 2px;
  height: 31px;
}

/* ^ Mozilla hacks */

/* iPhone and iPad hacks */

@media only screen and (max-device-width: 480px) {
  input { /* input reset */
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
}
@media only screen and (max-device-width: 1024px) {
  input { /* input reset */
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
}

/* ^ iPhone and iPad hacks */

/* ^ UiO design - Apps - Vortex */