/*
 *
 *  Vortex IE 7
 *
 */

div.tabs {
  clear: left;
}

/* Fix dropdown */
#app-head-wrapper,
#app-head,
#global-menu-top,
.localeSelection,
#titleContainer,
.resource-title,
.dropdown-shortcut-menu-container {
  z-index: 1;
}

ul.list-menu.resourceMenuRight {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.resource-title,
#main .activeTab,
#main #contents,
.expandedForm {
  max-height: 9999px; /* instead of invalid zoom: 1 */
}

.vrtx-textfield,
.vrtx-textfield-big,
.vrtx-button,
.vrtx-focus-button,
.vrtx-button-small {
  display: inline;
}

.vrtx-textfield input {
  padding-top: 4px;
  margin-top: -2px;
}

.vrtx-textfield-big input {
  padding-top: 8px;
  margin-top: -2px;
}

/* ^ Vortex IE 7 */