/*
 *
 *  Vortex - Editor - XML
 *
 */

/* Headings */
/*
h1,h2,h3,h4 {font-weight: bold; display:inline;}

h1 {font-size: 150%;}
h2 {font-size: 130%;}
h3 {font-size: 115%;}

.documentTitle {font-size: 150%; font-weight: bold;} 
*/
/* List */

/* ul {margin: 1em 1em 1em 2.5em;} */


/* Form section */

#contents form {
  padding-top: 15px;
}

#contents form > table {
  border: 1px solid #d9d9d9;
}

.ekspandert {padding: 15px 0px 15px 15px;}
.light {font-size: 80%;} 

/* Document structure / grid */

.bgcolorDocument {background-color: #fff;} 
.bgcolorOne {background-color: #f9f9f9;} 
.bgcolorTwo {background-color: #fff;} 
.bgcolorThree {background-color: whitesmoke;}
.bgcolorExpanded {background-color: #e8e8e8;}
.margincell {
  width: 18px;
  padding-left: 5px;
  padding-right: 5px;
}
.documentMargin {padding-top: 5px;}
.bottomborder {border: 1px solid #fff;}
.tabHelpURL {float: right;}

.xml-error {
  margin-left: -81px;
  margin-top: -51px; 
}

/* Move / Delete section */

.instructiontext {
  font-size: 150%;
  font-weight: bold;
}
.markedElementFaint {
  background-color: #f2f0e6;
  color: #aaa;
}
.markedElement {
  background-color: #efefef;
  color: black;
}

 /* Specific classes for generic editing used in form-elements.xsl 
    (choice-, sequence og attribute-edit) */
 
td.elementvaluecell {
  padding:0; 
  margin: 0;
}

td.deletebuttoncell {
  padding: 0px 0px 0px 0.5em;
  margin: 0;
  text-align:right;
  vertical-align:top;
}

td.attributelabelcell {
  margin-left: 0;
  padding-left: 0;
}

td.attributevaluecell {
  width:99%
}

table.nothing {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none; 
}

td fieldset {
  display: block;
  padding: 5px;
  margin: 0;
  border: 1px solid #AAA; 
}

td legend {
  padding: 0 10px;
  text-align: right;
}

div.subbuttons {
  padding: 0.5em 0;
   margin: 0.5em 0 0; 
} 

/* Buttons in bottom row */

div.buttons {
  background-color: #e8e8e8;
  padding: 7px 15px;
  text-align: center;
  height: 27px;
  position: fixed;
  bottom: 0px;
  left: 21px;
  right: 21px;
  z-index: 1;
}

div.buttons ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

div.buttons li {
  display: inline;
}

ul.moveDelete {
  float: left;
}

ul.newButtons {
  margin: 0 10em auto 0 1em auto;
}

ul.finishButton {
  float: right;
}
 
.buttons .vrtx-button,
.buttons .vrtx-focus-button,
.bgcolorExpanded .vrtx-focus-button,
.elementvaluecell .vrtx-textfield {
  margin-right: 15px;
}

/* ^ Buttons in bottom row */

/* ^ Vortex - Editor - XML */
