/*
 *
 *  Vortex - Editor - XML
 *
 */

/* Headings */
/*


h1 {font-size: 150%;}
h2 {font-size: 130%;}
h3 {font-size: 115%;}


*/
/* List */

/* ul {margin: 1em 1em 1em 2.5em;} */

#contents h2, #contents h3, #contents h4 {display:inline;}
.documentTitle {font-size: 150%; font-weight: bold;} 

/* Form section */

#contents form > table {
  border: 1px solid #d9d9d9;
}

.ekspandert {padding: 15px 0px 15px 15px;}
.light {font-size: 80%;} 

/* Document structure / grid */

.bgcolorDocument {background-color: #fff;} 
.bgcolorOne {background-color: #f9f9f9;} 
.bgcolorTwo {background-color: #fff;} 
.bgcolorThree {background-color: whitesmoke;}
.bgcolorExpanded {
  background-color: #e8e8e8;
}

.bgcolorExpanded.bgcolorExpandedFirst {
  border-top: 1px solid #C8C8C8;
}

.bgcolorExpanded.bgcolorExpandedLast {
  border-bottom: 1px solid #C8C8C8;
}

.bgcolorExpanded.bgcolorExpandedFirst td,
.bgcolorExpanded.bgcolorExpandedLast td {
  padding: 0px;
}

.margincell {
  width: 18px;
  padding-left: 5px;
  padding-right: 5px;
}
.documentMargin {padding-top: 5px;}
.bottomborder {border: 1px solid #fff;}
.tabHelpURL {
  float: right;
  margin-top: -21px;
}

.errormessage {
  background: url(images/error.gif) no-repeat 0 0;
  padding-left: 33px;
  display: block;
  height: 26px;
}

/* Move / Delete section */

.instructiontext {
  font-size: 150%;
  font-weight: bold;
}
.markedElementFaint {
  background-color: #f2f0e6;
  color: #aaa;
}
.markedElement {
  background-color: #efefef;
  color: black;
}

 /* Specific classes for generic editing used in form-elements.xsl 
    (choice-, sequence og attribute-edit) */

table.nothing {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none; 
}

td {
  padding: 10px;
}

td table td {
  padding: 10px 0;
}

td.elementvaluecell,
td table td.elementvaluecell {
  padding:0; 
  margin: 0;
}

td.deletebuttoncell,
td table td.deletebuttoncell {
  padding: 0px 0px 0px 0.5em;
  margin: 0;
  text-align:right;
  vertical-align:top;
}

td.attributelabelcell,
td table td.attributelabelcell {
  margin-left: 0;
  padding-left: 0;
}

td.attributevaluecell,
td table td.attributevaluecell {
  width:99%
}

td fieldset,
td table td fieldset {
  display: block;
  padding: 0 10px 10px 10px;
  margin: 0;
  border: 1px solid #ccc; 
}

td legend,
td table td legend {
  padding: 0 10px;
  text-align: right;
}

div.subbuttons {
  padding: 0.5em 0;
   margin: 0.5em 0 0; 
} 

.bgcolorExpanded input[type=radio] {
  margin-bottom: 10px;
}

.xml-edit-link {
  padding-left: 10px;
}

#app-footer-wrapper {
  display: none;
}

#app-content {
  margin-bottom: 0px;
}

/* Buttons in bottom row */

div.buttons {
  background-color: #e8e8e8;
  padding: 7px 13%;
  text-align: center;
  height: 27px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  min-width: 760px;
}

div.buttons ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

div.buttons li {
  display: inline;
}

ul.moveDelete {
  float: left;
}

ul.newButtons {
  margin: 0 10em auto 0 1em auto;
}

ul.finishButton {
  float: right;
}
 
.buttons .vrtx-button,
.buttons .vrtx-focus-button,
.bgcolorExpanded .vrtx-focus-button,
.bgcolorExpanded .vrtx-textfield {
  margin-right: 15px;
}

/* ^ Buttons in bottom row */

/* ^ Vortex - Editor - XML */
