@import url(editor-common.css);

/*
 *
 *  Vortex - Editor - Old documenttypes and folders
 *
 */

.start-date,
.end-date,
.location,
.mapurl {
  margin-right: 20px;
  clear: none;
  float: left;
}

.start-date {
  clear: left;
}

.properties:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.start-date .vrtx-textfield.vrtx-date,
.end-date .vrtx-textfield.vrtx-date {
  margin-right: 15px;
}

.start-date .vrtx-textfield.vrtx-hours,
.end-date .vrtx-textfield.vrtx-hours {
  margin-right: 5px;
}

.media .vrtx-textfield,
.image-ref .vrtx-textfield {
  margin-right: 20px;
}

.image-ref img {
  margin: 20px 0 0 0;
}

#vrtx-resource\.recursive-listing-subfolders {
  margin-top: 5px;
}

#vrtx-resource\.recursive-listing-subfolders .vrtx-textfield {
  margin-left: 5px;
}

#vrtx-resource\.recursive-listing-subfolders,
#vrtx-resource\.aggregation,
#vrtx-resource\.manually-approve-from {
  margin-left: 18px;
}

#vrtx-resource\.manually-approve-from,
#vrtx-resource\.aggregation {
  margin-top: 10px;
  margin-bottom: 20px;
}

#vrtx-resource\.hide-props .property-item,
#vrtx-resource\.display-manually-approved {
  margin-top: 10px;
}

#vrtx-resource\.featured-articles.property-item,
#vrtx-resource\.recursive-listing.property-item,
#vrtx-resource\.display-aggregation.property-item,
#vrtx-resource\.aggregation.property-item,
#vrtx-resource\.display-manually-approved.property-item,
#vrtx-resource\.manually-approve-from.property-item {
  overflow: hidden;
}

input[type=radio] {
  margin: 0 3px 6px 0;
}

input[type=checkbox] {
  margin: 0 3px 0 0;
}

/* Manual approval */

#vrtx-resource\.manually-approve-from {
  width: 95%;
}

#manually-approve-container {
  padding: 10px 0 30px 0;
  clear: both;
  width: 100%;
}

#manually-approve-refresh-icon {
  height: 16px;
  width: 16px;
  background: url(images/reload.png) no-repeat center center;
  display: inline-block;
  margin: 0 5px -4px -7px;
}

#manually-approve-container-title,
#approve-spinner {
  padding-left: 20px;
}

#vrtx-manually-approve-from-add,
#manually-approve-container-title {
  display: inline-block;
}

#manually-approve-container.hidden,
#vrtx-manually-approve-tab-menu.hidden {
  display: none;
}

#manually-approve-container table {
  width: 100%;
  table-layout: fixed;
}

#manually-approve-container table td {
  font-size: 1.15em;
  border-top: 1px solid #f0f0f0;
  padding: 5px 15px 4px 0;
  word-wrap: break-word;
  overflow: hidden;
  vertical-align: top;
}

#manually-approve-container table tr.even td {
  background-color: #F9F9F9;
}

#manually-approve-container table tr.first td {
  border-top: none;
}

#manually-approve-container table th,
#manually-approve-container table tr.last td {
  background: url(images/line-dotted.gif) repeat-x bottom left;
}

#manually-approve-container table tr.last.even td {
  background: #F9F9F9 url(images/line-dotted.gif) repeat-x bottom left;
}

#manually-approve-container table th {
  background: url(images/line-dotted.gif) repeat-x bottom left;
  padding: 0 15px 8px 0;
  text-align: left;
  white-space: nowrap;
  vertical-align: top; 
}

div.manually-approve-from table td input {
  margin-top: 3px;
}

div.manually-approve-from table th input {
  margin-top: 2px;
}

#manually-approve-container th#approve-checkbox {
  width: 20px;
}

#manually-approve-container th#approve-title {
  width: 40%;
}

#manually-approve-container th#approve-src {
  width: 40%;
}

#manually-approve-container th#approve-published {
  width: 100px;
}

#vrtx-manually-approve-no-approved-msg {
  clear: left;
  padding: 15px 0 0 0;
}

#manually-approve-container .next,
#manually-approve-container .prev,
#manually-approve-container .approve-info {
  margin: 10px 0 0 0;
  display: block;
}

#manually-approve-container .approve-info {
  float: left;
}

#manually-approve-container .next,
#manually-approve-container .prev {
  float: right;
}

#vrtx-resource\.manually-approved-resources {
  display: none;
}

/* ^ Manual approval */

/* Image editor */

#image-properties {
  position: relative;
}

#image-properties #resource\.userTitle,
#image-properties #resource\.photographer {
  width: 317px;
}

#image-properties #vrtx-resource\.image-description {
  position: absolute;
  top: -20px;
  left: 370px;
}

#image-properties #vrtx-resource\.image-description .cke_contents {
  height: 117px !important;
}

#vrtx-image-editor-beta-msg {
  font-size: 40%;
}

#vrtx-image-editor-wrapper {
  overflow-x: hidden;
  overflow-y: visible;
  padding: 0 0 20px 0;
}

#vrtx-image-editor-inner-wrapper {
  min-height: 300px;
  clear: left;
  float: left;
}

h3#vrtx-image-editor-preview {
  clear: left;
  float: left;
  margin: 0 0 15px 0;
}

.vrtx-label-and-text {
  float: left;
  margin: 10px 20px 0 0;
}

#vrtx-image-editor-wrapper.loading #vrtx-image-editor-inner-wrapper {
  display: none;
}

#vrtx-image-editor-wrapper .ui-wrapper { 
  opacity: 1 !important;
  clear: left;
}

#vrtx-image-dimensions-crop {
  position: relative;
}

#vrtx-image-dimensions-crop .vrtx-textfield {
  margin-bottom: 20px;
}

#vrtx-image-dimensions-crop .vrtx-textfield#vrtx-textfield-height {
  margin-bottom: 0px;
}

#vrtx-image-crop-button {
  float: left;
  background: url("images/seperator-grey-gradient.png") no-repeat left top;
  padding: 0 0 0 17px;
  margin: 29px 0 0 0;
}

#vrtx-image-crop-button .vrtx-button {
  margin-top: 10px;
}

#vrtx-image-crop-coordinates {
  float: left;
  display: block;
  margin: 46px 0px -10px 15px;
  font-size: 0.846em;
}

/* ^ Image editor */

/* Simple editor */

body#vrtx-simple-editor {
  background: #999999;
}

body#vrtx-simple-editor #app-content {
  width: 490px;
  padding: 20px 20px 68px 20px;
  position: relative;
  background: #fff;
  border: 2px solid #848484;
  box-shadow: 1px 1px 5px 2px #848484;
}

body#vrtx-simple-editor .vrtx-focus-button,
body#vrtx-simple-editor #vrtx-message-cancel,
body#vrtx-simple-editor #vrtx-message-delete {
  position: absolute;
  bottom: 20px;  
}

body#vrtx-simple-editor .vrtx-focus-button {
  left: 20px;
}

body#vrtx-simple-editor #vrtx-message-cancel {
  left: 95px;
}

body#vrtx-simple-editor #vrtx-message-delete {
  left: 173px;
}

body#vrtx-simple-editor .vrtx-back {
  background: transparent url("http://www.uio.no/vrtx/decorating/resources/dist/images/arrow-back-red.gif") no-repeat left center;
  padding-left: 14px;
  margin: 0 0 10px 0;
}

body#vrtx-simple-editor #vrtx-close-simple-structured-editor {
  background: url("/vrtx/__vrtx/static-resources/themes/default/images/thickbox-close.png") no-repeat scroll center center transparent;
  display: block;
  width: 20px;
  height: 20px;
  float: right;
}

/* ^ Simple editor */

/* ^ Vortex - Editor - Old documenttypes and folders */
