/*
 *
 *  Vortex - Editor - Common
 *
 */

/* 
 * ToC:
 * 
 * 1. General
 * 2. Dimensions
 * 3. CK
 *
 */

/*-----------------------------------------*\
	1. General
\*-----------------------------------------*/

h2 {
  background: url(images/line-dotted.gif) repeat-x bottom left;
  padding-bottom: 15px;
}

#buttons-or-text {
  padding: 0 10px;
  color: #666;
}

.dropdown-shortcut-menu-container .help-link {
  margin-right: 0px;
}

.property-item,
.html-content,
.vrtx-string,
.vrtx-html,
.vrtx-simple-html,
.vrtx-radio,
.vrtx-json,
.vrtx-resource-ref,
.vrtx-image-ref,
.vrtx-media-ref,
.vrtx-grouped-horizontal,
.vrtx-grouped {
  margin-top: 20px;
}

.property-item,
.html-content,
.vrtx-html.content,
.vrtx-html.content-study,
.vrtx-html.responsibilities {
  clear: left;
}

.property-label,
.html-content label,
.vrtx-string label,
.vrtx-html label,
.vrtx-simple-html label,
.vrtx-radio label,
.vrtx-json label,
.vrtx-resource-ref label,
.vrtx-image-ref label,
.vrtx-media-ref label,
.vrtx-grouped-horizontal .header,
.vrtx-grouped-vertical .header,
.vrtx-grouped .header,
.vrtx-json .header {
  font-size: 1.15em;
  margin-bottom: 10px;
  display: block;
}

.vrtx-grouped-vertical label,
.vrtx-grouped-horizontal label,
.vrtx-grouped label,
.vrtx-json label {
  font-size: 1em;
}

.vrtx-image-ref-browse .vrtx-button,
.vrtx-media-ref .vrtx-button,
.vrtx-resource-ref .vrtx-button {
  margin-left: 20px;
}

.featured-articles-row,
.aggregation-row,
.manually-approve-from-row,
.vrtx-multipleinputfield {
  margin-bottom: 10px;
}

.vrtx-multipleinputfield .vrtx-dropdown {
  display: inline-block;
}

.featured-articles-row .vrtx-textfield,
.featured-articles-row .vrtx-button,
.aggregation-row .vrtx-textfield,
.aggregation-row .vrtx-button,
.manually-approve-from-row .vrtx-textfield,
.manually-approve-from-row .vrtx-button,
.vrtx-multipleinputfield .vrtx-textfield,
.vrtx-multipleinputfield .vrtx-dropdown,
.vrtx-multipleinputfield .vrtx-button {
  margin-right: 20px;
}

/* Sticky title and editor save/cancel buttons */

.property-item.userTitle,
.vrtx-string.title,
.vrtx-string.name,
.vrtx-string.areacode,
.vrtx-string.username,
.vrtx-string.typeToDisplay {
  margin-top: 0px;
}

#vrtx-editor #editor {
  padding-top: 20px;
  background: transparent url("images/line-dotted.gif") repeat-x left top;
}

#vrtx-editor-title-submit-buttons-inner-wrapper {
  padding-top: 10px;
  background: #fff;
}

#app-content #main {
  padding-top: 9px;
}

#vrtx-editor-title-submit-buttons h2 {
  margin: 0;
  background: none;
}

.submit-extra-buttons {
  clear: none;
  float: right;
  margin-top: -42px;
  padding-top: 0px;
}

.vrtx-sticky-editor-title-submit-buttons {
  position: fixed;
  top: 0px;
  z-index: 9999;
  margin-left: -19px;
  -webkit-box-shadow:  0px 7px 14px -8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:  0px 7px 14px -8px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 7px 14px -8px rgba(0, 0, 0, 0.5); 
}

.vrtx-sticky-editor-title-submit-buttons.ie9below {
  /* TODO */
}

.vrtx-sticky-editor-title-submit-buttons #vrtx-editor-title-submit-buttons-inner-wrapper {
  padding-left: 19px;
  padding-right: 19px;
}



/*-----------------------------------------*\
	2. Dimensions and explicit settings
\*-----------------------------------------*/

div.navigationTitle input,
div.aggregation input,
div.manually-approve-from input,
div.cssUrl input {
  width: 485px;
}

div.manually-approve-from table input {
  width: auto;
}

div.title input,
div.name input,
div.userTitle input {
  width: 473px;
}

div.additionalContent,
div.introduction,
div.image-description,
div.video-description,
div.audio-description,
div.description {
  width: 500px;
}

div.additionalContent iframe {
  height: 150px !important;
}

div.introduction,
div.image-description,
div.video-description,
div.audio-description,
div.description {
  clear: left;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

div.introduction textarea,
div.image-description textarea,
div.video-description textarea,
div.audio-description textarea,
div.description textarea {
  height: 200px;
}

div.content textarea,
div.content-study textarea,
div.additionalContents textarea,
div.additionalContent textarea,
div.relatedContent textarea,
div.selectedPublications textarea,
div.related-content textarea,
div.contactInfo textarea,
div.responsibilities textarea {
  width: 100%;
}

div.content textarea {
  height: 300px;
}

div.additionalContents textarea,
div.additionalContent textarea,
div.relatedContent textarea,
div.selectedPublications textarea,
div.related-content textarea,
div.contactInfo textarea,
div.responsibilities textarea {
  height: 160px;
}

div.introduction iframe,
div.image-description iframe,
div.video-description iframe,
div.audio-description iframe,
div.description iframe {
  width: 476px !important;
}

div.introduction textarea,
div.image-description textarea,
div.video-description textarea,
div.audio-description textarea,
div.description textarea {
  width: 497px !important;
}

/* Image and caption */

div.caption textarea {
  height: 127px;
  width: 352px !important;
}

.introImageAndCaption .header,
#additional-content .header {
  display: none;
}

form.vrtx-program-frontpage #additional-content .header,
form.vrtx-program-option-frontpage #additional-content .header {
  display: block;
}

.introImageAndCaption label {
  font-size: 1.15em !important;
  margin-bottom: 10px !important;
  display: block !important;
}

div.introImageAndCaption,
div#vrtx-resource\.picture {
  float: left;
  clear: none;
  width: 500px;
  position: relative;
  margin-bottom: 20px;
  height: 260px;
}

div#vrtx-resource\.picture {
  height: 241px;
}

div.introImageAndCaption .caption,
div#vrtx-resource\.picture .caption {
  position: absolute;
  top: 92px;
  left: 0px;
  width: 355px;
}

div#vrtx-resource\.picture .caption {
  top: 52px;
}

div.introImageAndCaption iframe,
div#vrtx-resource\.picture iframe {
  width: 331px !important;
}

div.introImageAndCaption div.vrtx-image-ref-browse,
div#vrtx-resource\.picture div.input-and-button-container {
  float: left;
}

div.introImageAndCaption div.vrtx-image-ref-browse .vrtx-textfield input#picture,
div#vrtx-resource\.picture div.input-and-button-container .vrtx-textfield input {
  width: 200px;
}

div#vrtx-resource\.picture div.input-and-button-container .vrtx-textfield {
  margin-right: 20px;
}

div.introImageAndCaption div#picture\.preview,
div#vrtx-resource\.picture div#resource\.picture\.preview {
  margin: 0 0 0 375px;
}

div.introImageAndCaption img,
div#vrtx-resource\.picture img {
  margin-top: 0px;
}

.vrtx-grouped .related-content label {
  display: none;
}

/* ^ Image and caption */


/*------------------------------------*\
	3. CK
\*------------------------------------*/

span.cke_skin_kama {
  padding: 0px !important;
  border-color: #d9d9d9 !important;

  /* Remove rounded corners */
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}

span.cke_skin_kama .cke_wrapper {
  background: #f6f6f6 !important;
  padding: 10px !important;

  /* Remove rounded corners */
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}

.cke_skin_kama .cke_toolgroup,
.cke_skin_kama .cke_contents iframe {
  border: 1px solid #d9d9d9 !important;
}

.cke_skin_kama .cke_toolgroup {
  margin-bottom: 10px !important;
}

.cke_skin_kama .cke_rcombo a,
.cke_skin_kama .cke_rcombo a:active,
.cke_skin_kama .cke_rcombo a:hover {
  height: 17px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  border-right: none !important;
  border-bottom: none !important;
  padding: 1px !important;
}

/* Override CK for injected save/help */

.cke_skin_kama .vrtx-button {
  background: url(images/dropdown-left.gif) no-repeat 0 0 !important;
  display: inline-block;
  height: 27px !important;
  white-space: nowrap !important;
  overflow: visible !important;
  margin: 0 !important;
  cursor: pointer !important;
  text-decoration: none !important;
  margin-left: 20px !important;
 
}

.cke_skin_kama .vrtx-button span,
.cke_skin_kama #editor-help-menu a {
  font: normal 13px/1.3 Arial, sans-serif !important;
  cursor: pointer !important;  
}

.cke_skin_kama .vrtx-button:hover,
.cke_skin_kama .vrtx-button.hover {
  background-image: url(images/dropdown-left-rollover.gif) !important;
}

.cke_skin_kama #editor-help-menu {
  padding-left: 10px;
}

.cke_skin_kama #editor-help-menu a {
  color: #005AAB;
}

.cke_skin_kama #editor-help-menu ul.dropdown-shortcut-menu-container li a {
  border-bottom: 1px solid #CBCBCB;
}

/* ^ Vortex - Editor - Common */
