@import url(editor-common.css);

/*
 *
 *  Vortex - Editor - Old documenttypes and folders
 *
 */

.start-date,
.end-date,
.location,
.mapurl {
  margin-right: 20px;
  clear: none;
  float: left;
}

.start-date {
  clear: left;
}

.properties:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.start-date .vrtx-textfield.vrtx-date,
.end-date .vrtx-textfield.vrtx-date {
  margin-right: 15px;
}

.start-date .vrtx-textfield.vrtx-hours,
.end-date .vrtx-textfield.vrtx-hours {
  margin-right: 5px;
}

.media .vrtx-textfield,
.image-ref .vrtx-textfield {
  margin-right: 20px;
}

.image-ref img {
  margin: 20px 0 0 0;
}

#contents .help-link {
  margin-right: 25px;
}

/* ^ Vortex - Editor - Old documenttypes and folders */