/* Vortex overriding section */ /* ****** START: tab styling */
div.activeTab {
  background-color: #efefef;
  border-bottom: 0px;
}

div.tabs ul li.activeTab a,div.tabs ul li.activeTab a:hover {
  background-color: #efefef;
}

/* ****** END: tab styling */
  /* ****** START: content and generic styling */
#contents {
  background-color: #efefef;
  overflow: visible;
  position: relative;
}

#contents h2 {
  margin-top: 0;
  font-size: 115%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #aaaaaa;
  margin-bottom: 1.5em;
}

.submit-extra-buttons a.help-link {
  font-size: 0.8em;
  margin-right: 1em;
}

form.editor {
  padding: 0;
  margin: 0;
  margin-top: -14px;
}

iframe {
  border: 1px solid #ddd;
}

* html div.html-content iframe {
  margin: -1px; /* Fix for vertical scrollbar in IE6 */
}

span.error {
  color: red;
}

label {
  display: block;
  margin-bottom: .2em;
  /*white-space: nowrap;
  width:1%;*/
  font-size: .9em;
}


.cke_dialog label {
  display: inline;
}

.recursive-listing-subfolders label {
  display: inline;
}

resource\.recursive-listing.false {
  clear: left;
}

div.resource\.page-limit {
  float: left;
  margin-right: 6px;
}

div.recursive-listing-subfolders {
  margin-top: -10px;
  margin-left: 20px;
}

#vrtx-resource\.recursiveAggregation {
  margin-top: -10px;
}

#resource\.recursiveAggregation\.true {
  margin-left: 20px;
  display: inline;
}

.resource\.recursiveAggregation {
  display: inline;
}

#vrtx-featured-articles-remove,#vrtx-featured-articles-browse {
  margin-left: 4px;
}

.vrtx-featured-articles-style {
  margin: 6px 0;
}

label.resource\.hide-number-of-comments,
label.resource\.recursive-listing,
label.resource\.hide-last-modified,
label.resource\.hide-published-date,
label.resource\.hide-introduction,
label.resource\.hide-introduction-image,
label.resource\.hide-end-date,
label.resource\.hide-location,
label.resource\.show-dimension,
label.resource\.show-description,
label.resource\.show-creation-time
  {
  display: inline;
}

div.properties {
  clear: both;
  height: 1%; /* For IE */
}

div.save-cancel { /* margin-top: 0.5em; */
  
}

* html div.save-cancel {
  margin-top: 0;
}

div.properties:after {
  clear: both;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
}

div.property-item { /* XXX: temporary clear: both;*/
  margin-bottom: 1em;
}

/* ****** END: content and generic styling */
  /* ****** START: collection- event and articlelisting parameters styling */
  /* START Navigation */ /* Margin-top */
div#vrtx-resource\.navigationTitle {
  float: left;
  clear: left;
  margin: 0 0 0.5em 0;
  width: 317px;
  position: relative;
}

div#vrtx-resource\.navigationTitle input,
div#vrtx-resource\.navigationTitle div,
div#vrtx-resource\.aggregation input,
div#vrtx-resource\.manually-approve-from input#resource\.manually-approve-from {
  width: 317px;
  display: inline;
}

div#vrtx-resource\.manually-approved-resources {
  visibility: hidden;
  height: 0;
}

div#vrtx-resource\.importance {
  float: left;
  margin: 0.5em 0 0.5em 0;
  width: 180px;
  clear: left;
}

div#vrtx-resource\.hidden,
div#vrtx-resource\.hide-additional-content {
  float: left;
  clear: left;
  margin: 0.5em 0 1em 0;
  width: 155px;
}

/* Override breaks in options */
div#vrtx-resource\.hidden br,
div#vrtx-resource\.hide-additional-content br {
  display: none;
}

div#vrtx-resource\.hidden #resource\.hidden\.true,
div#vrtx-resource\.hidden #resource\.hidden\.unspecified,
div#vrtx-resource\.hide-additional-content #resource\.hide-additional-content\.false,
div#vrtx-resource\.hide-additional-content #resource\.hide-additional-content\.unspecified {
  float: left;
}

label.resource\.hidden,
label.resource\.hide-additional-content {
  float: left;
  margin-right: 0px;
}

#vrtx-resource\.additional-content,
#vrtx-resource\.additionalContents {
  margin-top: 1em;
}

label.resource\.display-type {
  display: inline;
}

/* END Navigation */
div#allowedValues {
  margin-bottom: 1em;
}

div.page-limit {
  clear: both;
  padding-bottom: 1em;
}

.page-limit label {
  margin-top: 0;
  padding-top: 0;
  padding-right: 6px;
  width: auto;
  float: left;
  clear: left;
}

.page-limit select {
  float: left;
}

div.sorting,div.recursive-listing {
  clear: both;
  /*height:80px;*/
}

* html div.sorting,* html div.recursive-listing {
  padding: 0;
  float: none;
}

.property-label {
  font-size: .9em;
}

.sorting input,.recursive-listing input {
  float: left;
  clear: left;
  /*	display:block;
	float:left;
	clear:left;
	margin:0;
	margin-right:.6em;
	height:22px;*/
}

* html .sorting input,* html  .recursive-listing input {
  margin-right: 0;
  margin-top: 0;
  height: auto;
}

* html #vrtx-resource\.start-date,* html #vrtx-resource\.end-date {
  width: 400px;
}

.sorting label,.recursive-listing label { /*	margin:0;
	padding:0;
	display:block;
	float:left;
	clear:right;
	margin-top:2px;
	height:20px; */
  display: inline;
}

* html .sorting label,* html .recursive-listing label {
  float: none;
  height: auto;
}

div.hide-last-modified,div.hide-published-date,div.hide-introduction,div.hide-end-date,div.hide-location,div.hide-introduction-image
  {
  margin-bottom: 0px !important;
  clear: both;
}

.hide-number-of-comments label,
.hide-location label,
.hide-end-date label,.
hide-published-date label,
.hide-last-modified label,
.hide-introduction label,
.hide-introduction-image label,
.show-dimension label,
.show-description label,
.show-creation-time label
  {
  margin: 0;
  margin-top: .3em;
}

.hide-number-of-comments input,
.hide-location input,
.hide-end-date input,
.hide-published-date input,
.hide-last-modified input,
.hide-introduction input,
.hide-introduction-image input,
.show-dimension input,
.show-description input,
.show-creation-time input
  {
  margin: 0;
  margin-right: .2em;
}

/* ****** END: collection- event and articlelisting parameters styling */
  /* ****** START: Introduction styling */
#resource\.userTitle {
  width: 498px;
}

#resource\.htmlTitle {
  width: 498px;
}

span.input-description {
  font-size: .8em;
}

div.additionalContent {
  clear: left;
  float: left;
  width: 500px;
  margin-right: 1.2em;
  margin-bottom: 1em; /*1em;*/
}

div.additionalContent textarea {
  height: 22.5ex; /* Used when fck-editor is disabled */
  width: 500px;
}

#resource\.additionalContent___Frame {
  height: 133px;
}

* html #resource\.additionalContent___Frame {
  height: 133px;
}

div.introduction,
div.description {
  clear: left;
  float: left;
  width: 500px;
  margin-right: 1.2em;
  margin-bottom: 1em; /*1em;*/
}

div.introduction textarea,
div.description textarea {
  height: 22.5ex; /* Used when fck-editor is disabled */
  width: 500px;
}

/* div.introduction iframe {
  height: 13ex;
} */
#resource\.introduction___Frame {
  height: 133px;
}

* html #resource\.introduction___Frame {
  height: 133px;
}

/* ****** END: Introduction styling */
  /* ****** START: Picture (input, button, preview) and caption styling */
div.picture {
  width: 530px;
  float: left;
  position: relative;
  clear: right; /*IE7*/
  margin-bottom: 0;
  overflow: hidden;
}

#input-and-button-container {
  width: 330px;
  float: left;
  position: absolute;
  left: 0;
  top: 18px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

* html #input-and-button-container {
  top: 0.9em;
}

* html #input-and-button-container {
  width: 325px;
}

div.picture input {
  width: 180px;
  float: left;
  position: relative;
  margin: 0;
  margin-right: .25em;
  padding: 1px 0;
}

* html div.picture input {
  width: 161px;
  margin-top: 0.2em;
}

div.picture button {
  float: left;
  position: relative;
  margin: 0;
}

* html div.picture button {
  margin-top: 0.1em;
}

/* Fix for wide images not breaking */
#resource\.picture\.preview {
  whitespace: nowrap;
  margin: 0 0 0 347px;
  position: relative;
  height:135px;
}

* html #resource\.picture\.preview {
  margin: 0 0 0 345px;
  margin-top: 0.1em;
}

div.picture img {
  height: 135px;
  float: left;
  position: relative;
}

* html div.picture img {
  height: 135px;
}

/*
div.picture div {
  border: 1px solid #ccc;

 }

* html div.picture div {
  height: 71pt;
}
*/
div.caption {
  width: 327px;
  float: left;
  position: relative;
  margin-top: -105px;
  margin-bottom: 1em;
}

/* IE6 fix */
* html div.caption {
  margin-top: -106px;
}

div.caption textarea {
  height: 86px;
}

#resource\.caption___Frame {
  height: 86px;
}

/* ****** END Picture: (input, button, preview) and caption styling */
  /* ****** START: (Main) Content styling */
div.html-content {
  clear: both;
  margin-bottom: 1em;
}

div.html-content textarea {
  width: 100%;
  height: 20em;
}

* html div.html-content iframe {
  height: 28em;
}

#resource\.content___Frame {
  height: 28em;
}

/* ****** END: (Main) Content styling */
  /* ****** START: Event and Article specific styling */
div.authors {
  clear: left;
  float: left;
  white-space: nowrap;
}

div.published-date {
  clear: left;
  float: left;
  white-space: nowrap;
}

div.start-date,div.end-date,div.location,div.mapurl {
  float: left;
  margin-right: 1em;
}

/* IE7 */
div.start-date,div.end-date {
  white-space: nowrap;
}

/* START time and place ie7 hack */
*:first-child+html div.start-date,
*:first-child+html div.end-date,
*:first-child+html div.location,
*:first-child+html div.mapurl {
  width: 100%;
}

* :first-child+html div.mapurl {
  padding-bottom: 1em;
}

div.resource\.mapurl {
  white-space: nowrap;
}

/* There is IE7-specific conditional comments in editor.ftl for time and place elements */
div.start-date {
  clear: left;
}

* html div.end-date,* html div.location,* html div.mapurl {
  clear: left;
}

input.date {
  width: 6.5em;
}

* html input.date {
  width: 5em;
}

input.hours,input.minutes {
  width: 1.5em;
}

span.colon {
  padding: 0 .2em;
}

/* END: time and place */
  /* ****** END: Event and Article specific styling */
  /* ****** START: Tooltip jQuery */
a.show-tooltip {
  text-decoration: none;
  color: #efefef;
  background: url(icons/help.gif) no-repeat;
}

span.show-tooltip-text {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  font-size: 0.9em;
  background-color: #fff580;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  color: #333;
  border: 1px solid #aaa;
}

/* ****** END: Tooltip jQuery */
#ui-datepicker-div {
  font-size: 10px;
}

.submit-extra-buttons {
    position:absolute;
    /* right:40px;
    top:187px; */
    top: 5px;
    right: 12px;
}

/* CKEditor */

span.cke_skin_kama {
  padding: 0px !important;
}
