/*
 * Vortex - Forms
 *
 */
 
 /* Desktop */

.forms-new .vrtx-close-dialog {
  display: none;
}

/* JS enabled */

.forms-new .ui-dialog .vrtx-close-dialog {
  display: block;
}

.forms-new .ui-dialog h1 {
  display: none;
}

.forms-new form,
.forms-new fieldset,
.forms-new input,
.forms-new button,
.forms-new .ui-dialog,
.forms-new .ui-dialog-buttonpane button {
  margin: 0;
  padding: 0;
}

.forms-new fieldset {
  background: transparent;
  border: none;
}

.forms-new textarea {
  border: 1px solid #919191;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  padding: 8px 10px;
}

.forms-new input[type=button],
.forms-new input[type=file],
.forms-new input[type=image],
.forms-new input[type=reset],
.forms-new input[type=submit],
.forms-new input[type=password],
.forms-new input[type=text],
.forms-new button,
.forms-new .ui-dialog .ui-dialog-buttonpane button {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit; 
  font-weight: inherit;
}

.forms-new input[type=button]:focus,
.forms-new input[type=file:focus],
.forms-new input[type=image]:focus,
.forms-new input[type=reset]:focus,
.forms-new input[type=submit]:focus,
.forms-new input[type=password]:focus,
.forms-new input[type=text]:focus,
.forms-new button:focus,
.forms-new .ui-dialog .ui-dialog-buttonpane button:focus {
  outline: none;
}

/* Buttons */

.button-row li > a,
.button-row li input[type='submit'],
.button-row-small li > a,
.button-row-small li input[type='text'],
.forms-new .ui-dialog .ui-dialog-buttonpane button,
.forms-new .vrtx-button,
.forms-new .vrtx-focus-button,
.forms-new .vrtx-button-small {
  background: #e7e7e7;
  border: 1px solid #cbcbcb;
  color: #000;
  display: inline-block;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer;
  text-decoration: none !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 15px 6px;
  margin: 0;
}

.button-row li.save,
.forms-new .ui-dialog .ui-dialog-buttonpane button:first-child,
.forms-new .vrtx-focus-button {
  background: #2b81c8;
  color: #fff;
  border: none;
  padding: 6px 16px 7px;
}

.forms-new .ui-dialog .ui-dialog-buttonpane button span {
  padding: 0;
}

.button-row-small li a,
.button-row-small li input[type="submit"],
.forms-new .vrtx-button-small {
  padding: 3px 13px 4px;
}

.button-row li a:hover,
.button-row li a:focus,
.button-row li input[type="submit"]:hover,
.button-row li input[type="submit"]:focus,
.button-row-small a:hover,
.button-row-small a:focus,
.button-row-small input[type="submit"]:hover,
.button-row-small input[type="submit"]:focus,
.forms-new .ui-dialog .ui-dialog-buttonpane button:hover,
.forms-new .ui-dialog .ui-dialog-buttonpane button:focus,
.forms-new .vrtx-button:hover,
.forms-new .vrtx-button:focus,
.forms-new .vrtx-button.hover,
.forms-new .vrtx-focus-button:hover,
.forms-new .vrtx-focus-button:focus,
.forms-new .vrtx-focus-button.hover,
.forms-new .vrtx-button-small:hover,
.forms-new .vrtx-button-small:focus,
.forms-new .vrtx-button-small.hover {
  background: #4195db;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 6px 16px 7px;
}

.button-row li form input[type="submit"]:hover,
.button-row li form input[type="submit"]:focus {
  padding: 7px 16px 8px;  
}

.button-row-small a:hover,
.button-row-small a:focus,
.forms-new .vrtx-button-small:hover,
.forms-new .vrtx-button-small:focus,
.forms-new .vrtx-button-small.hover {
  padding: 4px 14px 5px;
}

.forms-new .ui-dialog .ui-dialog-buttonpane button:hover,
.forms-new .ui-dialog .ui-dialog-buttonpane button:focus,
.forms-new .vrtx-button:hover,
.forms-new .vrtx-button:focus,
.forms-new .vrtx-button.hover,
.forms-new .vrtx-button-small:hover,
.forms-new .vrtx-button-small:focus,
.forms-new .vrtx-button-small.hover {
  color: #fff;
}

.forms-new .submitButtons,
.forms-new #submitButtons {
  padding: 20px 0 0 0;
  clear: left;
}

.forms-new .ui-dialog .submitButtons,
.forms-new .ui-dialog #submitButtons {
  padding: 30px 0 0 0;
  margin: 0 0 -15px;
}

.forms-new .submitButtons .vrtx-button,
.forms-new .submitButtons .vrtx-focus-button,
.forms-new #submitButtons .vrtx-button,
.forms-new #submitButtons .vrtx-focus-button,
.forms-new .ui-dialog .ui-dialog-buttonpane button {
  margin: 0 10px 0 0;
}

.forms-new .ui-dialog .cancel-is-not-a-button {
  margin-left: 5px;
}

/* Special button */

.button-row li.save a,
.button-row li.save input[type="submit"] {
  border: none;
}

.button-row li.save > * {
  margin: 0;
  padding: 0;
}

.button-row li.save > * > * {
  padding: 6px 16px 7px;
  margin: 0 !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border: none;
}

/* ^ Buttons */

/* Textfields */

.forms-new .vrtx-textfield,
.forms-new .vrtx-textfield-big {
  background: #fff;
  border: 1px solid #919191;
  height: 26px;
  padding: 1px 8px 0 8px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  display: inline-block;
}

.forms-new .vrtx-textfield-big {
  height: 30px;
  padding: 3px 10px 0;
}

/* ^ Textfields */

/* jQuery UI dialog, datepicker, accordion etc. */

.forms-new .ui-widget-overlay {
  background: #000;
  opacity: 0.4;
  -moz-opacity: 0.4; 
  -webkit-opacity: 0.4;
  filter: alpha(opacity=40);
  z-index: 99999 !important; 
}

.forms-new .ui-dialog {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 2px solid #848484;
  box-shadow: 1px 1px 5px 2px #848484;
  border-radius: 7px 7px 7px 7px;
  color: #000000;
  z-index: 102;
  position: fixed;
  padding: 20px;
  z-index: 100000 !important;
}

.forms-new .ui-dialog .ui-dialog-titlebar {
  background: url(/vrtx/__vrtx/static-resources/themes/default/images/line-dotted.gif) repeat-x scroll left bottom transparent;
  border: none;
  padding: 0 0 15px 0;
}

.forms-new .ui-dialog .ui-dialog-titlebar.closable {
  padding-bottom: 0px;
  background: none;
}

.forms-new .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  font-size: 1.538em;
  font-weight: normal;
  margin: 0;
}

.forms-new .ui-dialog .ui-dialog-titlebar-close {
  right: 3px;
  top: 3px;
}

.forms-new .ui-dialog .ui-dialog-titlebar-close,
.forms-new .ui-dialog .ui-dialog-titlebar-close.ui-state-hover {
  border: none;
  background: none;
}

.forms-new .ui-dialog .ui-dialog-titlebar-close,
.forms-new .ui-dialog .ui-dialog-titlebar-close .ui-icon {
  width: 20px;
  height: 18px;
  margin: 0;
  padding: 0;
}

.forms-new .ui-dialog .ui-dialog-titlebar-close .ui-button-text {
  display: none;
}

.forms-new .ui-dialog .ui-dialog-titlebar-close .ui-icon {
  background: url(/vrtx/__vrtx/static-resources/themes/default/images/thickbox-close.png) no-repeat center center;
  position: static;
}

.forms-new .ui-dialog .ui-dialog-buttonpane,
.forms-new .ui-dialog .ui-dialog-content {
  margin: 0;
  border: none;
}

.forms-new .ui-dialog .ui-dialog-content {
  padding: 15px 0;
  min-height: 0 !important;
}

.forms-new .ui-dialog .ui-dialog-content ul {
  margin: 10px 0 10px 25px;
  padding: 0;
}

.forms-new .ui-dialog .ui-dialog-buttonpane {
  padding: 0;
}

.forms-new .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: left;
}

.forms-new .ui-widget {
  font-size: 1em !important;
  text-align: left;
}

.forms-new .ui-widget,
.forms-new .ui-widget input,
.forms-new .ui-widget select,
.forms-new .ui-widget textarea,
.forms-new .ui-widget button {
  font-family: Arial, Helvetica, sans-serif !important;
}

.forms-new .ui-widget.ui-datepicker {
  font-size: 0.9em !important;
}

/* ^ jQuery UI dialog, datepicker, accordion etc. */

/* Email forms */

.forms-new .ui-dialog .dialog-error-msg {
  margin: 10px 0 0;
  color: #ed1c24;
}

.forms-new #email-approval-form {
  width: 400px;
}

.forms-new #dialog-html-advanced-publish-settings-content label,
.forms-new #email-approval-form label {
  margin: 15px 0px 5px;
  display: inline-block;
  font-size: 1.154em;
  width: 100%;
}

.forms-new #email-approval-form label.first,
.forms-new #dialog-html-advanced-publish-settings-content label:first-child {
  margin-top: 0px;
}

.forms-new #email-approval-form .vrtx-textfield {
  width: 385px;
}

.forms-new #email-approval-form textarea {
  width: 380px;
  height: 90px;
}

.forms-new #email-approval-form .email-help {
  margin: 5px 0 0 0;
  color: #888;
  font-size: 0.923em;
}

.forms-new #emailBody {
  color: #666;
  overflow: hidden;
}

.forms-new #emailBody a {
  color: #005aab;
  text-decoration: underline;
}

.forms-new div#email-response { 
  font-size: 0.923em;
  font-style: italic;
  color: #ed1c24;
  margin: 10px 0 0 0;
}

/* ^ Email forms */

/* Mozilla hacks */

.forms-new form::-moz-focus-inner,
.forms-new .ui-dialog .ui-dialog-buttonpane button::-moz-focus-inner,
.forms-new form button::-moz-focus-inner {
  border: none;
  padding: 0;
}

/* ^ Mozilla hacks */

/* Webkit fixes - typical apple mobile devices */

.forms-new input[type=button],
.forms-new input[type=file],
.forms-new input[type=image],
.forms-new input[type=password],
.forms-new input[type=reset],
.forms-new input[type=submit],
.forms-new input[type=text] { /* input reset */
  -webkit-appearance: none;
}

/* ^ Webkit fixes - typical apple mobile devices */

/* ^ Vortex - Forms */