.vrtx-image-listing-include {
  border: 3px solid #aaa;
  /* clear: both; */
  float: left;
  padding: 5px 10px 10px;
  margin-bottom: 10px;
  width: 97%;
}

.vrtx-image-listing-include-title {
  display: block;
  font-size: 16px;
  padding: 10px 0 5px;
}

.vrtx-image-listing-include-title a {
  color: #333;
  text-decoration: none;
}

.vrtx-image-listing-include-title a:hover {
  color: #666;
}
	
.vrtx-image-listing-include ul {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  clear: both;
}

.vrtx-image-listing-include ul li {
  float: left;
  margin:0 10px 10px 0;
  clear: none;
  list-style-type: none !important;
  border: 2px solid #ccc;
}

.vrtx-image-listing-include ul li a {
  display: block;
  width: 107px;
  height: 80px;
  overflow: hidden;
  position: relative;
}

.vrtx-image-listing-include ul img {
  max-height: 107px;
  border: none;
}

.vrtx-image-listing-include ul.vrtx-image-listing-include-thumbs-pure-css {
  width: auto;
}

.vrtx-image-listing-include ul.vrtx-image-listing-include-thumbs li a span {
  display: none;	
}

.vrtx-image-listing-include.loading {
  background: url("images/loadingAnimation.gif") no-repeat top center;
  padding-top: 50px !important;
}

.vrtx-image-listing-include ul.vrtx-image-listing-include-thumbs .loading-image {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  background: #fff url("images/ajax-loader.gif") no-repeat center center;
  width: 100%;
  height: 100%;
  visibility: visible;
  z-index: 1;
  text-align: center;
  color: #5e5e5e;
}

.vrtx-image-listing-include ul.vrtx-image-listing-include-thumbs .loading-image-error {
  font-size: 0.85em;
  color: red;
  background: #fff;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container-pure-css {
  display: none;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container {
  display: block;
  overflow: hidden;
  width: 507px;
  position: relative;
  margin: 0 auto;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container img {
  max-height: 380px;
  width: auto;
  height: auto;
}

.vrtx-image-listing-include-container-link {
  display: block;
  margin: 0 auto;
}

.vrtx-image-listing-include-container-nav-pure-css {
  display: none;	
}

.vrtx-image-listing-include-container-nav {
  display: block;
  position: relative;
}

.vrtx-image-listing-include .over {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.prev,
.vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.next {
  text-decoration: none !important;
  font-size: 12px;
  color: #888;
  position: absolute;
  width: 38px;
  top: 0px;
  cursor: pointer;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container-nav span.prev-transparent-block,
.vrtx-image-listing-include .vrtx-image-listing-include-container-nav span.next-transparent-block {
   position: absolute;
   display: block;
   width: 38px;	
   background-color: #fff;
   top: 0px;
   cursor: pointer;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.prev {
   background: url("icons/prev-gallery.png") no-repeat center left;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.next {
   background: url("icons/next-gallery.png") no-repeat center left;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.prev {
   left: 0px;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.next {
   right: 0px;
}

.vrtx-image-listing-include-container-title {
   font-size: 1.15em;
}

.vrtx-image-listing-include .hiddenWidth,
.vrtx-image-listing-include .hiddenHeight {
  display: none;
}

.vrtx-image-listing-include-container-description {
  margin: 0px 5px 20px 5px;
  padding: 14px;
  background: #f7f7f7;
  border: 1px solid #e3e3e3;
  overflow: hidden;
}

a.toggle-fullscreen {
  display: inline-block;
  float: right;
  background: url(images/preview-minimize.png) no-repeat 100% 3px;
  padding: 2px 24px 1px 0;
  text-decoration: none !important;
}

a.toggle-fullscreen:hover {
  text-decoration: underline !important;
}

a.toggle-fullscreen.minimized {
  background: url(images/preview-maximize.png) no-repeat 100% 3px;
}

.active-description,
.active-description-recalc,
a.active-full-image {
  display: block !important;
}

html.fullscreen-gallery .vrtx-image-listing-include-container-description.active-description-recalc {
  visibility: hidden;
}

html.fullscreen-gallery * {
  display: none !important;
}

html.fullscreen-gallery .vrtx-image-listing-include,
html.fullscreen-gallery .vrtx-image-listing-include .over,
html.fullscreen-gallery .vrtx-image-listing-include-container,
html.fullscreen-gallery .vrtx-image-listing-include-container-nav,
html.fullscreen-gallery .vrtx-image-listing-include-container-nav *,
html.fullscreen-gallery .vrtx-image-listing-include-container a.active-full-image,
html.fullscreen-gallery .vrtx-image-listing-include-container a.active-full-image img,
html.fullscreen-gallery .vrtx-image-listing-include-container-description.active-description,
html.fullscreen-gallery .vrtx-image-listing-include-container-description.active-description-recalc,
html.fullscreen-gallery .vrtx-image-listing-include-container-description * {
  display: block !important;
}

html.fullscreen-gallery .vrtx-image-listing-include,
html.fullscreen-gallery,
html.fullscreen-gallery .fullwidth {
  display: block !important;
  width: 100% !important;
  height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  background: transparent !important;
  min-width: 0 !important;
}

html.fullscreen-gallery .vrtx-image-listing-include .vrtx-image-listing-include-container img {
  max-height: none;
}

html.fullscreen-gallery.fullscreen-gallery-big-arrows .vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.prev,
html.fullscreen-gallery.fullscreen-gallery-big-arrows .vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.next,
html.fullscreen-gallery.fullscreen-gallery-big-arrows .vrtx-image-listing-include .vrtx-image-listing-include-container-nav span.prev-transparent-block,
html.fullscreen-gallery.fullscreen-gallery-big-arrows .vrtx-image-listing-include .vrtx-image-listing-include-container-nav span.next-transparent-block {
  width: 55px;
}

html.fullscreen-gallery.fullscreen-gallery-big-arrows .vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.prev {
  background-image: url("icons/prev-gallery-big.png");
}

html.fullscreen-gallery.fullscreen-gallery-big-arrows .vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.next {
  background-image: url("icons/next-gallery-big.png");
}

.vrtx-image-listing-include .fullscreen-gallery-topline,
html.fullscreen-gallery .vrtx-image-listing-include a.toggle-fullscreen.minimized,
html.fullscreen-gallery .vrtx-image-listing-include a.fullscreen-gallery-responsive-toggle-description {
  display: none !important;
}

.vrtx-image-listing-include .fullscreen-gallery-topline {
  overflow: hidden;
  padding: 15px 55px 20px;
}

html.fullscreen-gallery .vrtx-image-listing-include .fullscreen-gallery-topline,
html.fullscreen-gallery .vrtx-image-listing-include .fullscreen-gallery-topline * {
  display: block !important;
}

html.fullscreen-gallery .vrtx-image-listing-include > a.toggle-fullscreen {
  padding-bottom: 11px;
}

html.fullscreen-gallery .vrtx-image-listing-include-container-description {
  border: none;
  background: transparent !important;
  margin: 0 !important;
  padding: 15px 55px 25px !important;
  width: auto !important;
}

html.fullscreen-gallery .vrtx-image-listing-include-container-description.hidden-description,
html.fullscreen-gallery .vrtx-image-listing-include-container-description.empty-description {
  display: none !important;
}