body {
  width: 800px;	
}

.vrtx-image-listing-include {
  border: 3px solid #aaa;
  clear: both;
  float: left;
  padding: 5px 10px 10px;
  margin: 0 auto;
}

.vrtx-image-listing-include-title {
  display: block;
  font-size: 16px;
  padding: 10px 0 5px;
}
	
.vrtx-image-listing-include ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.vrtx-image-listing-include ul li {
  border:2px solid #CCCCCC;
  float:left;
  height:80px;
  margin:0 5px 0 0;
  overflow:hidden;
  padding:0;
  width:80px;
}

.vrtx-image-listing-include ul li:hover {
  border:2px solid #0B5A9D;	
}

.vrtx-image-listing-include ul li img {
  height: 80px;
  border: none;
}