.vrtx-image-listing-include {
  border: 3px solid #aaa;
  clear: both;
  float: left;
  padding: 5px 10px 10px;
}

.vrtx-image-listing-include-title {
  display: block;
  font-size: 16px;
  padding: 10px 0 5px;
}

.vrtx-image-listing-include-title a {
  color: #333;
  text-decoration: none;
}

.vrtx-image-listing-include-title a:hover {
  color: #666;
}

/* Unobtrusive JavaScript */
.vrtx-image-listing-include ul.vrtx-image-listing-include-thumbs-pure-css {
  width: 258px;
}

.vrtx-image-listing-include ul.vrtx-image-listing-include-thumbs {
  width: auto;	
}

.vrtx-image-listing-include ul.vrtx-image-listing-include-thumbs-pure-css li {
  position: relative;	
}

.vrtx-image-listing-include ul.vrtx-image-listing-include-thumbs li {
  position: static;	
}

.vrtx-image-listing-include ul.vrtx-image-listing-include-thumbs-pure-css li a span {
  display: block;
  position: absolute;
  left: -2000px;
  visibility: hidden;
}

.vrtx-image-listing-include ul.vrtx-image-listing-include-thumbs-pure-css li a:hover span {
  left: 200px;
  top: 0;
  visibility: visible;
  z-index: 99999;
}

.vrtx-image-listing-include ul.vrtx-image-listing-include-thumbs-pure-css li a span img {
  height: auto;
  max-width: 400px;	
}

.vrtx-image-listing-include ul.vrtx-image-listing-include-thumbs li a span {
  display: none;	
}

/* ^ Unobtrusive JavaScript */
	
.vrtx-image-listing-include ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  clear: both;
}

.vrtx-image-listing-include ul li {
  float: left;
  margin:0 10px 10px 0;
  padding: 5px !important;
  border: 1px solid #ccc;
  background-color: #fff !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* Unobtrusive JavaScript */
.vrtx-image-listing-include ul.vrtx-image-listing-include-thumbs li.vrtx-thumb-last {
  margin-right: 0px;	
}

.vrtx-image-listing-include ul li a {
  display: block;
  width: 107px;
  height: 80px;
  overflow: hidden;
}

.vrtx-image-listing-include ul img {
  max-height: 107px;
  border: none;
}

/* Unobtrusive JavaScript */
.vrtx-image-listing-include .vrtx-image-listing-include-container-pure-css {
  display: none;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container {
  display: block;
  overflow: hidden;
  width: 507px;
  position: relative;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container img {
  max-height: 380px;
}

.vrtx-image-listing-include-container-link {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* Unobtrusive JavaScript */
.vrtx-image-listing-include-container-nav-pure-css {
  display: none;	
}

.vrtx-image-listing-include-container-nav {
  display: block;
  position: relative;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.prev,
.vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.next {
  text-decoration: none !important;
  font-size: 12px;
  color: #888;
  position: absolute;
  width: 38px;
  top: 0px;
  cursor: pointer;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container-nav span.prev-transparent-block,
.vrtx-image-listing-include .vrtx-image-listing-include-container-nav span.next-transparent-block {
   position: absolute;
   display: block;
   width: 38px;	
   background-color: #fff;
   top: 0px;
   cursor: pointer;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.prev {
   background: url(icons/prev-gallery.png) no-repeat center left;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.next {
   background: url(icons/next-gallery.png) no-repeat center left;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.prev {
	left: 0px;
}

.vrtx-image-listing-include .vrtx-image-listing-include-container-nav a.next {
    right: 0px;
}

.vrtx-image-listing-include-container-description {
   margin: 10px 5px 20px 5px;
}