/* Email-a-friend */

body {
  color: #2b2b2b;
  font: normal 93.8%/1.31em Arial, sans-serif; /* 13 / 17 */
  margin: 10px 20px 0 20px;
}

h1 {
  display: none;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 1.154em;
  line-height: 1.33em;
  font-weight: normal;
  margin: 10px 0 8px;
}

p {
  margin: 3px 0 8px 0;
}
 
form#email-a-friend-form,
form#feedback-form {
  width: 328px; 
  text-align: left;
}

form#feedback-form {
  width: 353px;
}

form#email-a-friend-form label,
form#feedback-form label {
  display: block;
}
  
form#email-a-friend-form input.submit-email-form,
form#feedback-form input.submit-email-form {
  margin:0;
}

form#email-a-friend-form input#emailTo, 
form#email-a-friend-form input#emailFrom {
  width: 100%;
  border: 1px solid #888;
  margin: 0.25em 0 1em 0; 
}

form#email-a-friend-form input#emailTo {
  margin-bottom: 0; 
}
 
form#email-a-friend-form textarea,
form#feedback-form textarea {
  margin: 0.25em 0 1em 0; 
  width: 100%;
  border: 1px solid #888;
}

form#email-a-friend-form div.email-help {
  margin-top: 5px;
  padding-top: 0;
  font-size: 70%; 
  color: #888; 
  padding-bottom: 1em;
}
      
div#tip-response {
  margin-top: 1em;
  font-style: italic;
  font-size: 80%;
}
    
div#tip-response span.failure {
  color: #cc0000;
}
    
a#vrtx-feedback-contact {
  display: inline !important;
}
    
#TB_ajaxWindowTitle {
  margin: 20px 0 0 20px !important;
}
