/*
 *  Vortex - Email-a-friend, feedback etc.
 *
 */

body {
  color: #2b2b2b;
  font: normal 93.8%/1.31em Arial, sans-serif; /* 13 / 17 */
  margin: 10px 20px 0 20px;
}

h1 {
  display: none;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 1.154em;
  line-height: 1.33em;
  font-weight: normal;
  margin: 10px 0 8px;
}

p {
  margin: 3px 0 8px 0;
}
 
form#email-a-friend-form,
form#feedback-form {
  text-align: left;
}

form#email-a-friend-form,
form#email-a-friend-form textarea {
  width: 328px;
}

form#email-a-friend-form .vrtx-textfield input {
  width: 313px;
}

form#feedback-form,
form#feedback-form textarea {
  width: 353px;
}

form#feedback-form .vrtx-textfield input {
  width: 338px;
}

form#email-a-friend-form label,
form#feedback-form label {
  display: block;
  margin: 15px 0 5px 0;
}

form#feedback-form textarea {
  height: 185px;
}

form#email-a-friend-form textarea {
  height: 95px;
}

form#email-a-friend-form div.email-help {
  padding-top: 5px;
  font-size: 70%; 
  color: #888; 
  line-height: 1.3;
}
      
div#tip-response {
  margin-top: 10px;
  font-style: italic;
  font-size: 80%;
}
    
div#tip-response span.failure {
  color: #cc0000;
}
    
a#vrtx-feedback-contact {
  display: inline !important;
}
    
#TB_ajaxWindowTitle {
  margin: 20px 0 0 20px !important;
}

#submitButtons {
  padding: 15px 0 0 0;
  clear: left;
}

#submitButtons .vrtx-button,
#submitButtons .vrtx-focus-button {
  margin: 0 10px 0 0;
  display: inline-block;
}

*:first-child+html #submitButtons .vrtx-button,
*:first-child+html #submitButtons .vrtx-focus-button,
*:first-child+html form,
*:first-child+html h2 {
  display: inline;
}

/* ^ Vortex - Email-a-friend, feedback etc. */