div.tabs {
	position: relative;
	top: 0px;
	left: 0;
	margin: 0;
        margin-top: 10px;
        font-size: 95%;
        width: 65em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

div.tabs ul {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
        left: 0px;
        width: 65em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
        /* Width is also required for IE 6.0. Can be reduced when we shorten some of the text on the tabs */
}

div.tabs ul li  {
        display: inline;
        list-style: none;
}

div.tabs ul li a, div.tabs ul li.current a {
	line-height: 1.25em;
        display: block;
        float: left;
	padding-left: 15px;
	padding-right: 15px;
        padding-top: 4px;
	padding-bottom: 4px;
        margin-top: 1px;
        margin-right: 2px;
        text-align: center;
        font-size: 90%;
        text-decoration: none;
        color: #333;
}

div.tabs ul li.current a, div.tabs ul li.current a:hover {
        border: 1px solid #999;
	font-weight: bold;   /* Causes strange space betw. tabs */
        border-bottom: none;
	background: #ffffff;
        padding-bottom: 6px;
        margin-top: 0;
}

div.tabs ul li a {
        border: 1px solid #999;
        border-bottom: none;
}

div.tabs ul li a:hover {
        margin-top: 0;
        border-color: #999;
        padding-bottom: 5px;
}

div.tabs ul li.editService a, 
div.tabs ul li.editService a:hover,
div.tabs ul li.kupuEditService a, 
div.tabs ul li.kupuEditService a:hover,
div.tabs ul li.editorService a,
div.tabs ul li.editorService a:hover,
div.tabs ul li.editor\.documentEditService a,
div.tabs ul li.editor\.documentEditService a:hover,
div.tabs ul li.editor\.unstructuredXhtmlEditService a, 
div.tabs ul li.editor\.unstructuredXhtmlEditService a:hover {
        padding-left: 20px;
        background: url(icons/edit.gif) no-repeat 7px 5px;
}

div.tabs ul li.structuredResources\.editService a,
div.tabs ul li.structuredResources\.editService a:hover {
        padding-left: 20px;
        background: url(icons/edit.gif) no-repeat 7px 5px;
}

/* Override this class to get different colors and size on a specific tab */

.activeTab { 
	background-color: #efefef;
}

div.tabs ul li.activeTab a, div.tabs ul li.activeTab a:hover {
	background-color: #efefef;;
}

.beta{
	color:orange;
}
