/* Notice board */

a.listing:link {
      text-decoration: none;
}
a.listing:visited {
      text-decoration: none;
}
a.listing:hover {
      text-decoration: underline;
}

h1.notice-board {
    	font-size: 125%;
    	font-weight: bold;
}

h2.notice-board {
    	font-size: 100%;
    	font-weight: bold;
}

ul.tabMenu2 li.newNoticeService {
        background: transparent url(icons/nyfil.gif) no-repeat 0px 2px;
        padding-top: 4px; /* Taller icon*/
}

ul.tabMenu2 li.newNoticeService a {
        /* Move link text 22px right (away from the icon) */
        padding-left: 22px;
}

span.default_title {
				font-style: italic;
}

span.no_author {
				font-style: italic;
				font-size: 80%;
}

span.doktorand {
        font-size: 90%;
}

span.subtitle {
        font-style: italic;
        font-size: 80%;
}
