/* Not supported by flash */

.vrtx-media-player-no-flash,
.vrtx-media-player-no-flash img {
  width: 507px;
  height: 282px;
}

.vrtx-media-player-no-flash {
  background-color: #000000;
  position: relative;
}

.vrtx-media-player-no-flash .playbutton {
  position: absolute; /* take out of flow */
  top: 90px;
  left: 195px;
  width: 115px;
  height: 106px;
  display: block;
}

.vrtx-media-player-no-flash .playbutton,
.vrtx-media-player-no-flash .playbutton:visited,
.vrtx-media-player-no-flash .playbutton:active {
  background: url('icons/video-playbutton.png') no-repeat center center;
}

.vrtx-media-player-no-flash .playbutton:hover {
  background-image: url('icons/video-playbutton-hover.png');
}

/* ^ Not supported by flash */