@import "comments-component.css";

div.main-article-listing {
	float:left;
	width:65%;
}

div.additional-information {
	margin-left:68%;
	margin-right:28px;
}

div.additional-information ul {
	padding-top: 0;
}

div.additional-information h3 {
   margin-bottom: 0;	
}

div.vrtx-paging-feed-wrapper {
	clear:left;
}

/* Override defaults */
div.additional-information .vrtx-recent-comments {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

/* START include:recent-comments */

div.vrtx-recent-comments {
  padding: 1em;
  border: 1px solid #ccc;
  font-size: .9em;
}

div.vrtx-recent-comments .comments-title {
  display:block;
  font-size: 1.2em;
  font-weight: 900;
  margin-bottom: 0.5em;
  text-decoration: none;
  color: black;
}

div.vrtx-recent-comments a.comments-title:hover {
  color: #999;
}

div.vrtx-recent-comments ul.items {
  margin: 1em 0px;
  padding: 0px;
  list-style: none;
}

div.vrtx-recent-comments li {
  margin: 0.75em 0px;
}

div.vrtx-recent-comments ul.items li a.item-title {
  display:block;
  margin-bottom: .2em;
}

div.vrtx-recent-comments ul.items li span.published-date {
  display:block;
  font-size: .9em;
  white-space: nowrap;
}

div.vrtx-recent-comments ul.items li div.item-description {
   margin-top: .2em;
}

/* END include:recent-comments */

/* START include:tag-cloud */

ul.vrtx-tag-cloud li { 
    display: inline; 
    margin-right: 6px; 
}
ul.vrtx-tag-cloud li a { 
    text-decoration: none; 
}
ul.vrtx-tag-cloud li a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0063dc;
}
ul.vrtx-tag-cloud { 
    margin-left:0; 
    padding-left:0; 
}
ul.vrtx-tag-cloud { 
    //font-family: 'Lucida Grande', sans-serif; 
    font-size: 13px; /* set global font size */
}
.vrtx-tag-cloud .tag-magnitude-5 { 
    font-size: 1.76em; 
}
.vrtx-tag-cloud .tag-magnitude-4 { 
    font-size: 1.5em; 
}
.vrtx-tag-cloud .tag-magnitude-3 { 
    font-size: 1.3em; 
}
.vrtx-tag-cloud .tag-magnitude-2 { 
    font-size: 1.1em; 
}
.vrtx-tag-cloud .tag-magnitude-1 { 
    font-size: 0.9em; 
}

/* END include:tag-cloud */

/* for tags component */

.vrtx-tags ul {
	float:left;
}
