@import url('view-event-date-icon.css');

/* Event component */

div.vrtx-event-component-occurence {
  clear: left;
  background: url("images/line-dotted.gif") repeat-x scroll left bottom transparent;
  margin-bottom: 15px;
  padding-bottom: 15px;
  overflow: auto;
}

div.vrtx-event-component-occurence.last {
  margin-bottom: 5px;
}

div.vrtx-event-component-picture img {
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}

div.vrtx-event-component-main {
  text-align: left;
}

 .vrtx-daily-events-date {
  margin-right: 13px;
  margin-bottom: 13px;
}

/* ^ Event component */