@import url('view-collectionlisting.css');

img {
  border-style: none;
}

.vrtx-image-listing-container {
  padding-bottom: 8px;
  float: left;
  width: 100%;
}

ul.vrtx-image-listing {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

.vrtx-image-entry {
  float: left;
  width: 100%;
  margin-bottom:15px;
  padding-bottom:15px;
  border-bottom: 1px dotted #ccc;
  clear: both;
}

.vrtx-image-container {
  float: left;
  margin-bottom:15px;
  margin-right:15px;
}

vrtx-image-info {
  float: left;
}

.vrtx-image-title {
  font-size: 20px;
  padding-bottom: 10px;
}

.vrtx-image-title a {
  text-decoration: none;
}

.vrtx-image-description {
  padding-bottom: 10px;
}

.vrtx-image-keywords {
  padding-bottom: 5px;
}

.vrtx-image-dimension {
  padding-bottom: 5px;	
}

.vrtx-image-author {
}

.vrtx-paging-feed-wrapper {
  clear: both;
}

.vrtx-image-table {
  padding-bottom: 15px;	
}

.vrtx-image-table table {
  border-collapse: collapse;
  border-color: #ccc;
}

.vrtx-image-table table th {
  text-align:left;
}

.vrtx-image-table table td.vrtx-table-image {
}

.vrtx-image-table table img {
  width: 50px;
}