@charset "UTF-8";
/* CSS Document */

.vrtx-container-size-full {
	width:100%;
}
.vrtx-container-size-xxl {
	width:800px;
}
.vrtx-container-size-xl {
	width:700px;
}

.vrtx-container-size-l {
	width:600px;
}

.vrtx-container-size-m {
	width:500px;
}

.vrtx-container-size-s {
	width:400px;
}

.vrtx-container-size-xs{
	width:300px;
}

.vrtx-container-size-xxs{
	width:200px;
}

.vrtx-container{
	border-style:none;
	overflow:hidden;
}

.vrtx-container-middle img{
	display:block;
	margin-right:auto;
	margin-left:auto;
}

.vrtx-container-middle{
	display:block;
	margin-right:auto;
	margin-left:auto;
}

.vrtx-container-left{
	margin: 0 1em 1em 0;
	float:left;
}
.vrtx-container-right{
	margin: 0 0 1em 1em;
	float:right;
}

.vrtx-container img{
 	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:0em;
	margin-bottom:1em;
	padding:0;
	border:none;
}

.vrtx-container p{
	margin-top:0;
	margin-bottom:0;
	overflow:hidden;
}

.vrtx-facts-container h1,
.vrtx-facts-container h2,
.vrtx-facts-container h3,
.vrtx-facts-container h4,
.vrtx-facts-container h5,
.vrtx-facts-container h6,
.vrtx-facts-container p, 
.vrtx-facts-container ul,
.vrtx-facts-container ol,
.vrtx-facts-container pre{
	border:solid;
	border-width:1px;
	border-color:#fff;
	margin-top:.5em;
	margin-bottom:.5em;
	
}

.vrtx-facts-container {
	width:200px;
	padding:.5em 1em .5em 1em;
	border-color:#aaa;
	border-style:solid;
	border-width:2px;
}

.vrtx-facts-container ul,.vrtx-facts-container ol {
	padding-left:0em;
	margin-left:2em;
}

.vrtx-img-container p {
	margin:0;
	padding:0;
}