@import "comments-component.css";

/* This file must (for no good reason) be manually deployed at www.uio.no/vrtx/css */

/* START include:uri-menu style=[vrtx-vertical-menu] */

ul.vrtx-vertical-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid #ccc; /*for IE */
} 

* html ul.vrtx-vertical-menu {
  position: relative; /* for IE6 */
}

ul.vrtx-vertical-menu li {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: -1px;
  vertical-align: middle; /* for IE */
}

ul.vrtx-vertical-menu li a {
  display: block;
  padding: .3em .2em .3em .4em;
  border-left: .3em solid #fff;
  color: black;
  text-decoration: none;
  height: 1%; /* triggers hasLayout in IE browsers */
}

ul.vrtx-vertical-menu li.vrtx-active-item {
  font-weight: 900; 
}

ul.vrtx-vertical-menu li.vrtx-active-item a {
  border-left: .3em solid #999;
  padding-left: .4em;
}

ul.vrtx-vertical-menu li a:hover, 
ul.vrtx-vertical-menu li.vrtx-active-item a:hover {
  background-color: #eee;
  color: #666;
  border-left: .3em solid #ccc;
  padding-left: .4em;
}

ul.vrtx-vertical-menu li.parent-folder{ 
  border: none;
}

ul.vrtx-vertical-menu li.parent-folder a { 
  border-left: none;
  padding-left: .7em;
  font-weight: 900;
}

ul.vrtx-vertical-menu li.parent-folder a:hover{ 
  text-decoration:none;
  background-color: transparent;
  border-left:none;
  padding-left: .7em;
}


/* Sublists */

ul.vrtx-vertical-menu ul {
  padding: 0 0 0 1.8em; 
  margin: 0;
  list-style-type: square;
  color: #000;
}

ul.vrtx-vertical-menu li.vrtx-active-item ul li,
ul.vrtx-vertical-menu li ul li {
  margin: 0 0 -1px 0; 
  padding: 0;
  font-weight: 100;
  font-size: 100%;
  border: none;
  border-bottom: 1px dotted #ddd;
} 

* html ul.vrtx-vertical-menu li.vrtx-active-item ul li,
* html ul.vrtx-vertical-menu li ul li {
  margin: 0; /* for IE */
}

ul.vrtx-vertical-menu li.vrtx-active-item ul li.vrtx-active-item {
  font-weight: 900;
  color: #999;
}

ul.vrtx-vertical-menu li.vrtx-active-item ul li a,
ul.vrtx-vertical-menu li.vrtx-active-item ul li a:hover, 
ul.vrtx-vertical-menu li.vrtx-active-item ul li.vrtx-active-item a,
ul.vrtx-vertical-menu li.vrtx-active-item ul li.vrtx-active-item a:hover {
  border: none;
  padding-left: 0;
  background-color: transparent;
}


/* Sub-sub-list ++ */

ul.vrtx-vertical-menu ul li ul {
  padding: 0 0 0 1em; 
  margin: 0;
  list-style-type: square;
}

ul.vrtx-vertical-menu ul li ul li { 
  font-size: 100%; 
} 

ul.vrtx-vertical-menu ul li ul li, 
ul.vrtx-vertical-menu ul li.vrtx-active-item ul li {
  margin: 0;
  padding: 0;
  border: none;
} 

ul.vrtx-vertical-menu li.vrtx-active-item ul li.vrtx-active-item {
  font-weight: 900;
}

ul.vrtx-vertical-menu li.vrtx-active-item ul li.vrtx-active-item ul li.vrtx-active-item a:hover, 
ul.vrtx-vertical-menu li.vrtx-active-item ul li.vrtx-active-item ul li a:hover {
  color: #666;
  background-color: transparent;
}

ul.vrtx-vertical-menu li.vrtx-active-item ul li.vrtx-active-item ul li a,
ul.vrtx-vertical-menu li.vrtx-active-item ul li.vrtx-active-item ul li.vrtx-active-item a,
ul.vrtx-vertical-menu li.vrtx-active-item ul li.vrtx-active-item ul li a:hover, 
ul.vrtx-vertical-menu li.vrtx-active-item ul li.vrtx-active-item ul li.vrtx-active-item ul li.vrtx-active-item a:hover {
  border: none;
  padding: .2em 0;
  margin: 0;
}

/* END include:uri-menu style=[vrtx-vertical-menu] */

/* START include:uri-menu style=[vrtx-horizontal-menu] */

ul.vrtx-horizontal-menu {
  white-space: nowrap;
  padding: 0 0 0 .4em;
  margin: 0;
  border: 1px solid #ccc;
  list-style-type: none;
  height: 1%; /* triggers hasLayout in IE browsers */
}

ul.vrtx-horizontal-menu:after {
  display: block;
  content: ".";
  height: 0;
  visibility: hidden;
  clear: both;
}

ul.vrtx-horizontal-menu li {
  float: left;
  margin: 0 .5em 0 0;
  padding: 0;
}

ul.vrtx-horizontal-menu a {                            
  display: block;
  margin: 0;
  padding: .2em .5em .3em .5em;
  color: #000;
  text-decoration: none;
}

ul.vrtx-horizontal-menu li.vrtx-active-item a {
  border-bottom: .2em solid #000;
  padding-bottom: .1em;
}

ul.vrtx-horizontal-menu a:hover, ul.vrtx-horizontal-menu li.vrtx-active-item a:hover {
  color: #666;
  border-bottom: .2em solid #666;
  padding-bottom: .1em;
}

/* Same menu but with inline style - better scalability but IE7 won't handle it properly when text size is increased or decreased */

/* ul.vrtx-horizontal-menu { */
/*   white-space: nowrap; */
/*   background-color: #dfd2b0; */
/*   padding: .3em 0; */
/*   margin: 0; */
/* } */

/* ul.vrtx-horizontal-menu li { */
/*   display:inline; */
/*   list-type: none;  */
/*   margin: 0px; */
/*   padding: 0px; */
/* } */

/* ul.vrtx-horizontal-menu a { */
/*   margin: 0em; */
/*   padding: .3em .75em; */
/*   color: #000; */
/*   text-decoration: none; */
/*   height: 1%; /\* triggers hasLayout in IE browsers *\/ */
/* } */

/* ul.vrtx-horizontal-menu li.vrtx-active-item a { */
/*   border-bottom: .2em solid #000; */
/*   padding-bottom: .1em; */
/* } */

/* ul.vrtx-horizontal-menu a:hover, ul.vrtx-horizontal-menu li.vrtx-active-item a:hover { */
/*   color: #666; */
/*   border-bottom: .2em solid #666; */
/*   padding-bottom: .1em; */
/* } */

/* END include:uri-menu style=[vrtx-horizontal-menu] */


/* START include:uri-menu style=[vrtx-tab-menu] */

ul.vrtx-tab-menu {
  margin: 0px;
  padding: 4px 0px;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
}

ul.vrtx-tab-menu li {
  display: inline;
  list-style: none;
  margin: 0px;
}

ul.vrtx-tab-menu li a {
  text-align: center;
  text-decoration: none;
  color: #333;
  padding: 4px 15px;
  margin: 0px 1px 0px 0px;
  border: 1px solid #ccc; 
  background-color: #eee;
  border: 1px solid #ccc;
  border-bottom: none;
}

ul.vrtx-tab-menu li.vrtx-active-item a, ul.vrtx-tab-menu li.vrtx-active-item a:hover {
  color: #000; 
  padding: 5px 15px; 
  background-color: #fff; 
}

ul.vrtx-tab-menu li a:hover{
  color: #000;
  padding-top: 5px; 
}

/* END include:uri-menu style=[vrtx-tab-menu] */


/* START include:feed, include:feeds */

div.vrtx-feed {
  padding: 1em;
  border: 1px solid #ccc;
  font-size: .9em;
}

div.vrtx-feed .feed-title {
  display:block;
  font-size: 1.2em;
  font-weight: 900;
  margin-bottom: 0.5em;
  text-decoration: none;
  color: black;
}

div.vrtx-feed a.feed-title:hover {
  color: #999;
}

div.vrtx-feed div.feed-description {

}

div.vrtx-feed a.all-messages {

}

div.vrtx-feed ul.items {
  margin: 1em 0px;
  padding: 0px;
  list-style: none;
}

div.vrtx-feed li {
  margin: 0.75em 0px;
}

div.vrtx-feed ul.items li a.item-title {
  display:block;
  margin-bottom: .2em;
}

div.vrtx-feed ul.items li div.item-description {
   margin-bottom: .2em;
}

div.vrtx-feed ul.items li span.published-date {
  font-size: .9em;
  white-space: nowrap;
}

div.vrtx-feed ul.items li a.channel {
  font-size: .9em;
}

/* END include:feed, include:feeds */




/* START include:recent-comments */

div.vrtx-recent-comments {
  padding: 1em;
  border: 1px solid #ccc;
  font-size: .9em;
}

div.vrtx-recent-comments .comments-title {
  display:block;
  font-size: 1.2em;
  font-weight: 900;
  margin-bottom: 0.5em;
  text-decoration: none;
  color: black;
}

div.vrtx-recent-comments a.comments-title:hover {
  color: #999;
}

div.vrtx-recent-comments ul.items {
  margin: 1em 0px;
  padding: 0px;
  list-style: none;
}

div.vrtx-recent-comments li {
  margin: 0.75em 0px;
}

div.vrtx-recent-comments ul.items li a.item-title {
  display:block;
  margin-bottom: .2em;
}

div.vrtx-recent-comments ul.items li span.published-date {
  display:block;
  font-size: .9em;
  white-space: nowrap;
}

div.vrtx-recent-comments ul.items li div.item-description {
   margin-top: .2em;
}

/* END include:recent-comments */


/* START resource:breadcrumb */

div.breadcrumb {
  font-size: .8em;
} 

/* END resource:breadcrumb */


/* START resource:subfolder-menu */

div.vrtx-subfolder-menu {
  border: 1px solid #ccc;
  padding: 1em 1em .2em 1em;
  height: 1%; /* Triggers hasLayout in IE browser */
}

div.vrtx-subfolder-menu:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

div.vrtx-subfolder-menu div.menu-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: .5em;
}

div.vrtx-subfolder-menu ul {
  float:left;
  list-style-type: square;
  padding: 0 2em;
  margin: 0 0 1em 0;
}

/*Sublists ++*/
div.vrtx-subfolder-menu ul ul {
  float: none;  
  padding: 0 .5em 0 1em;
  margin: 0;
}

/* END resource:subfolder-menu */


/* START resource:tags */
span.vrtx-tags { 
}

/* END resource:tags */


/* START resource:manage-url */

a.vrtx-manage-url {
  font-size: .8em;
  float:right;
  clear:both; 
} 

/* END resource:manage-url */

/* START resource:email-friend */

a.vrtx-email-friend {
  font-size: .8em; 
  float: right;
}

/* END resource:email-friend */

/* END resource:manage-url */

/* START resource:toc */

span.vrtx-toc-header {
  font-size: 150%; 
  font-weight:bold; 
} 

/* END resource:toc */




/* START include:tag-cloud */

ul.vrtx-tag-cloud li { 
    display: inline; 
    margin-right: 6px; 
}
ul.vrtx-tag-cloud li a { 
    text-decoration: none; 
}
ul.vrtx-tag-cloud li a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0063dc;
}
ul.vrtx-tag-cloud { 
    margin-left:0; 
    padding-left:0; 
}
ul.vrtx-tag-cloud { 
    //font-family: 'Lucida Grande', sans-serif; 
    font-size: 13px; /* set global font size */
}
.vrtx-tag-cloud .tag-magnitude-5 { 
    font-size: 1.76em; 
}
.vrtx-tag-cloud .tag-magnitude-4 { 
    font-size: 1.5em; 
}
.vrtx-tag-cloud .tag-magnitude-3 { 
    font-size: 1.3em; 
}
.vrtx-tag-cloud .tag-magnitude-2 { 
    font-size: 1.1em; 
}
.vrtx-tag-cloud .tag-magnitude-1 { 
    font-size: 0.9em; 
}

/* END include:tag-cloud */

/* for tags component */

.vrtx-tags ul{
	float:left;
}
