div.vrtx-collections {
  border: 1px solid #ccc;
  padding: 1em;
  height: 1%; /* Triggers hasLayout in IE browser */
  margin: 0 0 2em 0;
}

/* div.vrtx-collections:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
} */

div.vrtx-collections h2 {
  margin: 0 0 .5em 0;
  font-size: 1.2em;
}

/*div.vrtx-collections table {
  width:100%;
}

div.vrtx-collections table tr {
  vertical-align: top;
}*/

div.vrtx-collections ul {
  list-style-type: square;
  margin-top: 0;
  margin-bottom: 0;
}

div.vrtx-resource {
  margin: 0 0 .5em 0;  
  padding: 0 0 .5em 0;  
}

div.vrtx-resource h3 {
  margin: 0 0 .25em 0;  
}

/*
div.vrtx-resource h3 a {
  color:#000;
  text-decoration:none;
}

div.vrtx-resource h3 a:visited {
  color:#555;
  text-decoration:none;
}

div.vrtx-resource h3 a:hover {
  color:#888;
  text-decoration:none;
}
*/


div.vrtx-resource p.vrtx-description {
  margin: 0 0 .25em 0;  
}

div.vrtx-resource div.vrtx-footer {
  font-size: .9em;
  color:#666;
}

p.sort {
  float:right;
  margin: 0 0 1em 1em;
  font-size: .9em;
}

p.sort span.label{
  font-weight: 900;
}

