div.main-article-listing {
	float:left;
	width:65%;
}

div.additional-information {
	margin-left:68%;
	margin-right:28px;
}

div.vrtx-paging-feed-wrapper {
	clear:left;
}

/* Override defaults */
.vrtx-recent-comments {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}