
/*
 *
 *  Vortex - Visualize broken links
 *
 */

#vrtx-link-check-spinner {
  background: #efefef url(images/spinner.gif) no-repeat 10px 50%;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 10px 10px 34px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em; 
}

html#vrtx-preview-popup #vrtx-preview-popup-iframe-wrapper {
  position: relative;
}

html#vrtx-preview-popup #vrtx-link-check-spinner {
  top: 0px;
  right: -2px;
  font-size: 0.923em;
}

.vrtx-broken-links {
  background-image: none !important;
  padding-left: 10px !important;
  color: #ed1c24 !important;
}

#previewViewIframe.mobile-none-responsive {
  -ms-zoom: 0.32156862745;
  -moz-transform: scale(0.32156862745);
  -moz-transform-origin: 0px 0;
  -o-transform: scale(0.32156862745);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.32156862745);
  -webkit-transform-origin: 0 0;
   width: 1020px !important;
}

#previewViewIframe.mobile-none-responsive.mobile-none-responsive-horizontal {
  width: 1536px !important;
}

/* ^ Vortex - Visualize broken links */