
.ygtvspacer { height: 10px; width: 18px; }
.ygtvcheck0 { background: url(vocabulary-img/check0.gif) 0 0 no-repeat; width:16px; height:22px; cursor:pointer }
.ygtvcheck1 { background: url(vocabulary-img/check1.gif) 0 0 no-repeat; width:16px; height:22px; cursor:pointer }
.ygtvcheck2 { background: url(vocabulary-img/check2.gif) 0 0 no-repeat; width:16px; height:22px; cursor:pointer }
