<div class="{{ classes }}">
  <label for='{{ inputFieldName }}'>{{ elemTitle }}</label>
  <div class="inputfield">
    <select id="{{ inputFieldName }}" name="{{ inputFieldName }}">
      {{{ options }}}
    </select>
  </div>
</div>