<div class="{{ classes }}">
  <label for='{{ inputFieldName }}'>{{ elemTitle }}</label>
  <div class="inputfield">
    <select id="{{ inputFieldName }}" name="{{ inputFieldName }}">
      {{#options}}
         <option value="{{ key }}">{{ value }}</option>
      {{/options}} 
    </select>
  </div>
</div>
