{{! MENU }}

<ul id="vrtx-manually-approve-tab-menu">
  <li class="active active-first"><span>{{ approveShowAll }}</span></li>
  <li class="last"><a href="javascript:void(0);">{{ approveShowApprovedOnly }}</a></li>
</ul>

### {{! TABLE START }}

<div id='approve-page-{{ pages }}'>
  <table>
    <thead>
      <tr>
        <th id='approve-checkbox' class='checkbox'>
          <input type='checkbox' disabled='disabled' name='checkUncheckAll' />
        </th>
        <th id='approve-title'>{{ approveTableTitle }}</th>
        <th id='approve-src'>{{ approveTableSrc }}</th>
        <th id='approve-published'>{{ approveTablePublished }}</th>
      </tr>
    </thead>
  <tbody>

### {{! TABLE ROW }}

<tr>

  {{#resource.approved}}
    <td class='checkbox'>
      <input type='checkbox' disabled='disabled' checked='checked' value='{{ resource.uri }}'/>
    </td>
  {{/resource.approved}}
  
  {{^resource.approved}}
    <td class='checkbox'>
      <input type='checkbox' disabled='disabled' value='{{ resource.uri }}'/>
    </td>
  {{/resource.approved}}
  
  <td>
    <a class='approve-link' target='_blank' href='{{ resource.uri }}' title='{{ resource.title }}'>
      {{ resource.title }}
    </a>
  </td>
  <td>{{ resource.source }}</td>
  <td class='approve-published'>{{ resource.published }}</td>
</tr>

### {{! TABLE END }}

  </tbody>
</table>
<span class='approve-info'>
  {{ approveShowing }} {{ page }}-{{ last }} {{ approveOf }} {{ len }}
</span>