{{! MENU }}

<ul id="vrtx-manually-approve-tab-menu">
  <li class="active active-first"><span>{{ approveShowAll }}</span></li>
  <li class="last"><a href="javascript:void(0);">{{ approveShowApprovedOnly }}</a></li>
</ul>