{{! STRING }}

<div class="{{ classes }}">
  <label for="{{ elemId  }}">{{ elemTitle }}</label>
  <input class="vrtx-textfield inputfield" size="{{ elemSize }}" type="text" name="{{ inputFieldName }}" value="{{ elemVal }}"{{#elemPlaceholder}} placeholder="{{ elemPlaceholder }}"{{/elemPlaceholder}} id="{{ elemId }}" />
</div>

### {{! HTML }}

<div class="{{ classes }}">
  <label for="{{ inputFieldName  }}">{{ elemTitle }}</label>
  <textarea name="{{ inputFieldName }}" id="{{ inputFieldName }}" rows="7" cols="60" ></textarea>
</div>

### {{! RADIO }}

<div class="vrtx-radio">
  <div>
    <label>{{ elemTitle }}</label>
  </div>
  <input name="{{ inputFieldName }}" id="{{ inputFieldName }}-true" type="radio" value="true" />
  <label for="{{ inputFieldName }}-true">True</label>
  <input name="{{ inputFieldName }}" id="{{ inputFieldName }}-false" type="radio" value="false" />
  <label for="{{ inputFieldName }}-false">False</label>
</div>

### {{! CHECKBOX }}

<div class="vrtx-checkbox">
  <input name="{{ inputFieldName }}" id="{{ elemId }}" type="checkbox" {{#elemChecked}}checked="checked"{{/elemChecked}} />
  <label for="{{ elemId }}">{{ elemTitle }}</label>
</div>

### {{! DROPDOWN }}

<div class="{{ classes }}">
  <label for="{{ inputFieldName }}">{{ elemTitle }}</label>
  <div class="inputfield">
    <select id="{{ inputFieldName }}" name="{{ inputFieldName }}">
      {{#options}}
         <option value="{{ key }}">{{ value }}</option>
      {{/options}} 
    </select>
  </div>
</div>

### {{! DATE }}

<div class="vrtx-string">
  <label for="{{ inputFieldName }}">{{ elemTitle }}</label>
  <input class="vrtx-textfield inputfield date" size="20" type="text" name="{{ inputFieldName }}" id="{{ inputFieldName }}" value="" />
</div>

### {{! BROWSE }}

<div class="{{ clazz }}">
  <div class="{{ clazz }}-label">
    <label for="{{ inputFieldName }}">{{ elemTitle }}</label>
  </div>
  <div class="{{ clazz }}-browse">
    <input class="vrtx-textfield" type="text" name="{{ inputFieldName }}" id="{{ inputFieldName }}" value="" size="{{ size }}" />
    <button class="vrtx-button" type="button" onclick="browseServer('{{ inputFieldName }}', '{{ baseCKURL }}', '{{ baseFolderURL }}', '{{ basePath }}', '{{ type }}');">
      {{ browseButtonText }}
    </button>
  </div>
  {{{ preview }}}
</div>

### {{! BROWSE IMAGES }}

<div class="{{ clazz }}">
  <div class="{{ clazz }}-label">
    <label for="{{ inputFieldName }}">{{ elemTitle }}</label>
  </div>
  <div class="{{ clazz }}-browse">
    <input class="vrtx-textfield preview-image-inputfield" type="text" name="{{ inputFieldName }}" id="{{ inputFieldName }}" value="" size="{{ size }}" />
    <button class="vrtx-button" type="button" onclick="browseServer('{{ inputFieldName }}', '{{ baseCKURL }}', '{{ baseFolderURL }}', '{{ basePath }}', '{{ type }}');">
      {{ browseButtonText }}
    </button>
  </div>
  <div id="{{ inputFieldName }}.preview" class="vrtx-image-ref-preview no-preview" style="display: none">
    <label for="{{ inputFieldName }}.preview">{{ previewTitle }}</label>
	<span>{{ previewNoImageText }}</span>
    <div id="{{ inputFieldName }}.preview-inner" class="vrtx-image-ref-preview-inner">
      <img src="/vrtx/__vrtx/static-resources/themes/default/images/no-preview-image.png" alt="{{ previewNoImageText }}" />
    </div>
  </div>
</div>

### {{! ADD, REMOVE, MOVE UP, MOVE DOWN }}

<input class="vrtx-button vrtx-{{ clazz }}-button" type="button" value="{{ buttonText }}" />

### {{! BUTTON }}

<button class="vrtx-button {{ type }}{{ name }}" type="button" id="{{ idstr }}{{ type }}">
  {{ buttonText }}
</button>

### {{! ADD BUTTON }}

<button id="vrtx-{{ name }}-add" class="vrtx-button" onclick="addFormField('{{ name }}', 1, null, '{{ size }}', {{ isBrowsable }}, {{ isMovable }}, {{ isDropdown }}, false, {{ json }}); return false;">
  {{ buttonText }}
</button>

### {{! MULTIPLE INPUTFIELD AND DROPDOWN }}

<div class="vrtx-multipleinputfield" id="{{ idstr }}row-{{ i }}">

  {{#isDropdown}}
    <div class="vrtx-dropdown">
      <select id="{{ idstr }}select-{{ i }}"> </select>
      
      {{! POPULATE DROPDOWN WITH PROP-VALUEMAP JS-ARRAY }}
      <script type="text/javascript"><!--
        $(function() {
          var {{ dropdownArray }}Html = "";
          for(var i = 0, {{ dropdownArray }}Len = {{ dropdownArray }}.length; i < {{ dropdownArray }}Len; i++) {
            if({{ dropdownArray }}[i].key === "{{ value }}") {
              {{ dropdownArray }}Html += "<option value='" + {{ dropdownArray }}[i].key + "' selected='selected'>" + {{ dropdownArray }}[i].value + "</option>";
            } else {
              {{ dropdownArray }}Html += "<option value='" + {{ dropdownArray }}[i].key + "'>" + {{ dropdownArray }}[i].value + "</option>";
            }
          }
          $("select[id='{{ idstr }}select-{{ i }}']").append({{ dropdownArray }}Html);
        });
      // -->
      </script>
    </div>
  {{/isDropdown}}

  {{^isDropdown}}
    {{#json}}
      {{./}}
        <div class="vrtx-multipleinputfield-json-wrapper">
          <label for="{{ idstr }}{{name}}-{{ i }}">{{ title }}</label>
          <input class="vrtx-textfield {{ type }}" value="{{ val }}" type="text" size="{{ size }}" id="{{ idstr }}{{name}}-{{ i }}" />
        </div>
      {{./}}
    {{/json}}
    {{^json}}
      <input class="vrtx-textfield {{ idstr }}{{ i }}" value="{{ value }}" type="text" size="{{ size }}" id="{{ idstr }}{{ i }}" />
    {{/json}}
  {{/isDropdown}}
  
  {{{ browseButton }}}
  {{{ removeButton }}}
  {{{ moveUpButton }}}
  {{{ moveDownButton }}}
</div>

### {{! ACCORDION }}
<div class="accordion-wrapper {{clazz}}">
  <h{{level}} class="header" id="{{id}}">{{{title}}}</h{{level}}>
  <div class="accordion-content">{{{content}}}</div>
</div>