{{! BUTTON }}

<div class="vrtx-button">
  <button class="{{ type }}{{ name }}" type="button" id="{{ idstr }}{{ type }}">
    {{ buttonText }}
  </button>
</div>

###

{{! ADD BUTTON }}

<div id="vrtx-{{ name }}-add" class="vrtx-button">
  <button onclick="addFormField('{{ name }}', null, '{{ removeName }}', '{{ moveUpName }}','{{ moveDownName }}', 
                                '{{ browseName }}', '{{ size }}', {{ isBrowsable }}, false, {{ isMovable }}, {{ isDropdown }}); return false;">
    {{ buttonText }}
  </button>
</div>

###

{{! MULTIPLE INPUTFIELD AND DROPDOWN }}

<div class="vrtx-multipleinputfield" id="{{ idstr }}row-{{ i }}">
  {{#isDropdown}}
    <div class="vrtx-dropdown">
      <select id="{{ idstr }}select-{{ i }}"> </select>
      <script type="text/javascript"><!--
        $(function() {
          var {{ dropdownArray }}html = "";
          for(var i = 0, {{ dropdownArray }}Len = {{ dropdownArray }}.length; i < {{ dropdownArray }}Len; i++) {
            if({{ dropdownArray }}[i].key === "{{ value }}") {
              {{ dropdownArray }}html += "<option value='" + {{ dropdownArray }}[i].key + "' selected='selected'>" + {{ dropdownArray }}[i].value + "</option>";  
            } else {
              {{ dropdownArray }}html += "<option value='" + {{ dropdownArray }}[i].key + "'>" + {{ dropdownArray }}[i].value + "</option>"; 
            }
          }
          $("select[id='{{ idstr }}select-{{ i }}']").append({{ dropdownArray }}html);
        });
      // -->
      </script>
    </div>
  {{/isDropdown}}
  {{^isDropdown}}
    <div class="vrtx-textfield">
      <input value="{{ value }}" type="text" size="{{ size }}" id="{{ idstr }}{{ i }}" />
    </div>
  {{/isDropdown}}
  
  {{{ browseButton }}}
  {{{ removeButton }}}
  {{{ moveUpButton }}}
  {{{ moveDownButton }}}
</div>