<div class="{{ classes }}">
  <label for="{{ inputFieldName  }}">{{ elemTitle }}</label>
  <div class="inputfield vrtx-textfield">
    <input size="40" type="text" name="{{ inputFieldName }}" id="{{ inputFieldName }}" />
  </div>
</div>

