{{! STRING }}

<div class="{{ classes }}">
  <label for="{{ inputFieldName  }}">{{ elemTitle }}</label>
  <div class="inputfield vrtx-textfield">
    <input size="40" type="text" name="{{ inputFieldName }}" id="{{ inputFieldName }}" />
  </div>
</div>

### {{! HTML }}

<div class="{{ classes }}">
  <label for="{{ inputFieldName  }}">{{ elemTitle }}</label>
  <textarea name="{{ inputFieldName }}" id="{{ inputFieldName }} rows="7" cols="60" ></textarea>
</div>

### {{! RADIO }}

<div class="vrtx-radio">
  <div>
    <label>{{ elemTitle }}</label>
  </div>

  <input name="{{ inputFieldName }}" id="{{ inputFieldName }}-true" type="radio" value="true" />
  <label for="{{ inputFieldName }}-true">True</label>

  <input name="{{ inputFieldName }}" id="{{ inputFieldName }}-false" type="radio" value="false" />
  <label for="{{ inputFieldName }}-false">False</label>
</div>

### {{! DROPDOWN}}

<div class="{{ classes }}">
  <label for="{{ inputFieldName }}">{{ elemTitle }}</label>
  <div class="inputfield">
    <select id="{{ inputFieldName }}" name="{{ inputFieldName }}">
      {{#options}}
         <option value="{{ key }}">{{ value }}</option>
      {{/options}} 
    </select>
  </div>
</div>

### {{! DATE }}

<div class="vrtx-string">
  <label for="{{ inputFieldName }}">{{ elemTitle }}</label>
  <div class="inputfield vrtx-textfield">
    <input size="20" type="text" name="{{ inputFieldName }}" id="{{ inputFieldName }}" value="" class="date" />
  </div>
</div>

### {{! BROWSE }}

<div class="{{ class }}">
  <div class="{{ class }}-label">
    <label for="{{ inputFieldName }}">{{ elemTitle }}</label>
  </div>
  <div class="{{ class }}-browse">
    <div class="vrtx-textfield">
      <input type="text" name="{{ inputFieldName }}" id="{{ inputFieldName }}" onblur="{{ onBlur }}" value="" size="{{ size }}" />
    </div>
    <div class="vrtx-button">
      <button type="button" onclick="browseServer('{{ inputFieldName }}', '{{ fckEditorBaseUrl }}', '{{ parentURI }}', '{{ fckBrowsePath }}', '{{ type }}');">
        {{ browseButtonText }}
      </button>
    </div>
  </div>
  {{{ preview }}}
</div>
