<div class="{{ classes }}">
  <label for="{{ inputFieldName }}">{{ elemTitle }}</label>
  <div class="inputfield">
    <select id="{{ inputFieldName }}" name="{{ inputFieldName }}">
      {{#options}}
         <option value="{{ key }}">{{ value }}</option>
      {{/options}} 
    </select>
  </div>
</div>

###

<div class="{{ classes }}">
  <label for="{{ inputFieldName  }}">{{ elemTitle }}</label>
  <div class="inputfield vrtx-textfield">
    <input size="40" type="text" name="{{ inputFieldName }}" id="{{ inputFieldName }}" />
  </div>
</div>

###

<div class="{{ classes }}">
  <label for="{{ inputFieldName  }}">{{ elemTitle }}</label>
  <textarea name="{{ inputFieldName }}" id="{{ inputFieldName }} rows="7" cols="60" ></textarea>
</div>

###

<div class="vrtx-radio">
  <div>
    <label>{{ elemTitle }}</label>
  </div>

  <input name="{{ inputFieldName }}" id="{{ inputFieldName }}-true" type="radio" value="true" />
  <label for="{{ inputFieldName }}-true">True</label>

  <input name="{{ inputFieldName }}" id="{{ inputFieldName }}-false" type="radio" value="false" />
  <label for="{{ inputFieldName }}-false">False</label>
</div>

###

<div class="vrtx-image-ref">
  <div class="vrtx-image-ref-label">
    <label for="{{ inputFieldName }}">{{ elemTitle }}</label>
  </div>
  <div class="vrtx-image-ref-browse">
    <div class="vrtx-textfield">
      <input type="text" id="{{ inputFieldName }}" name="{{ inputFieldName }}"
             value="" onblur="previewImage('{{ inputFieldName }}');" size="30" />
    </div>
    <div class="vrtx-button">
      <button type="button" onclick="browseServer('{{ inputFieldName }}', '{{ fckEditorBaseUrl }}', '{{ parentURI }}', '{{ fckBrowsePath }}');">
        {{ browseButtonText }}
      </button>
    </div>
    <div id="{{ inputFieldName }}.preview"></div>
  </div>
</div>

###

<div class="vrtx-resource-ref-browse">
  <div class="vrtx-resource-ref-browse-label">
    <label for="{{ inputFieldName }}">{{ elemTitle }}</label>
  </div>
  <div class="vrtx-resource-ref-browse-browse">
    <div class="vrtx-textfield">
      <input type="text" name="{{ inputFieldName }}" id="{{ inputFieldName }}" value="" size="40" />
    </div>
    <div class="vrtx-button">
      <button type="button" onclick="browseServer('{{ inputFieldName }}', '{{ fckEditorBaseUrl }}', '{{ parentURI }}', '{{ fckBrowsePath }}', 'File');">
        {{ browseButtonText }}
      </button>
    </div>
  </div>
</div>

###

<div class="vrtx-string">
  <label for="{{ inputFieldName }}">{{ elemTitle }}</label>
  <div class="inputfield vrtx-textfield">
    <input size="20" type="text" name="{{ inputFieldName }}" id="{{ inputFieldName }}" value="" class="date" />
  </div>
</div>

###

<div class="vrtx-media-ref">
  <div>
    <label for="{{ inputFieldName }}">{{ elemTitle }}</label>
  </div>
  <div>
    <div class="vrtx-textfield">
      <input type="text" id="{{ inputFieldName }}" name="{{ inputFieldName }}" value="" size="30" />
    </div>
    <div class="vrtx-button">
      <button type="button" onclick="browseServer('{{ inputFieldName }}', '{{ fckEditorBaseUrl }}', '{{ parentURI }}', '{{ fckBrowsePath }}', 'Media');">
        {{ browseButtonText }}
      </button>
    </div>
  </div>
</div>
