<div class="{{ classes }}">
  <label for="{{ inputFieldName }}">{{ elemTitle }}</label>
  <div class="inputfield">
    <select id="{{ inputFieldName }}" name="{{ inputFieldName }}">
      {{#options}}
         <option value="{{ key }}">{{ value }}</option>
      {{/options}} 
    </select>
  </div>
</div>
###
<div class="{{ classes }}">
  <label for="{{ inputFieldName  }}">{{ elemTitle }}</label>
  <div class="inputfield vrtx-textfield">
    <input size="40" type="text" name="{{ inputFieldName }}" id="{{ inputFieldName }}" />
  </div>
</div>



