<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!--document:comments-feed-link />
    <css:article /-->
    <title><article:title flatten="true" /></title>
  </head>
  <body>
    <h1><article:title /></h1>
    <article:introduction />
    <article:introduction-image />
    <article:media-refs />
    <div class="vrtx-byline">
      <article:authors />
      <article:published-date />
    </div>
    <document:body />
    <resource:tags />
    <document:comments />
  </body>
</html>
