<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <resource:comments-feed-link />
    <article:css />
    <title><event:title flatten="true" /></title>
  </head>
  <body>
    <event:title />
    <resource:introduction-image />
    <resource:introduction />
    <resource:media-refs />
    <div class="vrtx-byline">
      <event:event-info />
    </div>
    <event:content />
    <resource:tags />
    <resource:comments />
  </body>
</html>
