@import url(comments-component.css);

/* Ingress */
div.vrtx-introduction {
	margin: 0;
	padding: 0;
}

/* Bilde uten bildetekst */
img.vrtx-introduction-image {
	float: right;
	margin: 0em 0em 1em 1em;
	/*border: 1px solid #ddd;
	  max-width: 300px; 
  	  width: expression(this.width > 300 ? 300: true); */
}

/* Bilde med bildetekst */
div.vrtx-introduction-image {
	/*border: 1px solid #ddd;*/
	float: right;
	margin: 0em 0em 1em 1em;
}

div.vrtx-introduction-image img {
}

div.vrtx-introduction-image div.vrtx-imagetext {
   /* border-color: #ccc; */
   /* border-style: none solid solid; */
   /* border-width: medium 1px 1px; */
   /* margin: 0 0 1em 0; */
   /* overflow: hidden; */
   /* background: #eee; */
}

div.vrtx-introduction-image div.vrtx-imagetext div.vrtx-imagedescription {
   margin: 1em 0;
   padding: 0;	
}

/* IE6 / IE7 margin tweak */
div.vrtx-introduction-image div.vrtx-imagetext div.vrtx-imagedescription p {
   margin: 0;
}

div.vrtx-introduction-image div.vrtx-imagetext span.vrtx-photo {
   display: block; /* Make it same as vrtx-imagedescription */
   margin: 1em 0;
   padding: 0;
   /* font-style: italic; */
}

div.vrtx-introduction-image div.vrtx-imagetext span.vrtx-photo span.vrtx-photo-prefix {
   margin: 0;
   padding: 0;	
}

div.vrtx-introduction-image div.vrtx-imagetext span.vrtx-imagetitle {
	font-weight: bold;
}

object#audioplayer1 {
	margin-top: -0.5em;
	margin-bottom: 0.5em;
}

object#videoplayer1,embed {
	margin-bottom: 1em;
}

/* Start, slutt og sted */

abbr {
	text-decoration: none;
	border-bottom: 0;
}

span.time-and-place {
        font-weight: bold;
}


span.vrtx-add-event {
	border-left: 1px solid #aaa;
    white-space: nowrap;
    height: .8em;
	margin:.1em 0 .1em .2em;
}

span.vrtx-add-event a.vrtx-ical {
	padding-left: 0.7em;
	font-size: 11px;
	color: #555;
	position: relative; 
	vertical-align: 15%;
}

span.vrtx-add-event a.vrtx-ical-help {
       background: url(icons/icon-info.gif) no-repeat;
       background-position: 87% 50%;
       padding: 0px 10px 0px 10px;
       zoom: 1; /* IE hack to get background image to display. Too be fixed. */
}

.vrtx-number-of-comments-add-event-container{
  display: inline;	
}

span.vrtx-authors {
 display:block;
} 

/* Media-ref */
a.vrtx-media {
	white-space: nowrap;
	width: 1%;
	margin-bottom: 1em;
	display: block;
}
