body#vrtx-report-diagram h2 {
  background: url(../images/line-dotted.gif) repeat-x bottom left;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

body#vrtx-report-diagram div.vrtx-report-diagram h3 {
  margin-top: 0px;
}

.vrtx-report-nav .back {
  margin-bottom: 15px;
  padding-left: 13px;
  background: url(../images/back-link-grey.png) no-repeat left center;
}

ul.vrtx-reporters {
  list-style-type: none;
  padding-left: 2px;
  margin-left: 0px;
}

h3.vrtx-reporters-title {
  margin: 25px 0 0 0;
}

h3.vrtx-reporters-title,
ul.vrtx-primary-reporters,
ul.vrtx-reporters {
  clear: both;
  width: 100%;
  float: left;
}

ul.vrtx-primary-reporters {
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
}

ul.vrtx-primary-reporters.first {
  margin: 0;
}

ul.vrtx-primary-reporters li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.vrtx-primary-reporters li {
  float: left;
}

ul.vrtx-primary-reporters li a {
  width: 200px;
  padding: 15px;
  margin: 0 30px 0 0;
  border: 1px solid #d9d9d9;
  background: #f9f9f9;
  float: left;
  display: block;
  min-height: 90px;
}

ul.vrtx-primary-reporters li a:hover {
  background-color: #ecf3f9; 
  text-decoration: none;
}

ul.vrtx-primary-reporters li span.vrtx-primary-reporters-title {
  font-size: 1.077em;
  display: block;
  margin: 0 0 12px 0;
}

ul.vrtx-primary-reporters img.vrtx-primary-reporters-image {
  clear: left;
  float: left;
  margin: 0 15px 0 0;
}

ul.vrtx-primary-reporters li span.vrtx-primary-reporters-info {
  color: #363534;
}

div.vrtx-report div.vrtx-subfolder-menu {
  border: none;
}

div.vrtx-permission-tree {
  position: relative;
  min-height: 219px;
  padding: 0 0 90px 0;
}

div.vrtx-permission-tree span.file a,
div.vrtx-permission-tree span.folder a {
  text-decoration: none !important;
  color: #363534 !important;
}

.vrtx-report-paging {
  float: right;
}

#vrtx-report-paging-bottom {
  margin-top: 10px;
}

div.vrtx-report-diagram {
  clear: left;
  background: url(../images/line-dotted.gif) repeat-x bottom left;
  padding-bottom: 25px;
  margin-bottom: 15px;
  float: left;
  width: 100%;
}

div.vrtx-report-diagram.vrtx-report-diagram-last {
  margin-bottom: 0px;
  padding-bottom: 0px;
  background: none;
}

div.vrtx-report-diagram-table {
  clear: left;
  float: left;
  width: 214px;
}

div.vrtx-report-diagram-img {
  float: left;
  margin: -20px 0 20px 0;
}

tr.vrtx-report-diagram-total td {
  padding-top: 10px;
}

td.vrtx-report-diagram-count {
  font-size: 1.154em;
  text-align: right;
  padding-left: 20px;
}

td.vrtx-report-diagram-text {
  font-size: 1.154em;
  width: 115px;
}

.report-urchin {
  float: left;
  margin: 0 20px 15px 0;
}

.report-urchin.last {
  margin-right: 0px;
}

.report-urchin table {
  table-layout: fixed;
  width: 275px;
  padding: 5px 0 0 0;
}

.report-urchin table td {
  word-wrap: break-word;
  border-top: 1px solid #f0f0f0;
  padding: 5px 15px 4px 0;
  overflow: hidden;
  vertical-align: top;
}

.report-urchin table th {
  background: url(../images/line-dotted.gif) repeat-x bottom left;
  padding: 0 15px 8px 0;
  text-align: left;
  white-space: nowrap;  
}

.report-urchin table th.report-urchin-table-data-title {
  width: 60%;
}

.report-urchin table th.report-urchin-table-data-count {
  width: 24px;
}

.report-urchin table td.report-urchin-table-data-count {
  white-space: nowrap;
}

.report-urchin table th.report-urchin-table-data-number {
  width: 25%;
}

/* NEXT VERSION
#vrtx-report-broken-links-info {
  font-size: 1.077em;
  margin: 0 0 15px 0;
}

#vrtx-report-broken-links-info .vrtx-report-broken-links-info-number {
  font-size: 1.286em;
  font-weight: bold;
  color: #959595;
}
*/

/* Broken links */

td.vrtx-report-broken-links li {
  background: url(../images/list-bullet-dark-grey.png) no-repeat center left;
  padding: 0 0 0 10px;
  margin: 0 0 5px 0;
}

/* Filters */

#vrtx-report-filters {
  width: 100%;
  float: left;
  clear: both;
}

#vrtx-report-filters ul {
  margin-right: 25px;
  margin-bottom: 15px;
  float: left;
}

#vrtx-report-filters ul li {
  float: left;
  margin-right: 15px;
  display: inline-block;
  white-space: nowrap;
  overflow: visible;
  height: 22px;
}

#vrtx-report-filters ul li.active-filter span,
#vrtx-report-filters ul li a {
  height: 19px;
  padding: 3px 13px 0 14px;
  display: inline-block;
}

#vrtx-report-filters ul li.active-filter,
#vrtx-report-filters ul li.active-filter:hover {
  background: url(../images/report-filter-active-left.png) no-repeat 0 0;
}

#vrtx-report-filters ul li.active-filter span,
#vrtx-report-filters ul li.active-filter:hover span {
  background: url(../images/report-filter-active-right.png) no-repeat top right;
  display: inline-block;
  color: #fff;
}

#vrtx-report-filters ul li:hover {
  background: url(../images/report-filter-hover-left.png) no-repeat 0 0;
}

#vrtx-report-filters ul li:hover a {
  background: url(../images/report-filter-hover-right.png) no-repeat top right;
  color: #363534;
  text-decoration: none;
}

/* ^ Filters */

/* ^ Broken links */

/* Tooltip */

.tip {
  display: none;
  /* Progressive enhancements */
  /*-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 11px #666;
  -moz-box-shadow: 2px 2px 11px #666;
  box-shadow: 2px 2px 11px #666;*/
}

.tip .inherited-permissions table td {
  color: #999;
}

.tip.file,
.tip.folder {
  background-repeat: no-repeat;
  background-position: 12px 10px;
}

.tip.file #title {
  padding-left: 22px;
}

.tip.folder #title {
  padding-left: 26px;
}

.tip.allowed-for-all.folder               { background-image: url(../images/folder-small.gif);                            }
.tip.allowed-for-all.not-inherited.folder { background-image: url(../images/folder-small-own-permissions.gif);            }
.tip.allowed-for-all.file                 { background-image: url(../images/file-small.gif);                              }
.tip.allowed-for-all.not-inherited.file   { background-image: url(../images/file-small-own-permissions.gif);              }
.tip.restricted.folder                    { background-image: url(../images/folder-small-restricted.gif);                 }
.tip.restricted.not-inherited.folder      { background-image: url(../images/folder-small-restricted-own-permissions.gif); }
.tip.restricted.file                      { background-image: url(../images/file-small-restricted.gif);                   }
.tip.restricted.not-inherited.file        { background-image: url(../images/file-small-restricted-own-permissions.gif);   }

.tip table td {
  padding: 2px 6px 2px 0;
  vertical-align: top;
}

/* ^ Tooltip */

/* Help */

div.vrtx-report #vrtx-report-help {
  background: #fff;
  position: absolute;
  top: 20px;
  left: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 160px;
}

#vrtx-report-help-restricted,
#vrtx-report-help-allowed-for-all {
  padding-left: 27px;
}

/*
#vrtx-report-help-inherited {
  background: url(images/treeview-gray-line-4px-extra.gif) no-repeat -5px 0;
}

#vrtx-report-help-not-inherited {
  background: url(images/treeview-gray-line-not-inherited.gif) no-repeat -5px 0;
}
*/

.vrtx-report-help-allowed-for-all-inherited-folder,
.vrtx-report-help-allowed-for-all-not-inherited-folder {
  width: 21px;
  height: 19px;
}

.vrtx-report-help-restricted-inherited-file,
.vrtx-report-help-allowed-for-all-inherited-file,
.vrtx-report-help-allowed-for-all-not-inherited-file {
  width: 16px;
  height: 20px;
}

.vrtx-report-help-allowed-for-all-inherited-folder,
.vrtx-report-help-allowed-for-all-not-inherited-folder,
.vrtx-report-help-restricted-inherited-file,
.vrtx-report-help-allowed-for-all-inherited-file,
.vrtx-report-help-allowed-for-all-not-inherited-file {
  display: block;
  float: left;
  margin-right: 6px;
}


#vrtx-report-help-restricted,
#vrtx-report-help-allowed-for-all {
  height: 19px;
}

#vrtx-report-help-restricted {
  background: url(../images/folder-small-restricted.gif) no-repeat 0 0;
}

#vrtx-report-help-allowed-for-all {
  background: url(../images/folder-small.gif) no-repeat 0 0;
}

.vrtx-report-help-allowed-for-all-inherited-folder {
  background: url(../images/folder-small.gif) no-repeat 0 0;
}

.vrtx-report-help-allowed-for-all-not-inherited-folder {
  background: url(../images/folder-small-own-permissions.gif) no-repeat 0 0;
}

.vrtx-report-help-restricted-inherited-file {
  background: url(../images/file-small-restricted.gif) no-repeat 0 0;
}

.vrtx-report-help-allowed-for-all-inherited-file {
  background: url(../images/file-small.gif) no-repeat 0 0;
}

.vrtx-report-help-allowed-for-all-not-inherited-file {
  background: url(../images/file-small-own-permissions.gif) no-repeat 0 0;
}

/* ^ Help */