ul.vrtx-reporters {
  list-style-type: none;
  padding-left: 2px;
}

ul.vrtx-reporters li {
  padding-bottom: 0.15em;	
}

div.vrtx-report div.vrtx-subfolder-menu {
  border: none;
}

div.vrtx-report table#vrtx-report-last-modified-list {
  clear: both;
  font-weight: normal;
  font-size: 100%;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #b0e0e6;
}

div.vrtx-report table#vrtx-report-last-modified-list th {
  padding: 3px;
  text-align: left;
  font-weight: bold;
  font-size: 80%;
  background-color: #eeeeee;
  border: none;
}

div.vrtx-report table#vrtx-report-last-modified-list td {
  background-color: #fff;
  padding: 3px;
  padding-right: 15px;
  border: none;
}

div.vrtx-report table#vrtx-report-last-modified-list tr {
  border: none;
}

div.vrtx-report table#vrtx-report-last-modified-list td.vrtx-report-last-modified {
  white-space: nowrap;
}

div.vrtx-report table#vrtx-report-last-modified-list tr.even td {
  background-color: #eeeeee;
}