body#vrtx-report-diagram h2 {
  background: url(../images/line-dotted.gif) repeat-x bottom left;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.vrtx-report-nav .back {
  margin-bottom: 15px;
  padding-left: 13px;
  background: url(../images/back-link-grey.png) no-repeat left center;
}

ul.vrtx-reporters {
  list-style-type: none;
  padding-left: 2px;
  margin-left: 0px;
}

h4.vrtx-reporters-title {
  margin: 25px 0 0 0;
}

h4.vrtx-reporters-title,
ul.vrtx-reporters {
  clear: both;
  width: 100%;
  float: left;
}

ul.vrtx-primary-reporters,
ul.vrtx-primary-reporters li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.vrtx-primary-reporters li {
  float: left;
}

ul.vrtx-primary-reporters li a {
  width: 200px;
  padding: 15px;
  margin: 0 30px 0 0;
  border: 1px solid #d9d9d9;
  background: #f9f9f9;
  float: left;
  display: block;
}

ul.vrtx-primary-reporters li a:hover {
  background-color: #ecf3f9; 
  text-decoration: none;
}

ul.vrtx-primary-reporters li span.vrtx-primary-reporters-title {
  font-size: 1.077em;
  display: block;
  margin: 0 0 12px 0;
}

ul.vrtx-primary-reporters img.vrtx-primary-reporters-image {
  clear: left;
  float: left;
  margin: 0 15px 0 0;
}

ul.vrtx-primary-reporters li span.vrtx-primary-reporters-info {
  color: #363534;
}

div.vrtx-report div.vrtx-subfolder-menu {
  border: none;
}

div.vrtx-permission-tree {
  position: relative;
  min-height: 219px;
}

div.vrtx-permission-tree span.file a {
  text-decoration: none !important;
  color: black !important;
}

.vrtx-report-paging {
  float: right;
}

#vrtx-report-paging-bottom {
  margin-top: 10px;
}

div.vrtx-report-break {
  clear: left;
  background: url(../images/line-dotted.gif) repeat-x bottom left;
  padding-bottom: 25px;
  margin-bottom: 15px;
}

div.vrtx-report-diagram {
  clear: left;
}

div.vrtx-report-diagram-table {
  clear: left;
  float: left;
  width: 220px;
}

div.vrtx-report-diagram-img {
  float: left;
  margin-top: -20px;
}

tr.vrtx-report-diagram-total td {
  padding-top: 10px;
}

td.vrtx-report-diagram-count {
  font-size: 1.154em;
  text-align: right;
  padding-left: 30px;
}

td.vrtx-report-diagram-text {
  font-size: 1.154em;
  width: 100px;
}

/* Tooltip */

.tip {
  display: none;
  /* Progressive enhancements */
  /*-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 11px #666;
  -moz-box-shadow: 2px 2px 11px #666;
  box-shadow: 2px 2px 11px #666;*/
}

.tip .inherited-permissions table td {
  color: #999;
}

.tip.file,
.tip.folder {
  background-repeat: no-repeat;
  background-position: 12px 14px;
}

.tip.file #title,
.tip.folder #title {
  padding-left: 18px;
}

.tip.allowed-for-all.folder {
  background-image: url(images/folder-closed-allowed-for-all.gif);
}
.tip.allowed-for-all.not-inherited.folder {
  background-image: url(images/folder-closed-allowed-for-all-not-inherited.gif);
}
.tip.restricted.folder {
  background-image: url(images/folder-closed-restricted.gif);
}
.tip.restricted.not-inherited.folder {
  background-image: url(images/folder-closed-restricted-not-inherited.gif);
}
.tip.restricted.file {
  background-image: url(images/file-restricted.gif);
}
.tip.restricted.not-inherited.file {
  background-image: url(images/file-restricted-not-inherited.gif);
}
.tip.allowed-for-all.file {
  background-image: url(images/file-allowed-for-all.gif);
}
.tip.allowed-for-all.not-inherited.file {
  background-image: url(images/file-allowed-for-all-not-inherited.gif);
}

.tip table td {
  padding: 2px 6px 2px 0;
  vertical-align: top;
}

/* ^ Tooltip */

/* Help */

div.vrtx-report #vrtx-report-help {
  background: #fff;
  position: absolute;
  top: 20px;
  left: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 160px;
}

#vrtx-report-help-restricted,
#vrtx-report-help-allowed-for-all,
#vrtx-report-help-inherited,
#vrtx-report-help-not-inherited {
  padding-left: 18px;
}

#vrtx-report-help-restricted {
  background: url(images/folder-closed-restricted.gif) no-repeat 0 0;
}

#vrtx-report-help-allowed-for-all {
  background: url(images/folder-closed-allowed-for-all.gif) no-repeat 0 0;
}

#vrtx-report-help-inherited {
  background: url(images/treeview-gray-line-4px-extra.gif) no-repeat -5px 0;
}

#vrtx-report-help-not-inherited {
  background: url(images/treeview-gray-line-not-inherited.gif) no-repeat -5px 0;
}

#vrtx-report-help-allowed-for-all-inherited-folder,
#vrtx-report-help-allowed-for-all-not-inherited-folder,
#vrtx-report-help-restricted-inherited-file,
#vrtx-report-help-allowed-for-all-inherited-file,
#vrtx-report-help-allowed-for-all-not-inherited-file {
  width: 16px;
  height: 14px;
  display: block;
  float: left;
  margin-right: 3px;
}

#vrtx-report-help-allowed-for-all-inherited-folder {
  background: url(images/folder-closed-allowed-for-all.gif) no-repeat 0 0;
}

#vrtx-report-help-allowed-for-all-not-inherited-folder {
  background: url(images/folder-closed-allowed-for-all-not-inherited.gif) no-repeat 0 0;
}

#vrtx-report-help-restricted-inherited-file {
  background: url(images/file-restricted.gif) no-repeat 0 0;
}

#vrtx-report-help-allowed-for-all-inherited-file {
  background: url(images/file-allowed-for-all.gif) no-repeat 0 0;
}

#vrtx-report-help-allowed-for-all-not-inherited-file {
  background: url(images/file-allowed-for-all-not-inherited.gif) no-repeat 0 0;
}

/* ^ Help */
