<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

  <import resource="classpath:/vortikal/beans/vhost/main.xml" />
  

  <bean id="stdReqFilter" class="org.vortikal.web.filter.StandardRequestFilter"
        parent="defaultRequestFilterCategoryBean">
    <property name="urlReplacements" ref="stdReqFilter.urlReplacements" />
    <property name="xForwardedFor" value="${request.xForwardedFor}" />
    <property name="requestForwardFieldHeader" value="${request.forwardFieldHeader}" />
  </bean>

  <bean id="stdReqFilter.urlReplacements"
        class="org.springframework.beans.factory.config.MapFactoryBean">
    <property name="sourceMap">
      <map>
        <!--
            <entry key="\+" value="%2B" />
        -->
      </map>
    </property>
  </bean>


</beans>
