<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>
  <servlet id="vortikalServlet"> 
    <servlet-name>vortikal</servlet-name>
	<servlet-class>org.vortikal.web.servlet.VortikalServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
    	<init-param>
          <param-name>contextConfigLocation</param-name>
          <param-value>/WEB-INF/applicationContext.xml,file://${user.home}/*vortikal.xml,file://${user.home}/*vrtx-context.xml</param-value>
        </init-param>
  </servlet>  
  
  <servlet-mapping>
    <servlet-name>vortikal</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping> 

</web-app>
