<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  

  <!--
  <bean id="extensionsLoader" class="org.vortikal.beans.factory.PropertyBeanDefinitionLoader">
    <property name="location" value="classpath:vortikal-custom.properties" />
    <property name="propertyName" value="standardExtensions" />
    <property name="ignoreResourceNotFound" value="true" />
  </bean>
  -->

  <import resource="classpath:/vortikal/beans/vhost/main.xml" />

  <import resource="extensions.xml" />



   <bean id="propertyConfigurer"
         class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
     <property name="ignoreResourceNotFound" value="true" />
     <property name="locations">
       <list>
         <value>classpath:/vortikal/beans/vortikal.properties</value>
         <value>classpath:vortikal-custom.properties</value>
       </list>
     </property>
   </bean>

   <!--
   <bean id="propertyConfigurer"
         class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
     <property name="ignoreResourceNotFound" value="true" />
     <property name="locations">
       <list>
         <value>WEB-INF/beans/vortikal.properties</value>
         <value>classpath:vortikal-custom.properties</value>
       </list>
     </property>
   </bean>
   -->
</beans>
