h1, h2, h3, h4, h5, h6, div, pre, blockquote, form, label, ul, li {margin:0;padding:0;}

/* Need to override classes from basic.css */

div#titleContainer { 
	margin: 0;
	padding: 0;
}
 
div.resource-title h1 {
	float: left;
        display: inline;
    	font-size: 125%;
    	font-weight: bold;
}

table.directoryListing th {
        background: #F9F0BD;
}

table tr.even {
        background: #F9F0BD;
}

/* Banner section: */

div.banner {
        background: #F9F0BD url(uio-logo-copy-move.png) no-repeat 15px 50%;
        border-color: #807743;
}

.close {
        padding-right: 15px;
	padding-left: 20px;
        background: transparent url(close.gif) no-repeat 1px 0px;
}

/* aboveBreadCrumbMessage */

div.aboveBreadCrumbMessage { 
        border: thin dotted #CCCCCC;
        padding: 5px 0 5px 0;
        margin-bottom: 10px;
        font-size: 115%;
        font-weight: bold;
        color: #333;
        text-align: center;
}

