<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <import resource="classpath:/vortikal/beans/vhost/config/property-configurer.xml" />
  <import resource="classpath:/vortikal/beans/vhost/main.xml" />
  <import resource="extensions.xml" />
  
  <bean id="stdReqFilter" class="org.vortikal.web.filter.StandardRequestFilter"
        parent="defaultRequestFilterCategoryBean">
    <property name="urlReplacements" ref="stdReqFilter.urlReplacements" />
    <property name="xForwardedFor" value="${request.xForwardedFor}" />
    <property name="requestForwardFieldHeader" value="${request.forwardFieldHeader}" />
  </bean>

  <!-- Fix for resin 3.0 -->
  <bean id="stdReqFilter.urlReplacements"
        class="org.springframework.beans.factory.config.MapFactoryBean">
    <property name="sourceMap">
      <map>
        <entry key="\+" value="%2B" />
      </map>
    </property>
  </bean>
  
</beans>
