<?xml version="1.0" encoding="UTF-8"?>
<web-app id="VTK" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <servlet id="vtkServlet"> 
    <servlet-name>vtk</servlet-name>
    <servlet-class>vtk.web.servlet.VTKServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/applicationContext.xml,file://${user.home}/*vtk.xml,file://${user.home}/*vrtx-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>  
  
  <servlet-mapping>
    <servlet-name>vtk</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping> 

</web-app>
