/* Vortex overriding section */

div.activeTab { 
	background-color: #efefef;
	border-bottom: 0px; 
}

div.tabs ul li.activeTab a, div.tabs ul li.activeTab a:hover {
	background-color: #efefef;
}

#contents {
        background-color: #efefef;
}

form.editor {
        padding:0; margin: 0;
        margin-top: -8px;
}

.properties div, div.html-content {
        margin-bottom: 1em; 
}


iframe {
        background-color: white;
        border: 1px solid #ddd;
}

label {
       display: block;
       margin-bottom: .2em;
       width:1%;
}

/* START: introduction */
.introduction {
  margin-right: 19em;
}

.introduction iframe{
  height: 8.5em;
}


div.picture {
  float:right;
  margin-top: -10.9em;
}

div.picture img {
  height: 100px;
  width: auto;
}

div.picture div {
  border: 1px solid #ccc;
  margin-top: 8px;
  height: 105px;
  width: 170px;
  overflow: hidden;
  
}

/* END introduction */

/* START time and place */

div.end-date {
  margin-left: 13em;
  margin-top: -3.7em;
}

div.location {
  margin-left: 26em;
  margin-top: -3.71em;
}

span.colon {padding: 0 .2em;}
/* END time and place */


.html-content iframe {
  height: 300px;
}



/* START: YUI calendar */

a.calendar {
  width: 19px;
  height: 19px;
  background: url(cal.gif) no-repeat 0 0;
  text-decoration: none;
}

a.calendar span {
  visibility:hidden;
}

.yui-calcontainer{
   font-size: 11px; 
   position:absolute; 
   float: none;
   margin-left: 11em;
   margin-top: -18em; 
   background-color:#f7f7f7;
   padding-top: 5px;
}

a.calnavleft{
  left: 0 !important;
}

a.calnavright{
  right: 0 !important;
}

td.calcell.oom{
  background-color:#eee !important;
  color: #666 !important;
}

.calheader {
  margin-bottom: 0 !important;
}

/* END: YUI calendar */
