div.breadcrumb {
  font-size: .8em;
} 

/* legges i uio-collectionlisting.css */

a.vrtx-manage-url {
  display: block;
  margin-top: 1em;
  font-size: .8em;
  float:right;
  clear:both; 
  margin-right: 20px;
} 

div.body {
  padding: 15px 20px 0 29px; 
}

div.navmarginbrod { 
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 20px;
}
 

span.signatur {  
    margin-left: 29px;
}

hr { 
    margin-left: 29px;
} 
