/* START manage:manageURL */

a.vrtx-manage-url {
  font-size: .8em;
  float:right;
} 

/* END manage:manageURL */


/* START feed:include */

div.vrtxFeed {
  float:right;
  width: 15em;
  padding: 0.5em;
  border: 1px solid #999;
}


div.vrtxFeed a.feedTitle {
  display:block;
  font-size: 1.2em;
  font-weight: 900;
  margin-bottom: 0.5em;
  text-decoration: none;
  color: black;
}

div.vrtxFeed a.feedTitle:hover {
  color: #999;
}

div.vrtxFeed div.feedDescription {

}

div.vrtxFeed a.all-messages {

}

div.vrtxFeed ul.items {
  margin: 1em 0px;
  padding: 0px;
  list-style: none;
}

div.vrtxFeed li {
  margin: 0.75em 0px;
}

div.vrtxFeed ul.items li a.itemTitle {
  display:block;
  margin-bottom: .2em;
}

div.vrtxFeed ul.items li div.itemDescription {
   margin-bottom: .2em;
}

div.vrtxFeed ul.items li span.publishedDate {
  font-size: .9em;
  white-space: nowrap;
}

/* END feed:include */


/* START vrtxVerticalMenu */

ul.vrtxVerticalMenu {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

ul.vrtxVerticalMenu li {
  border-top: 1px solid #666;
  margin-bottom: -1px;
  border-bottom: 1px solid #666;
}

ul.vrtxVerticalMenu li a {
  display: block;
  padding: .5em .5em .5em .2em;
  border-left: .3em solid #fff;
  color:black;
  text-decoration: none;
  height: 1%; /* triggers hasLayout in IE browsers */
}

ul.vrtxVerticalMenu li.active a {
  border-left: .3em solid #000;
  padding-left: .2em;
}

ul.vrtxVerticalMenu li a:hover, ul.vrtxVerticalMenu li.active a:hover {
  background-color: #eee;
  color: #666;
  border-left: .3em solid #666;
  padding-left: .2em;
}

/* END vrtxVerticalMenu */



/* START vrtxHorizontalMenu */

ul.vrtxHorizontalMenu {
  white-space: nowrap;
  background-color: #dfd2b0;
  padding: .3em 0;
  margin: 0;
}

ul.vrtxHorizontalMenu li {
  display:inline;
  list-type: none; 
  margin: 0px;
  padding: 0px;
}

ul.vrtxHorizontalMenu a {
  margin: 0em;
  padding: .3em .75em;
  color: #000;
  text-decoration: none;
  height: 1%; /* triggers hasLayout in IE browsers */
}

ul.vrtxHorizontalMenu li.active a {
  border-bottom: .2em solid #000;
  padding-bottom: .1em;
}


ul.vrtxHorizontalMenu a:hover, ul.vrtxHorizontalMenu li.active a:hover {
  color: #666;
  border-bottom: .2em solid #666;
  padding-bottom: .1em;
}

/* END vrtxHorizontalMenu */



/* START vrtxTabMenu */

ul.vrtxTabMenu {
  margin: 0px;
  padding: 4px 0px;
  border-bottom: 1px solid #666;
  white-space: nowrap;
}

ul.vrtxTabMenu li {
  display: inline;
  list-style: none;
  margin: 0px;
}

ul.vrtxTabMenu li a {
  text-align: center;
  text-decoration: none;
  color: #333;
  padding: 4px 15px;
  margin: 0px 1px 0px 0px;
  border: 1px solid #666; 
  background-color: #eee;
  border: 1px solid #666;
  border-bottom: none;
}

ul.vrtxTabMenu li.active a, ul.vrtxTabMenu li.active a:hover {
  color: #000; 
  padding: 5px 15px; 
  background-color: #fff; 
}

ul.vrtxTabMenu li a:hover{
  color: #000;
  padding-top: 5px; 
}

/* END vrtxTabMenu */


