/* START include:uri-menu style=[vrtx-vertical-menu] */

ul.vrtx-vertical-menu {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

ul.vrtx-vertical-menu li {
  border-top: 1px solid #ccc;
  margin-bottom: -1px;
  border-bottom: 1px solid #ccc;
}

ul.vrtx-vertical-menu li a {
  display: block;
  padding: .5em .5em .5em .2em;
  border-left: .3em solid #fff;
  color:black;
  text-decoration: none;
  height: 1%; /* triggers hasLayout in IE browsers */
}

ul.vrtx-vertical-menu li.vrtx-active-item a {
  border-left: .3em solid #000;
  padding-left: .2em;
}

ul.vrtx-vertical-menu li a:hover, ul.vrtx-vertical-menu li.vrtx-active-item a:hover {
  background-color: #eee;
  color: #666;
  border-left: .3em solid #ccc;
  padding-left: .2em;
}

/* END include:uri-menu style=[vrtx-vertical-menu] */


/* START include:uri-menu style=[vrtx-horizontal-menu] */

ul.vrtx-horizontal-menu {
  white-space: nowrap;
  background-color: #dfd2b0;
  padding: .3em 0;
  margin: 0;
}

ul.vrtx-horizontal-menu li {
  display:inline;
  list-type: none; 
  margin: 0px;
  padding: 0px;
}

ul.vrtx-horizontal-menu a {
  margin: 0em;
  padding: .3em .75em;
  color: #000;
  text-decoration: none;
  height: 1%; /* triggers hasLayout in IE browsers */
}

ul.vrtx-horizontal-menu li.vrtx-active-item a {
  border-bottom: .2em solid #000;
  padding-bottom: .1em;
}

ul.vrtx-horizontal-menu a:hover, ul.vrtx-horizontal-menu li.vrtx-active-item a:hover {
  color: #666;
  border-bottom: .2em solid #666;
  padding-bottom: .1em;
}

/* END include:uri-menu style=[vrtx-horizontal-menu] */


/* START include:uri-menu style=[vrtx-tab-menu] */

ul.vrtx-tab-menu {
  margin: 0px;
  padding: 4px 0px;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
}

ul.vrtx-tab-menu li {
  display: inline;
  list-style: none;
  margin: 0px;
}

ul.vrtx-tab-menu li a {
  text-align: center;
  text-decoration: none;
  color: #333;
  padding: 4px 15px;
  margin: 0px 1px 0px 0px;
  border: 1px solid #ccc; 
  background-color: #eee;
  border: 1px solid #ccc;
  border-bottom: none;
}

ul.vrtx-tab-menu li.vrtx-active-item a, ul.vrtx-tab-menu li.vrtx-active-item a:hover {
  color: #000; 
  padding: 5px 15px; 
  background-color: #fff; 
}

ul.vrtx-tab-menu li a:hover{
  color: #000;
  padding-top: 5px; 
}

/* END include:uri-menu style=[vrtx-tab-menu] */


/* START include:feed */

div.vrtx-feed {
  padding: 1em;
  border: 1px solid #ccc;
}

div.vrtx-feed a.feed-title {
  display:block;
  font-size: 1.2em;
  font-weight: 900;
  margin-bottom: 0.5em;
  text-decoration: none;
  color: black;
}

div.vrtx-feed a.feed-title:hover {
  color: #999;
}

div.vrtx-feed div.feed-description {

}

div.vrtx-feed a.all-messages {

}

div.vrtx-feed ul.items {
  margin: 1em 0px;
  padding: 0px;
  list-style: none;
}

div.vrtx-feed li {
  margin: 0.75em 0px;
}

div.vrtx-feed ul.items li a.item-title {
  display:block;
  margin-bottom: .2em;
}

div.vrtx-feed ul.items li div.item-description {
   margin-bottom: .2em;
}

div.vrtx-feed ul.items li span.published-date {
  font-size: .9em;
  white-space: nowrap;
}

/* END include:feed */


/* START resource:breadcrumb */

div.breadcrumb {
  font-size: .8em;
} 

/* END resource:breadcrumb */


/* START resource:subfolder-menu */

div.vrtx-subfolder-menu {
  border: 1px solid #ccc;
  padding: 1em;
  height: 1%; /* Triggers hasLayout in IE browser */
}

div.vrtx-subfolder-menu:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

div.vrtx-subfolder-menu div.menu-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: .5em;
}

div.vrtx-subfolder-menu ul {
  float:left;
  list-style-type: square;
  padding: 0 2em;
  margin: 0;
}

/* END resource:subfolder-menu */


/* START resource:tags */
span.vrtx-tags { 
  font-size: .8em;
}

/* END resource:tags */


/* START resource:manage-url */

a.vrtx-manage-url {
  font-size: .8em;
  float:right;
} 

/* END resource:manage-url */


