div.vrtx-collections {
  border: 1px solid #ccc;
  padding: 1em;
  height: 1%; /* Triggers hasLayout in IE browser */
  margin: 0 0 2em 0;
}

div.vrtx-collections:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

div.vrtx-collections h2 {
  margin: 0 0 .5em 0;
}

div.vrtx-collections table {
  width:100%;
}

div.vrtx-collections table tr {
  vertical-align: top;
}

div.vrtx-collections ul {
  list-style-type: square;
  padding: 0 0 0 1em;
  margin: 0;
}

div.vrtx-resource {
  margin: 0 0 .5em 0;  
  padding: 0 0 .5em 0;  
}

div.vrtx-resource h3 {
  margin: 0 0 .25em 0;  
}

div.vrtx-resource h3 a {
  color:#000;
  text-decoration:none;
}

div.vrtx-resource h3 a:hover {
  color:#666;
}

div.vrtx-resource div.vrtx-footer {
  font-size: .9em;
  color:#666;
}

p.sort {
  float:right;
  margin: 0 0 1em 1em;
  font-size: .8em;
}

